umami/n8n-workflow-daily-umami-summary.json
{
  "name": "Daglig Umami trafiksammanfattning",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Varje dag 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://umami.theunnamedroads.com/api/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"{{ $env.UMAMI_USERNAME }}\",\n  \"password\": \"{{ $env.UMAMI_PASSWORD }}\"\n}",
        "options": {}
      },
      "id": "umami-login",
      "name": "Umami Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Kräver UMAMI_USERNAME och UMAMI_PASSWORD i n8n Environment Variables."
    },
    {
      "parameters": {
        "jsCode": "// Gårdagen 00:00–24:00 i Europe/Stockholm, som millisekunder\nconst now = new Date();\nconst todayStart = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0, 0, 0, 0);\nconst endAt = todayStart.getTime();\nconst startAt = endAt - 24 * 60 * 60 * 1000;\nconst token = $input.first().json.token;\nif (!token) throw new Error('Ingen token från Umami Login');\nreturn [{ json: { token, startAt, endAt } }];"
      },
      "id": "compute-dates",
      "name": "Datum för gårdagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://umami.theunnamedroads.com/api/websites",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-websites",
      "name": "Hämta webbplatser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const loginData = $node['Datum för gårdagen'].json;\nconst websitesRes = $input.first().json;\nconst websites = websitesRes.data || [];\nif (websites.length === 0) return [{ json: { message: 'Inga webbplatser i Umami.', token: loginData.token, startAt: loginData.startAt, endAt: loginData.endAt } }];\nreturn websites.map(w => ({\n  json: {\n    websiteId: w.id,\n    websiteName: w.name || w.domain,\n    domain: w.domain,\n    token: loginData.token,\n    startAt: loginData.startAt,\n    endAt: loginData.endAt\n  }\n}));"
      },
      "id": "prepare-list",
      "name": "En rad per webbplats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-website-id",
              "leftValue": "={{ $json.websiteId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-websites",
      "name": "Har webbplatser?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://umami.theunnamedroads.com/api/websites/{{ $json.websiteId }}/stats?startAt={{ $json.startAt }}&endAt={{ $json.endAt }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-stats",
      "name": "Hämta stats per webbplats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "combineByPosition",
        "options": {}
      },
      "id": "merge-stats",
      "name": "Koppla namn och stats",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "website-name",
              "name": "websiteName",
              "value": "={{ $node['Hämta stats per webbplats'].json.websiteName || $node['En rad per webbplats'].json.websiteName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "noop-merge",
      "name": "Behåll webbplatsnamn",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 200],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Valfri: använd om du behöver webbplatsnamn i sammanslagna resultat."
    },
    {
      "parameters": {
        "jsCode": "// Om vi fick \"Inga webbplatser\" från Prepare list\nconst items = $input.all();\nconst first = items[0]?.json;\nif (first && first.message && !first.pageviews) {\n  return [{ json: { text: first.message } }];\n}\n// Samla alla stats; för HTTP Request har vi inte websiteName i samma item, så vi använder index eller bifogad data\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toLocaleDateString('sv-SE', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nlet lines = [`📊 *Trafik sammanfattning – ${dateStr}*\\n`];\nfor (let i = 0; i < items.length; i++) {\n  const j = items[i].json;\n  const name = j.websiteName || j.domain || `Webbplats ${i + 1}`;\n  const pv = j.pageviews ?? 0;\n  const vis = j.visitors ?? 0;\n  const vis2 = j.visits ?? 0;\n  const b = j.bounces ?? 0;\n  const tt = j.totaltime ?? 0;\n  lines.push(`*${name}*\\n  Sidvisningar: ${pv} | Besökare: ${vis} | Besök: ${vis2} | Bounces: ${b} | Total tid: ${Math.round(tt)}s\\n`);\n}\nreturn [{ json: { text: lines.join('') } }];"
      },
      "id": "format-summary",
      "name": "Formatera sammanfattning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "channel": "#general",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "slack-post",
      "name": "Slack – skicka rapport",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2220, 300],
      "credentials": {
        "slackApi": { "id": "slack-placeholder", "name": "Slack (sätt credentials)" }
      },
      "notesInFlow": true,
      "notes": "Välj kanal och koppla Slack-credentials."
    }
  ],
  "connections": {
    "Varje dag 08:00": {
      "main": [
        [{ "node": "Umami Login", "type": "main", "index": 0 }]
      ]
    },
    "Umami Login": {
      "main": [
        [{ "node": "Datum för gårdagen", "type": "main", "index": 0 }]
      ]
    },
    "Datum för gårdagen": {
      "main": [
        [{ "node": "Hämta webbplatser", "type": "main", "index": 0 }]
      ]
    },
    "Hämta webbplatser": {
      "main": [
        [{ "node": "En rad per webbplats", "type": "main", "index": 0 }]
      ]
    },
    "En rad per webbplats": {
      "main": [
        [
          { "node": "Har webbplatser?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Har webbplatser?": {
      "main": [
        [{ "node": "Hämta stats per webbplats", "type": "main", "index": 0 }],
        [{ "node": "Formatera sammanfattning", "type": "main", "index": 0 }]
      ]
    },
    "Hämta stats per webbplats": {
      "main": [
        [{ "node": "Koppla namn och stats", "type": "main", "index": 1 }]
      ]
    },
    "Har webbplatser?": {
      "main": [
        [
          { "node": "Hämta stats per webbplats", "type": "main", "index": 0 },
          { "node": "Koppla namn och stats", "type": "main", "index": 0 }
        ],
        [{ "node": "Formatera sammanfattning", "type": "main", "index": 0 }]
      ]
    },
    "Koppla namn och stats": {
      "main": [
        [{ "node": "Formatera sammanfattning", "type": "main", "index": 0 }]
      ]
    },
    "Formatera sammanfattning": {
      "main": [
        [{ "node": "Slack – skicka rapport", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Stockholm"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "1"
}
