n8n/workflows/aeo-content-optimizer.json
{"updatedAt":"2026-03-30T09:07:25.977Z","createdAt":"2026-03-30T09:07:25.742Z","id":"US2yWNOVA985F0D5","name":"aeo-content-optimizer","description":null,"active":true,"isArchived":false,"nodes":[{"id":"schedule-aeo","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[0],"triggerAtHour":20,"triggerAtMinute":0}]}}},{"id":"webhook-aeo","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,160],"webhookId":"run-aeo-optimizer","parameters":{"path":"run-aeo-optimizer","httpMethod":"POST","responseMode":"lastNode","options":{}}},{"id":"pg-top","name":"Top Articles","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,300],"credentials":{"postgres":{"id":"PLOVoVKhDi0Ae9Le","name":"Umami Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT w.domain, e.url_path, COUNT(*) as views FROM website_event e JOIN website w ON w.website_id = e.website_id WHERE e.created_at > NOW() - INTERVAL '7 days' AND (e.url_path LIKE '/posts/%' OR e.url_path LIKE '/blog/%') AND e.url_path NOT IN ('/', '/blog/', '/posts/') AND e.url_path NOT SIMILAR TO '%/[0-9]+' GROUP BY w.domain, e.url_path ORDER BY views DESC LIMIT 6","options":{}}},{"id":"read-geo-insights","name":"Read GEO Insights","type":"n8n-nodes-base.s3","typeVersion":1,"position":[480,300],"parameters":{"operation":"get","bucketName":"seo-drafts","fileKey":"geo-aeo-insights.json","options":{}},"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}}},{"id":"pick-article","name":"Pick Article","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300],"parameters":{"jsCode":"const articles = $('Top Articles').all().map(i => i.json);\nlet geoInsights = {};\ntry { geoInsights = JSON.parse($('Read GEO Insights').first().json.Body); } catch(e) {}\n\nconst REPO_MAP = {\n  'emilingemarkarlsson.com': { repo: 'emilingemarkarlsson/emilingemarkarlsson-astro-theme', base: 'src/content/blog', pathPrefix: '/blog/' },\n  'thehockeyanalytics.com': { repo: 'emilingemarkarlsson/tha-website', base: 'src/pages/posts', pathPrefix: '/posts/' }\n};\n\n// Pick top EIK article (highest value site)\nconst eik = articles.filter(a => a.domain === 'emilingemarkarlsson.com')[0];\nconst tha = articles.filter(a => a.domain === 'thehockeyanalytics.com')[0];\nconst target = eik || tha;\n\nif (!target) return [{ json: { skip: true } }];\n\nconst repo = REPO_MAP[target.domain];\nconst slug = target.url_path.replace(repo.pathPrefix, '').replace(/\\/$/, '');\nconst filePath = repo.base + '/' + slug + '.md';\n\nreturn [{ json: { domain: target.domain, views: target.views, slug, filePath, repo: repo.repo, geoInsights: geoInsights.insights || [] } }];"}},{"id":"fetch-github","name":"Fetch from GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,300],"parameters":{"method":"GET","url":"=https://api.github.com/repos/{{ $json.repo }}/contents/{{ $json.filePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token REDACTED"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}}},{"id":"decode-content","name":"Decode Content","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,300],"parameters":{"jsCode":"const github = $('Fetch from GitHub').first().json;\nif (github.message === 'Not Found') {\n  return [{ json: { skip: true, reason: 'File not found: ' + $('Pick Article').first().json.filePath } }];\n}\nconst content = Buffer.from(github.content.replace(/\\n/g,''), 'base64').toString('utf8');\nconst sha = github.sha;\nconst meta = $('Pick Article').first().json;\n\n// Check if FAQ section already exists\nconst hasFAQ = /##\\s*faq|##\\s*vanliga fr[åa]gor|##\\s*frequently asked/i.test(content);\n\nreturn [{ json: { content, sha, hasFAQ, ...meta } }];"}},{"id":"groq-aeo","name":"Groq AEO Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,300],"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer REDACTED"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.4, max_tokens: 2000, messages: [{ role: 'system', content: 'You are an AEO (Answer Engine Optimization) expert. Your job is to improve articles so AI tools like ChatGPT, Perplexity, and Claude are more likely to cite them. Focus on: clear direct answers, FAQ sections, structured data signals, E-A-T markers.' }, { role: 'user', content: 'Article slug: ' + $json.slug + '\\nAlready has FAQ: ' + $json.hasFAQ + '\\n\\nArticle content (first 3000 chars):\\n' + $json.content.slice(0, 3000) + '\\n\\n' + ($json.hasFAQ ? 'The article has a FAQ section. Generate an IMPROVED version with better direct answers and 2 additional FAQ items.' : 'Generate a FAQ section (5 Q&A pairs) to append to this article. Questions should match what users ask AI tools. Format as markdown:\\n\\n## FAQ\\n\\n**Q: ...**\\nA: [Direct, concise answer in 1-2 sentences]\\n\\n') + '\\n\\nAlso return a JSON object with: { gaps: [string], faq_markdown: string, improvement_note: string }' }] }) }}"}},{"id":"build-updated","name":"Build Updated Article","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,300],"parameters":{"jsCode":"const input = $('Decode Content').first().json;\nif (input.skip) return [{ json: input }];\n\nconst groqResp = $input.first().json;\nconst raw = groqResp.choices[0].message.content;\n\nlet faqMarkdown = '';\nlet improvNote = '';\ntry {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    const parsed = JSON.parse(m[0]);\n    faqMarkdown = parsed.faq_markdown || '';\n    improvNote = parsed.improvement_note || '';\n  }\n} catch(e) {}\n\n// Extract FAQ markdown from response if JSON parse failed\nif (!faqMarkdown) {\n  const faqMatch = raw.match(/(##\\s*FAQ[\\s\\S]*)/i);\n  faqMarkdown = faqMatch ? faqMatch[1].trim() : '';\n  improvNote = 'FAQ section added';\n}\n\nif (!faqMarkdown) return [{ json: { skip: true, reason: 'No FAQ generated' } }];\n\n// Append FAQ to article (replace existing FAQ if present, else append)\nlet updatedContent;\nif (input.hasFAQ) {\n  updatedContent = input.content.replace(/##\\s*FAQ[\\s\\S]*/i, faqMarkdown);\n} else {\n  updatedContent = input.content.trimEnd() + '\\n\\n' + faqMarkdown + '\\n';\n}\n\nreturn [{ json: { ...input, updatedContent, improvNote, faqMarkdown } }];"}},{"id":"push-github","name":"Push to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,300],"parameters":{"method":"PUT","url":"=https://api.github.com/repos/{{ $json.repo }}/contents/{{ $json.filePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token REDACTED"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: 'aeo: add FAQ section to ' + $json.slug, content: Buffer.from($json.updatedContent).toString('base64'), sha: $json.sha }) }}","options":{}}},{"id":"telegram-aeo","name":"Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,300],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: '-1003767033253', text: '<b>AEO-optimering klar</b>\\n\\nArtikel: ' + $('Build Updated Article').first().json.slug + '\\nSajt: ' + $('Build Updated Article').first().json.domain + '\\nVisningar (7d): ' + $('Build Updated Article').first().json.views + '\\n\\n' + ($('Build Updated Article').first().json.improvNote || 'FAQ-sektion tillagd'), parse_mode: 'HTML', disable_web_page_preview: true }) }}","options":{}}}],"connections":{"Schedule":{"main":[[{"node":"Top Articles","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Top Articles","type":"main","index":0}]]},"Top Articles":{"main":[[{"node":"Read GEO Insights","type":"main","index":0}]]},"Read GEO Insights":{"main":[[{"node":"Pick Article","type":"main","index":0}]]},"Pick Article":{"main":[[{"node":"Fetch from GitHub","type":"main","index":0}]]},"Fetch from GitHub":{"main":[[{"node":"Decode Content","type":"main","index":0}]]},"Decode Content":{"main":[[{"node":"Groq AEO Analysis","type":"main","index":0}]]},"Groq AEO Analysis":{"main":[[{"node":"Build Updated Article","type":"main","index":0}]]},"Build Updated Article":{"main":[[{"node":"Push to GitHub","type":"main","index":0}]]},"Push to GitHub":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"86d5ba4d-0aae-47f5-a1ae-73db7efbbc2f","activeVersionId":"86d5ba4d-0aae-47f5-a1ae-73db7efbbc2f","versionCounter":8,"triggerCount":2,"shared":[{"updatedAt":"2026-03-30T09:07:25.742Z","createdAt":"2026-03-30T09:07:25.742Z","role":"workflow:owner","workflowId":"US2yWNOVA985F0D5","projectId":"RHmvhzmrGVxfYtJl","project":{"updatedAt":"2026-03-24T07:55:26.263Z","createdAt":"2025-09-13T05:33:40.796Z","id":"RHmvhzmrGVxfYtJl","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-30T09:07:25.750Z","createdAt":"2026-03-30T09:07:25.750Z","versionId":"86d5ba4d-0aae-47f5-a1ae-73db7efbbc2f","workflowId":"US2yWNOVA985F0D5","nodes":[{"id":"schedule-aeo","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[0],"triggerAtHour":20,"triggerAtMinute":0}]}}},{"id":"webhook-aeo","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,160],"webhookId":"run-aeo-optimizer","parameters":{"path":"run-aeo-optimizer","httpMethod":"POST","responseMode":"lastNode","options":{}}},{"id":"pg-top","name":"Top Articles","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,300],"credentials":{"postgres":{"id":"PLOVoVKhDi0Ae9Le","name":"Umami Postgres"}},"parameters":{"operation":"executeQuery","query":"SELECT w.domain, e.url_path, COUNT(*) as views FROM website_event e JOIN website w ON w.website_id = e.website_id WHERE e.created_at > NOW() - INTERVAL '7 days' AND (e.url_path LIKE '/posts/%' OR e.url_path LIKE '/blog/%') AND e.url_path NOT IN ('/', '/blog/', '/posts/') AND e.url_path NOT SIMILAR TO '%/[0-9]+' GROUP BY w.domain, e.url_path ORDER BY views DESC LIMIT 6","options":{}}},{"id":"read-geo-insights","name":"Read GEO Insights","type":"n8n-nodes-base.s3","typeVersion":1,"position":[480,300],"parameters":{"operation":"get","bucketName":"seo-drafts","fileKey":"geo-aeo-insights.json","options":{}},"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}}},{"id":"pick-article","name":"Pick Article","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300],"parameters":{"jsCode":"const articles = $('Top Articles').all().map(i => i.json);\nlet geoInsights = {};\ntry { geoInsights = JSON.parse($('Read GEO Insights').first().json.Body); } catch(e) {}\n\nconst REPO_MAP = {\n  'emilingemarkarlsson.com': { repo: 'emilingemarkarlsson/emilingemarkarlsson-astro-theme', base: 'src/content/blog', pathPrefix: '/blog/' },\n  'thehockeyanalytics.com': { repo: 'emilingemarkarlsson/tha-website', base: 'src/pages/posts', pathPrefix: '/posts/' }\n};\n\n// Pick top EIK article (highest value site)\nconst eik = articles.filter(a => a.domain === 'emilingemarkarlsson.com')[0];\nconst tha = articles.filter(a => a.domain === 'thehockeyanalytics.com')[0];\nconst target = eik || tha;\n\nif (!target) return [{ json: { skip: true } }];\n\nconst repo = REPO_MAP[target.domain];\nconst slug = target.url_path.replace(repo.pathPrefix, '').replace(/\\/$/, '');\nconst filePath = repo.base + '/' + slug + '.md';\n\nreturn [{ json: { domain: target.domain, views: target.views, slug, filePath, repo: repo.repo, geoInsights: geoInsights.insights || [] } }];"}},{"id":"fetch-github","name":"Fetch from GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,300],"parameters":{"method":"GET","url":"=https://api.github.com/repos/{{ $json.repo }}/contents/{{ $json.filePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token REDACTED"},{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}}},{"id":"decode-content","name":"Decode Content","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,300],"parameters":{"jsCode":"const github = $('Fetch from GitHub').first().json;\nif (github.message === 'Not Found') {\n  return [{ json: { skip: true, reason: 'File not found: ' + $('Pick Article').first().json.filePath } }];\n}\nconst content = Buffer.from(github.content.replace(/\\n/g,''), 'base64').toString('utf8');\nconst sha = github.sha;\nconst meta = $('Pick Article').first().json;\n\n// Check if FAQ section already exists\nconst hasFAQ = /##\\s*faq|##\\s*vanliga fr[åa]gor|##\\s*frequently asked/i.test(content);\n\nreturn [{ json: { content, sha, hasFAQ, ...meta } }];"}},{"id":"groq-aeo","name":"Groq AEO Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,300],"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer REDACTED"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.4, max_tokens: 2000, messages: [{ role: 'system', content: 'You are an AEO (Answer Engine Optimization) expert. Your job is to improve articles so AI tools like ChatGPT, Perplexity, and Claude are more likely to cite them. Focus on: clear direct answers, FAQ sections, structured data signals, E-A-T markers.' }, { role: 'user', content: 'Article slug: ' + $json.slug + '\\nAlready has FAQ: ' + $json.hasFAQ + '\\n\\nArticle content (first 3000 chars):\\n' + $json.content.slice(0, 3000) + '\\n\\n' + ($json.hasFAQ ? 'The article has a FAQ section. Generate an IMPROVED version with better direct answers and 2 additional FAQ items.' : 'Generate a FAQ section (5 Q&A pairs) to append to this article. Questions should match what users ask AI tools. Format as markdown:\\n\\n## FAQ\\n\\n**Q: ...**\\nA: [Direct, concise answer in 1-2 sentences]\\n\\n') + '\\n\\nAlso return a JSON object with: { gaps: [string], faq_markdown: string, improvement_note: string }' }] }) }}"}},{"id":"build-updated","name":"Build Updated Article","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,300],"parameters":{"jsCode":"const input = $('Decode Content').first().json;\nif (input.skip) return [{ json: input }];\n\nconst groqResp = $input.first().json;\nconst raw = groqResp.choices[0].message.content;\n\nlet faqMarkdown = '';\nlet improvNote = '';\ntry {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    const parsed = JSON.parse(m[0]);\n    faqMarkdown = parsed.faq_markdown || '';\n    improvNote = parsed.improvement_note || '';\n  }\n} catch(e) {}\n\n// Extract FAQ markdown from response if JSON parse failed\nif (!faqMarkdown) {\n  const faqMatch = raw.match(/(##\\s*FAQ[\\s\\S]*)/i);\n  faqMarkdown = faqMatch ? faqMatch[1].trim() : '';\n  improvNote = 'FAQ section added';\n}\n\nif (!faqMarkdown) return [{ json: { skip: true, reason: 'No FAQ generated' } }];\n\n// Append FAQ to article (replace existing FAQ if present, else append)\nlet updatedContent;\nif (input.hasFAQ) {\n  updatedContent = input.content.replace(/##\\s*FAQ[\\s\\S]*/i, faqMarkdown);\n} else {\n  updatedContent = input.content.trimEnd() + '\\n\\n' + faqMarkdown + '\\n';\n}\n\nreturn [{ json: { ...input, updatedContent, improvNote, faqMarkdown } }];"}},{"id":"push-github","name":"Push to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,300],"parameters":{"method":"PUT","url":"=https://api.github.com/repos/{{ $json.repo }}/contents/{{ $json.filePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token REDACTED"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: 'aeo: add FAQ section to ' + $json.slug, content: Buffer.from($json.updatedContent).toString('base64'), sha: $json.sha }) }}","options":{}}},{"id":"telegram-aeo","name":"Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,300],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: '-1003767033253', text: '<b>AEO-optimering klar</b>\\n\\nArtikel: ' + $('Build Updated Article').first().json.slug + '\\nSajt: ' + $('Build Updated Article').first().json.domain + '\\nVisningar (7d): ' + $('Build Updated Article').first().json.views + '\\n\\n' + ($('Build Updated Article').first().json.improvNote || 'FAQ-sektion tillagd'), parse_mode: 'HTML', disable_web_page_preview: true }) }}","options":{}}}],"connections":{"Schedule":{"main":[[{"node":"Top Articles","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Top Articles","type":"main","index":0}]]},"Top Articles":{"main":[[{"node":"Read GEO Insights","type":"main","index":0}]]},"Read GEO Insights":{"main":[[{"node":"Pick Article","type":"main","index":0}]]},"Pick Article":{"main":[[{"node":"Fetch from GitHub","type":"main","index":0}]]},"Fetch from GitHub":{"main":[[{"node":"Decode Content","type":"main","index":0}]]},"Decode Content":{"main":[[{"node":"Groq AEO Analysis","type":"main","index":0}]]},"Groq AEO Analysis":{"main":[[{"node":"Build Updated Article","type":"main","index":0}]]},"Build Updated Article":{"main":[[{"node":"Push to GitHub","type":"main","index":0}]]},"Push to GitHub":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-30T09:07:36.763Z","id":465,"workflowId":"US2yWNOVA985F0D5","versionId":"86d5ba4d-0aae-47f5-a1ae-73db7efbbc2f","event":"deactivated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"},{"createdAt":"2026-03-30T09:07:39.195Z","id":468,"workflowId":"US2yWNOVA985F0D5","versionId":"86d5ba4d-0aae-47f5-a1ae-73db7efbbc2f","event":"activated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"},{"createdAt":"2026-03-30T09:07:26.227Z","id":462,"workflowId":"US2yWNOVA985F0D5","versionId":"86d5ba4d-0aae-47f5-a1ae-73db7efbbc2f","event":"activated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"}]}}