n8n/workflows/agent-analytics-feed.json
{
  "updatedAt": "2026-04-10T13:30:00.000Z",
  "createdAt": "2026-04-10T13:30:00.000Z",
  "id": "gjeCr8sDukUkjdtP",
  "name": "agent-analytics-feed",
  "description": "Fetches Umami stats for all 8 sites and writes analytics context to Minio for Paperclip agents to read at heartbeat",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "aaf-sched",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 7 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "aaf-hook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        220
      ],
      "parameters": {
        "path": "run-agent-analytics",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "run-agent-analytics"
    },
    {
      "id": "aaf-date",
      "name": "Set Date Range",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        240,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "start_7d",
              "value": "={{ $now.minus({days: 7}).startOf('day').toMillis() }}",
              "type": "number"
            },
            {
              "id": "d2",
              "name": "end_now",
              "value": "={{ $now.toMillis() }}",
              "type": "number"
            },
            {
              "id": "d3",
              "name": "report_date",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "aaf-login",
      "name": "Umami Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://umami.theunnamedroads.com/api/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({username: 'admin', password: 'TurUmami2024!'}) }}",
        "options": {}
      }
    },
    {
      "id": "aaf-sites",
      "name": "Setup Sites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\nstaticData.results = [];\nstaticData.token = $('Umami Login').first().json.token;\nstaticData.startAt = $('Set Date Range').first().json.start_7d;\nstaticData.endAt = $('Set Date Range').first().json.end_now;\nstaticData.reportDate = $('Set Date Range').first().json.report_date;\n\nconst sites = [\n  {id: 'dc9840ac-15ff-4c35-b210-7ab9c46a6867', name: 'THA', domain: 'thehockeyanalytics.com', niche: 'Hockey analytics SaaS'},\n  {id: 'cda4abee-7b6b-490e-bc60-a42307d764cb', name: 'THB', domain: 'thehockeybrain.com', niche: 'Hockey consulting'},\n  {id: 'fc8f279b-0da8-4013-b8df-be07dc12a8f1', name: 'TUR', domain: 'theunnamedroads.com', niche: 'AI venture studio flagship'},\n  {id: 'b860bcc1-2a7a-4436-97f3-a2cb41b273c6', name: 'EIK', domain: 'emilingemarkarlsson.com', niche: 'AI consulting personal brand'},\n  {id: '61956d72-33b2-4663-849c-5874b312984d', name: 'TAN', domain: 'tan-website.netlify.app', niche: 'AI agent services'},\n  {id: '9438eb5d-4409-47fd-893f-105c80e1dd5e', name: 'TAF', domain: 'tur-theagentfabric.vercel.app', niche: 'AI automation content'},\n  {id: '4b9cfa68-52aa-417a-906b-a87b041486ba', name: 'TPR', domain: 'theprintroute.com', niche: 'B2B print platform'},\n  {id: '472ea0eb-c7de-4176-85fe-96fc218c9bea', name: 'FIN', domain: 'finnbodahamnplan.se', niche: 'Swedish local'}\n];\n\nreturn sites.map(s => ({json: s}));"
      }
    },
    {
      "id": "aaf-split",
      "name": "Loop Sites",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        0
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "aaf-stats",
      "name": "Get Site Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://umami.theunnamedroads.com/api/websites/' + $json.id + '/stats?startAt=' + $getWorkflowStaticData('node').startAt + '&endAt=' + $getWorkflowStaticData('node').endAt }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $getWorkflowStaticData('node').token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "aaf-accum",
      "name": "Accumulate Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\nconst stats = $input.item.json;\nconst site = $('Loop Sites').item.json;\n\nconst pv = stats.pageviews?.value ?? stats.pageviews ?? 0;\nconst vis = stats.visitors?.value ?? stats.visitors ?? 0;\nconst sess = stats.sessions?.value ?? stats.sessions ?? 0;\nconst bounces = stats.bounces?.value ?? stats.bounces ?? 0;\n\nstaticData.results.push({\n  name: site.name,\n  domain: site.domain,\n  niche: site.niche,\n  pageviews: pv,\n  visitors: vis,\n  sessions: sess,\n  bounces: bounces\n});\n\nreturn [{json: {accumulated: staticData.results.length}}];"
      }
    },
    {
      "id": "aaf-format",
      "name": "Format Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        260
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\nconst results = (staticData.results || []).slice();\nconst reportDate = staticData.reportDate || new Date().toISOString().split('T')[0];\n\nresults.sort((a, b) => b.pageviews - a.pageviews);\n\nlet md = '# Analytics Insights \u2014 Last 7 Days\\n';\nmd += '_Generated: ' + reportDate + ' at 07:45_\\n\\n';\nmd += '## Site Performance Ranking\\n\\n';\nmd += '| Rank | Site | Domain | Pageviews | Visitors | Sessions |\\n';\nmd += '|------|------|--------|-----------|----------|----------|\\n';\n\nresults.forEach((r, i) => {\n  md += '| ' + (i+1) + ' | **' + r.name + '** | ' + r.domain + ' | ' + r.pageviews + ' | ' + r.visitors + ' | ' + r.sessions + ' |\\n';\n});\n\nconst top3 = results.slice(0, 3);\nconst bottom = results.filter(r => r.pageviews < 20);\nconst noTraffic = results.filter(r => r.pageviews === 0);\n\nmd += '\\n## CMO: Recommended Actions\\n';\nmd += '- **Double down on**: ' + top3.map(r => r.name + ' (' + r.pageviews + ' pvs)').join(', ') + '\\n';\nmd += '- **Trigger extra articles for top sites** \u2014 more content on what is already working\\n';\nif (bottom.length > 0) {\n  md += '- **Sites needing attention** (< 20 pvs/7d): ' + bottom.map(r => r.name).join(', ') + '\\n';\n}\nif (noTraffic.length > 0) {\n  md += '- **Zero traffic sites**: ' + noTraffic.map(r => r.name).join(', ') + ' \u2014 investigate or skip\\n';\n}\n\nmd += '\\n## CEO: Portfolio Signals\\n';\nmd += '- Top earner potential: **' + (top3[0]?.name || 'TUR') + '** \u2014 ' + (top3[0]?.pageviews || 0) + ' pageviews\\n';\nmd += '- Traffic concentration: top 3 sites = ' + top3.reduce((s,r) => s+r.pageviews, 0) + ' of ' + results.reduce((s,r) => s+r.pageviews, 0) + ' total pageviews\\n';\nmd += '- Sites with zero traction: consider pausing content generation for zero-traffic sites\\n';\n\nmd += '\\n## CTO: Technical Signals\\n';\nmd += '- Subdomains with traffic penalty: TAN (netlify), TAF (vercel) \u2014 domain migration priority confirmed\\n';\nif (noTraffic.length > 0) {\n  md += '- Zero-traffic sites may have deployment issues: check ' + noTraffic.map(r => r.name).join(', ') + '\\n';\n}\nmd += '- All 8 Umami trackers confirmed working\\n';\n\nmd += '\\n---\\n_Source: Umami analytics | Updated daily | agent-analytics-feed workflow_\\n';\n\nreturn [{json: {markdown: md, reportDate, totalPageviews: results.reduce((s,r) => s+r.pageviews, 0)}}];"
      }
    },
    {
      "id": "aaf-binary",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        260
      ],
      "parameters": {
        "jsCode": "const markdown = $json.markdown;\nconst buffer = Buffer.from(markdown, 'utf-8');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'agent-analytics-context.md', 'text/markdown');\nreturn [{\n  json: {reportDate: $json.reportDate, totalPageviews: $json.totalPageviews},\n  binary: {data: binaryData}\n}];"
      }
    },
    {
      "id": "aaf-s3",
      "name": "Upload to Minio",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 2,
      "position": [
        1680,
        260
      ],
      "parameters": {
        "operation": "upload",
        "bucketName": "seo-drafts",
        "fileName": "agent-analytics-context.md",
        "binaryPropertyName": "data",
        "additionalFields": {
          "contentType": "text/markdown"
        }
      },
      "credentials": {
        "s3": {
          "id": "HdCw5lSb6jwOHLHd",
          "name": "THA Minio S3"
        }
      }
    },
    {
      "id": "aaf-tg",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({chat_id: '-1003919428238', message_thread_id: 6, text: '\\u{1F4CA} Analytics context updated\\nTotal pageviews (7d): ' + $('Format Markdown').first().json.totalPageviews + '\\nAgents can now read updated insights from Minio.', parse_mode: 'HTML'}) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Set Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Range": {
      "main": [
        [
          {
            "node": "Umami Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Umami Login": {
      "main": [
        [
          {
            "node": "Setup Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Sites": {
      "main": [
        [
          {
            "node": "Loop Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Sites": {
      "main": [
        [
          {
            "node": "Get Site Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Site Stats": {
      "main": [
        [
          {
            "node": "Accumulate Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Result": {
      "main": [
        [
          {
            "node": "Loop Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Markdown": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Upload to Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Minio": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}