n8n/workflows/ai-traffic-monitor.json
{"updatedAt":"2026-03-30T09:17:04.090Z","createdAt":"2026-03-30T09:17:04.090Z","id":"yTDHt9vW0I9Z3HPc","name":"ai-traffic-monitor","description":null,"active":true,"isArchived":false,"nodes":[{"id":"sched","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"hours","triggerAtHour":8,"triggerAtMinute":15}]}}},{"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,160],"webhookId":"run-ai-traffic","parameters":{"path":"run-ai-traffic","httpMethod":"POST","responseMode":"lastNode","options":{}}},{"id":"pg1","name":"AI Traffic Query","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,300],"credentials":{"postgres":{"id":"PLOVoVKhDi0Ae9Le","name":"Umami Postgres"}},"parameters":{"operation":"executeQuery","query":"WITH this_week AS (\n  SELECT 'this' as period, w.domain, e.referrer_domain, COUNT(*) as sessions\n  FROM website_event e JOIN website w ON w.website_id=e.website_id\n  WHERE e.created_at > NOW() - INTERVAL '7 days' AND e.referrer_domain IN ('perplexity.ai','chatgpt.com','claude.ai','copilot.microsoft.com','gemini.google.com','you.com','phind.com','chat.openai.com','bing.com')\n  GROUP BY w.domain, e.referrer_domain\n), prev_week AS (\n  SELECT 'prev' as period, w.domain, e.referrer_domain, COUNT(*) as sessions\n  FROM website_event e JOIN website w ON w.website_id=e.website_id\n  WHERE e.created_at BETWEEN NOW()-INTERVAL '14 days' AND NOW()-INTERVAL '7 days' AND e.referrer_domain IN ('perplexity.ai','chatgpt.com','claude.ai','copilot.microsoft.com','gemini.google.com','you.com','phind.com','chat.openai.com','bing.com')\n  GROUP BY w.domain, e.referrer_domain\n)\nSELECT * FROM this_week UNION ALL SELECT * FROM prev_week\nUNION ALL SELECT 'this','none','no-ai-traffic',0 WHERE NOT EXISTS (SELECT 1 FROM this_week)\nORDER BY period, sessions DESC","options":{}}},{"id":"code1","name":"Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"jsCode":"const rows = $input.all().map(r => r.json);\nconst thisWeek = rows.filter(r => r.period === 'this' && r.referrer_domain !== 'no-ai-traffic');\nconst prevWeek = rows.filter(r => r.period === 'prev' && r.referrer_domain !== 'no-ai-traffic');\n\nconst bySource = {};\nfor (const r of thisWeek) bySource[r.referrer_domain] = (bySource[r.referrer_domain]||0) + parseInt(r.sessions);\nconst prevTotal = prevWeek.reduce((s,r) => s+parseInt(r.sessions), 0);\nconst thisTotal = Object.values(bySource).reduce((a,b)=>a+b, 0);\nconst trend = prevTotal > 0 ? Math.round((thisTotal-prevTotal)/prevTotal*100) : null;\n\nconst bySite = {};\nfor (const r of thisWeek) {\n  if (!bySite[r.domain]) bySite[r.domain] = 0;\n  bySite[r.domain] += parseInt(r.sessions);\n}\n\nconst icons = {'perplexity.ai':'🔮','chatgpt.com':'🤖','claude.ai':'🧠','bing.com':'🔵'};\nconst sourceLines = Object.entries(bySource).sort((a,b)=>b[1]-a[1])\n  .map(([s,n]) => (icons[s]||'•')+' '+s+': '+n).join('\\n');\nconst siteLines = Object.entries(bySite).map(([d,n]) => '  '+d.replace('.com','')+': '+n).join('\\n');\nconst trendStr = trend===null ? 'forsta matningen' : (trend>0?'+':'')+trend+'% vs fg vecka';\n\nconst text = '<b>AI-trafik – daglig rapport</b>\\n\\n' +\n  'Denna vecka: <b>'+thisTotal+' sessioner</b>\\n' +\n  'Trend: '+trendStr+'\\n\\n' +\n  '<b>Per AI-kanal:</b>\\n<code>'+(sourceLines||'Ingen AI-trafik')+'</code>\\n\\n' +\n  '<b>Per sajt:</b>\\n<code>'+(siteLines||'Ingen data')+'</code>';\n\nreturn [{ json: { text, thisTotal, bySource } }];"}},{"id":"save1","name":"Save History","type":"n8n-nodes-base.s3","typeVersion":1,"position":[720,300],"parameters":{"operation":"upload","bucketName":"seo-drafts","fileName":"={{ 'ai-traffic-' + new Date().toISOString().slice(0,10) + '.json' }}","binaryData":false,"fileContent":"={{ JSON.stringify({ date: new Date().toISOString().slice(0,10), total: $json.thisTotal, bySource: $json.bySource }) }}","additionalFields":{}},"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}}},{"id":"tg1","name":"Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,300],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: '-1003767033253', text: $('Build Report').first().json.text, parse_mode: 'HTML', disable_web_page_preview: true }) }}","options":{}}}],"connections":{"Schedule":{"main":[[{"node":"AI Traffic Query","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Traffic Query","type":"main","index":0}]]},"AI Traffic Query":{"main":[[{"node":"Build Report","type":"main","index":0}]]},"Build Report":{"main":[[{"node":"Save History","type":"main","index":0}]]},"Save History":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"ee1537bd-96ef-4f0f-882c-e57aab949223","activeVersionId":"ee1537bd-96ef-4f0f-882c-e57aab949223","versionCounter":4,"triggerCount":2,"shared":[{"updatedAt":"2026-03-30T09:17:04.090Z","createdAt":"2026-03-30T09:17:04.090Z","role":"workflow:owner","workflowId":"yTDHt9vW0I9Z3HPc","projectId":"RHmvhzmrGVxfYtJl","project":{"updatedAt":"2026-03-24T07:55:26.263Z","createdAt":"2025-09-13T05:33:40.796Z","id":"RHmvhzmrGVxfYtJl","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-30T09:17:04.100Z","createdAt":"2026-03-30T09:17:04.100Z","versionId":"ee1537bd-96ef-4f0f-882c-e57aab949223","workflowId":"yTDHt9vW0I9Z3HPc","nodes":[{"id":"sched","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"hours","triggerAtHour":8,"triggerAtMinute":15}]}}},{"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,160],"webhookId":"run-ai-traffic","parameters":{"path":"run-ai-traffic","httpMethod":"POST","responseMode":"lastNode","options":{}}},{"id":"pg1","name":"AI Traffic Query","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,300],"credentials":{"postgres":{"id":"PLOVoVKhDi0Ae9Le","name":"Umami Postgres"}},"parameters":{"operation":"executeQuery","query":"WITH this_week AS (\n  SELECT 'this' as period, w.domain, e.referrer_domain, COUNT(*) as sessions\n  FROM website_event e JOIN website w ON w.website_id=e.website_id\n  WHERE e.created_at > NOW() - INTERVAL '7 days' AND e.referrer_domain IN ('perplexity.ai','chatgpt.com','claude.ai','copilot.microsoft.com','gemini.google.com','you.com','phind.com','chat.openai.com','bing.com')\n  GROUP BY w.domain, e.referrer_domain\n), prev_week AS (\n  SELECT 'prev' as period, w.domain, e.referrer_domain, COUNT(*) as sessions\n  FROM website_event e JOIN website w ON w.website_id=e.website_id\n  WHERE e.created_at BETWEEN NOW()-INTERVAL '14 days' AND NOW()-INTERVAL '7 days' AND e.referrer_domain IN ('perplexity.ai','chatgpt.com','claude.ai','copilot.microsoft.com','gemini.google.com','you.com','phind.com','chat.openai.com','bing.com')\n  GROUP BY w.domain, e.referrer_domain\n)\nSELECT * FROM this_week UNION ALL SELECT * FROM prev_week\nUNION ALL SELECT 'this','none','no-ai-traffic',0 WHERE NOT EXISTS (SELECT 1 FROM this_week)\nORDER BY period, sessions DESC","options":{}}},{"id":"code1","name":"Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"jsCode":"const rows = $input.all().map(r => r.json);\nconst thisWeek = rows.filter(r => r.period === 'this' && r.referrer_domain !== 'no-ai-traffic');\nconst prevWeek = rows.filter(r => r.period === 'prev' && r.referrer_domain !== 'no-ai-traffic');\n\nconst bySource = {};\nfor (const r of thisWeek) bySource[r.referrer_domain] = (bySource[r.referrer_domain]||0) + parseInt(r.sessions);\nconst prevTotal = prevWeek.reduce((s,r) => s+parseInt(r.sessions), 0);\nconst thisTotal = Object.values(bySource).reduce((a,b)=>a+b, 0);\nconst trend = prevTotal > 0 ? Math.round((thisTotal-prevTotal)/prevTotal*100) : null;\n\nconst bySite = {};\nfor (const r of thisWeek) {\n  if (!bySite[r.domain]) bySite[r.domain] = 0;\n  bySite[r.domain] += parseInt(r.sessions);\n}\n\nconst icons = {'perplexity.ai':'🔮','chatgpt.com':'🤖','claude.ai':'🧠','bing.com':'🔵'};\nconst sourceLines = Object.entries(bySource).sort((a,b)=>b[1]-a[1])\n  .map(([s,n]) => (icons[s]||'•')+' '+s+': '+n).join('\\n');\nconst siteLines = Object.entries(bySite).map(([d,n]) => '  '+d.replace('.com','')+': '+n).join('\\n');\nconst trendStr = trend===null ? 'forsta matningen' : (trend>0?'+':'')+trend+'% vs fg vecka';\n\nconst text = '<b>AI-trafik – daglig rapport</b>\\n\\n' +\n  'Denna vecka: <b>'+thisTotal+' sessioner</b>\\n' +\n  'Trend: '+trendStr+'\\n\\n' +\n  '<b>Per AI-kanal:</b>\\n<code>'+(sourceLines||'Ingen AI-trafik')+'</code>\\n\\n' +\n  '<b>Per sajt:</b>\\n<code>'+(siteLines||'Ingen data')+'</code>';\n\nreturn [{ json: { text, thisTotal, bySource } }];"}},{"id":"save1","name":"Save History","type":"n8n-nodes-base.s3","typeVersion":1,"position":[720,300],"parameters":{"operation":"upload","bucketName":"seo-drafts","fileName":"={{ 'ai-traffic-' + new Date().toISOString().slice(0,10) + '.json' }}","binaryData":false,"fileContent":"={{ JSON.stringify({ date: new Date().toISOString().slice(0,10), total: $json.thisTotal, bySource: $json.bySource }) }}","additionalFields":{}},"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}}},{"id":"tg1","name":"Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,300],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: '-1003767033253', text: $('Build Report').first().json.text, parse_mode: 'HTML', disable_web_page_preview: true }) }}","options":{}}}],"connections":{"Schedule":{"main":[[{"node":"AI Traffic Query","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Traffic Query","type":"main","index":0}]]},"AI Traffic Query":{"main":[[{"node":"Build Report","type":"main","index":0}]]},"Build Report":{"main":[[{"node":"Save History","type":"main","index":0}]]},"Save History":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-30T09:17:06.229Z","id":481,"workflowId":"yTDHt9vW0I9Z3HPc","versionId":"ee1537bd-96ef-4f0f-882c-e57aab949223","event":"activated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"}]}}