n8n/workflows/article-published---newsletter-dispatch.json
{
  "updatedAt": "2026-03-30T10:17:34.634Z",
  "createdAt": "2026-03-22T08:44:51.256Z",
  "id": "j3gxGYKpnD6uHC8h",
  "name": "Article Published – Newsletter Dispatch",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "n1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "path": "article-published",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "article-published-dispatch"
    },
    {
      "id": "n2",
      "name": "Fetch Subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT DISTINCT s.email, COALESCE(s.name, '') as name FROM subscribers s JOIN subscriber_lists sl ON s.id = sl.subscriber_id JOIN lists l ON sl.list_id = l.id WHERE l.uuid = '{{ $json.body.listUuid }}' AND s.status = 'enabled'"
      },
      "credentials": {
        "postgres": {
          "id": "pGKG4VDMYUGlcmqJ",
          "name": "Listmonk Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "n3",
      "name": "Aggregate Subscribers",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "subscribers",
        "options": {}
      }
    },
    {
      "id": "n4",
      "name": "Build Email Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "jsCode": "const subscribers = $input.item.json.subscribers || [];\nconst wb = $('Webhook').item.json.body;\nconst { title, description, url, projectName, listUuid, umamiName } = wb;\n\nconst themes = {\n  theunnamedroads:    { bg:'#0a0a0a', header:'#111111', textColor:'#e5e5e5', cta:'#6366f1', ctaText:'#fff', cardBg:'#111827', subText:'rgba(255,255,255,0.35)', divider:'rgba(255,255,255,0.1)' },\n  thehockeybrain:     { bg:'#f0f9ff', header:'#0c4a6e', textColor:'#1e3a5f', cta:'#0ea5e9', ctaText:'#fff', cardBg:'#ffffff', subText:'#94a3b8', divider:'#bae6fd' },\n  theagentfabric:     { bg:'#060d1f', header:'#0b1020', textColor:'#cbd5e1', cta:'#3b82f6', ctaText:'#fff', cardBg:'#0d1526', subText:'rgba(255,255,255,0.35)', divider:'rgba(255,255,255,0.08)' },\n  theatomicnetwork:   { bg:'#f8fafc', header:'#1e3a8a', textColor:'#1e293b', cta:'#2563eb', ctaText:'#fff', cardBg:'#ffffff', subText:'#94a3b8', divider:'#e2e8f0' },\n  theprintroute:      { bg:'#0f172a', header:'#1e1b4b', textColor:'#cbd5e1', cta:'#4f46e5', ctaText:'#fff', cardBg:'#1e293b', subText:'rgba(255,255,255,0.35)', divider:'rgba(255,255,255,0.08)' },\n  emilingemarkarlsson:{ bg:'#f9fafb', header:'#111827', textColor:'#374151', cta:'#111827', ctaText:'#fff', cardBg:'#ffffff', subText:'#9ca3af', divider:'#e5e7eb' },\n  thehockeyanalytics: { bg:'#f0f9ff', header:'#0c4a6e', textColor:'#1e3a5f', cta:'#0ea5e9', ctaText:'#fff', cardBg:'#ffffff', subText:'#94a3b8', divider:'#bae6fd' },\n};\n\nconst t = themes[umamiName] || themes['theunnamedroads'];\nconst fromName = projectName || 'The Unnamed Roads';\n\nconst batch = subscribers.map(sub => {\n  const firstName = (sub.name || '').trim().split(' ')[0];\n  const greeting = firstName ? 'Hi ' + firstName + ',' : 'Hi there,';\n  const safeEmail = encodeURIComponent(sub.email || '');\n\n  const html =\n    '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>' +\n    '<body style=\"margin:0;padding:0;background-color:' + t.bg + ';font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Helvetica,Arial,sans-serif;\">' +\n    '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:' + t.bg + ';padding:40px 20px;\">' +\n    '<tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">' +\n    '<tr><td style=\"background-color:' + t.header + ';padding:28px 40px;border-radius:12px 12px 0 0;\">' +\n    '<p style=\"margin:0;font-size:18px;font-weight:700;color:#ffffff;letter-spacing:-0.3px;\">' + fromName + '</p></td></tr>' +\n    '<tr><td style=\"background-color:' + t.cardBg + ';padding:40px;border-radius:0 0 12px 12px;\">' +\n    '<p style=\"margin:0 0 8px;font-size:11px;color:' + t.cta + ';font-weight:700;text-transform:uppercase;letter-spacing:1.5px;\">New Article</p>' +\n    '<p style=\"margin:0 0 20px;font-size:14px;color:' + t.textColor + ';\">' + greeting + '</p>' +\n    '<h1 style=\"margin:0 0 16px;font-size:22px;font-weight:700;color:' + t.textColor + ';line-height:1.35;\">' + title + '</h1>' +\n    (description ? '<p style=\"margin:0 0 32px;font-size:15px;line-height:1.65;color:' + t.textColor + ';opacity:0.8;\">' + description + '</p>' : '<p style=\"margin:0 0 32px;\"></p>') +\n    '<a href=\"' + url + '\" style=\"display:inline-block;background-color:' + t.cta + ';color:' + t.ctaText + ';padding:14px 28px;border-radius:8px;text-decoration:none;font-size:14px;font-weight:600;\">Read article \\u2192</a>' +\n    '<hr style=\"margin:40px 0;border:none;border-top:1px solid ' + t.divider + ';\">' +\n    '<p style=\"margin:0;font-size:12px;color:' + t.subText + ';line-height:1.7;\">' +\n    fromName + ' is part of <a href=\"https://theunnamedroads.com\" style=\"color:' + t.cta + ';text-decoration:none;\">The Unnamed Roads</a>.<br>' +\n    'You\\'re receiving this because you subscribed to ' + fromName + '. ' +\n    '<a href=\"https://listmonk-v8wk0kksk00wgk0g0c4wsww0.46.62.206.47.sslip.io/subscription/manage?email=' + safeEmail + '\" style=\"color:' + t.cta + ';\">Manage subscription</a>' +\n    '</p></td></tr></table></td></tr></table></body></html>';\n\n  return { from: fromName + ' <newsletter@theunnamedroads.com>', to: [sub.email], subject: title, html };\n});\n\nreturn [{ json: { batch, count: batch.length, projectName: fromName, url, title } }];"
      }
    },
    {
      "id": "n5",
      "name": "Send Newsletter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails/batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_Yms1HKdL_7FQrPbkNnCYdFC4RruFpUyMh"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {
          "ignoreResponseCode": true
        }
      }
    },
    {
      "id": "nb1",
      "name": "Build Bluesky Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ],
      "parameters": {
        "jsCode": "const wb = $('Webhook').item.json.body;\nconst { title, description, url, umamiName } = wb;\n\n// Per-site emoji + hashtags\nconst sites = {\n  theunnamedroads:    { emoji: '🌍', tags: '#travel #writing #adventure' },\n  thehockeyanalytics: { emoji: '🏒', tags: '#hockey #nhl #sportsanalytics' },\n  thehockeybrain:     { emoji: '🧠', tags: '#hockey #nhl #hockeydata' },\n  emilingemarkarlsson:{ emoji: '🤖', tags: '#automation #n8n #selfhosted #buildinpublic' },\n  theagentfabric:     { emoji: '⚙️', tags: '#ai #agents #automation' },\n  theprintroute:      { emoji: '📄', tags: '#printing #design #photography' },\n};\nconst cfg = sites[umamiName] || { emoji: '📝', tags: '' };\n\n// Bluesky 300 char limit; URLs resolve to link cards\nconst tagsStr = cfg.tags ? '\\n\\n' + cfg.tags : '';\nconst base = cfg.emoji + ' ' + title;\nlet text = base;\n\nif (description) {\n  const room = 290 - base.length - tagsStr.length - 2 - url.length - 2;\n  if (room > 40) {\n    const excerpt = description.length <= room ? description : description.slice(0, room - 1) + '\\u2026';\n    text += '\\n\\n' + excerpt;\n  }\n}\n\ntext += tagsStr + '\\n\\n' + url;\n\n// Byte offsets for clickable URL facet\nconst encoder = new TextEncoder();\nconst byteStart = encoder.encode(text.slice(0, text.lastIndexOf(url))).length;\nconst byteEnd = encoder.encode(text).length;\n\nreturn [{ json: { record: {\n  '$type': 'app.bsky.feed.post',\n  text,\n  createdAt: new Date().toISOString(),\n  langs: ['en'],\n  facets: [{ index: { byteStart, byteEnd }, features: [{ '$type': 'app.bsky.richtext.facet#link', uri: url }] }]\n} } }];"
      }
    },
    {
      "id": "nb2",
      "name": "Bluesky Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.server.createSession",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"identifier\": \"theunnamedroads.com\", \"password\": \"ol4o-buh4-b7hv-55ek\"}",
        "options": {}
      }
    },
    {
      "id": "nb3",
      "name": "Post to Bluesky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.repo.createRecord",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessJwt }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"repo\": \"{{ $json.did }}\", \"collection\": \"app.bsky.feed.post\", \"record\": {{ JSON.stringify($('Build Bluesky Post').item.json.record) }}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Subscribers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Bluesky Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Subscribers": {
      "main": [
        [
          {
            "node": "Aggregate Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Subscribers": {
      "main": [
        [
          {
            "node": "Build Email Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Batch": {
      "main": [
        [
          {
            "node": "Send Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Newsletter": {
      "main": [
        []
      ]
    },
    "Build Bluesky Post": {
      "main": [
        [
          {
            "node": "Bluesky Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bluesky Auth": {
      "main": [
        [
          {
            "node": "Post to Bluesky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "5ba94511-2665-483c-b14f-10288ed0622b",
  "activeVersionId": "5ba94511-2665-483c-b14f-10288ed0622b",
  "versionCounter": 84,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-22T08:44:51.256Z",
      "createdAt": "2026-03-22T08:44:51.256Z",
      "role": "workflow:owner",
      "workflowId": "j3gxGYKpnD6uHC8h",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-30T10:17:34.635Z",
    "createdAt": "2026-03-30T10:17:34.635Z",
    "versionId": "5ba94511-2665-483c-b14f-10288ed0622b",
    "workflowId": "j3gxGYKpnD6uHC8h",
    "nodes": [
      {
        "id": "n1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          260,
          300
        ],
        "parameters": {
          "path": "article-published",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        },
        "webhookId": "article-published-dispatch"
      },
      {
        "id": "n2",
        "name": "Fetch Subscribers",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          480,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT DISTINCT s.email, COALESCE(s.name, '') as name FROM subscribers s JOIN subscriber_lists sl ON s.id = sl.subscriber_id JOIN lists l ON sl.list_id = l.id WHERE l.uuid = '{{ $json.body.listUuid }}' AND s.status = 'enabled'"
        },
        "credentials": {
          "postgres": {
            "id": "pGKG4VDMYUGlcmqJ",
            "name": "Listmonk Postgres"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "n3",
        "name": "Aggregate Subscribers",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          700,
          300
        ],
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "subscribers",
          "options": {}
        }
      },
      {
        "id": "n4",
        "name": "Build Email Batch",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          920,
          300
        ],
        "parameters": {
          "jsCode": "const subscribers = $input.item.json.subscribers || [];\nconst wb = $('Webhook').item.json.body;\nconst { title, description, url, projectName, listUuid, umamiName } = wb;\n\nconst themes = {\n  theunnamedroads:    { bg:'#0a0a0a', header:'#111111', textColor:'#e5e5e5', cta:'#6366f1', ctaText:'#fff', cardBg:'#111827', subText:'rgba(255,255,255,0.35)', divider:'rgba(255,255,255,0.1)' },\n  thehockeybrain:     { bg:'#f0f9ff', header:'#0c4a6e', textColor:'#1e3a5f', cta:'#0ea5e9', ctaText:'#fff', cardBg:'#ffffff', subText:'#94a3b8', divider:'#bae6fd' },\n  theagentfabric:     { bg:'#060d1f', header:'#0b1020', textColor:'#cbd5e1', cta:'#3b82f6', ctaText:'#fff', cardBg:'#0d1526', subText:'rgba(255,255,255,0.35)', divider:'rgba(255,255,255,0.08)' },\n  theatomicnetwork:   { bg:'#f8fafc', header:'#1e3a8a', textColor:'#1e293b', cta:'#2563eb', ctaText:'#fff', cardBg:'#ffffff', subText:'#94a3b8', divider:'#e2e8f0' },\n  theprintroute:      { bg:'#0f172a', header:'#1e1b4b', textColor:'#cbd5e1', cta:'#4f46e5', ctaText:'#fff', cardBg:'#1e293b', subText:'rgba(255,255,255,0.35)', divider:'rgba(255,255,255,0.08)' },\n  emilingemarkarlsson:{ bg:'#f9fafb', header:'#111827', textColor:'#374151', cta:'#111827', ctaText:'#fff', cardBg:'#ffffff', subText:'#9ca3af', divider:'#e5e7eb' },\n  thehockeyanalytics: { bg:'#f0f9ff', header:'#0c4a6e', textColor:'#1e3a5f', cta:'#0ea5e9', ctaText:'#fff', cardBg:'#ffffff', subText:'#94a3b8', divider:'#bae6fd' },\n};\n\nconst t = themes[umamiName] || themes['theunnamedroads'];\nconst fromName = projectName || 'The Unnamed Roads';\n\nconst batch = subscribers.map(sub => {\n  const firstName = (sub.name || '').trim().split(' ')[0];\n  const greeting = firstName ? 'Hi ' + firstName + ',' : 'Hi there,';\n  const safeEmail = encodeURIComponent(sub.email || '');\n\n  const html =\n    '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>' +\n    '<body style=\"margin:0;padding:0;background-color:' + t.bg + ';font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Helvetica,Arial,sans-serif;\">' +\n    '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:' + t.bg + ';padding:40px 20px;\">' +\n    '<tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">' +\n    '<tr><td style=\"background-color:' + t.header + ';padding:28px 40px;border-radius:12px 12px 0 0;\">' +\n    '<p style=\"margin:0;font-size:18px;font-weight:700;color:#ffffff;letter-spacing:-0.3px;\">' + fromName + '</p></td></tr>' +\n    '<tr><td style=\"background-color:' + t.cardBg + ';padding:40px;border-radius:0 0 12px 12px;\">' +\n    '<p style=\"margin:0 0 8px;font-size:11px;color:' + t.cta + ';font-weight:700;text-transform:uppercase;letter-spacing:1.5px;\">New Article</p>' +\n    '<p style=\"margin:0 0 20px;font-size:14px;color:' + t.textColor + ';\">' + greeting + '</p>' +\n    '<h1 style=\"margin:0 0 16px;font-size:22px;font-weight:700;color:' + t.textColor + ';line-height:1.35;\">' + title + '</h1>' +\n    (description ? '<p style=\"margin:0 0 32px;font-size:15px;line-height:1.65;color:' + t.textColor + ';opacity:0.8;\">' + description + '</p>' : '<p style=\"margin:0 0 32px;\"></p>') +\n    '<a href=\"' + url + '\" style=\"display:inline-block;background-color:' + t.cta + ';color:' + t.ctaText + ';padding:14px 28px;border-radius:8px;text-decoration:none;font-size:14px;font-weight:600;\">Read article \\u2192</a>' +\n    '<hr style=\"margin:40px 0;border:none;border-top:1px solid ' + t.divider + ';\">' +\n    '<p style=\"margin:0;font-size:12px;color:' + t.subText + ';line-height:1.7;\">' +\n    fromName + ' is part of <a href=\"https://theunnamedroads.com\" style=\"color:' + t.cta + ';text-decoration:none;\">The Unnamed Roads</a>.<br>' +\n    'You\\'re receiving this because you subscribed to ' + fromName + '. ' +\n    '<a href=\"https://listmonk-v8wk0kksk00wgk0g0c4wsww0.46.62.206.47.sslip.io/subscription/manage?email=' + safeEmail + '\" style=\"color:' + t.cta + ';\">Manage subscription</a>' +\n    '</p></td></tr></table></td></tr></table></body></html>';\n\n  return { from: fromName + ' <newsletter@theunnamedroads.com>', to: [sub.email], subject: title, html };\n});\n\nreturn [{ json: { batch, count: batch.length, projectName: fromName, url, title } }];"
        }
      },
      {
        "id": "n5",
        "name": "Send Newsletter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1140,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails/batch",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer re_Yms1HKdL_7FQrPbkNnCYdFC4RruFpUyMh"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.batch) }}",
          "options": {
            "ignoreResponseCode": true
          }
        }
      },
      {
        "id": "nb1",
        "name": "Build Bluesky Post",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1580,
          300
        ],
        "parameters": {
          "jsCode": "const wb = $('Webhook').item.json.body;\nconst { title, description, url, umamiName } = wb;\n\n// Per-site emoji + hashtags\nconst sites = {\n  theunnamedroads:    { emoji: '🌍', tags: '#travel #writing #adventure' },\n  thehockeyanalytics: { emoji: '🏒', tags: '#hockey #nhl #sportsanalytics' },\n  thehockeybrain:     { emoji: '🧠', tags: '#hockey #nhl #hockeydata' },\n  emilingemarkarlsson:{ emoji: '🤖', tags: '#automation #n8n #selfhosted #buildinpublic' },\n  theagentfabric:     { emoji: '⚙️', tags: '#ai #agents #automation' },\n  theprintroute:      { emoji: '📄', tags: '#printing #design #photography' },\n};\nconst cfg = sites[umamiName] || { emoji: '📝', tags: '' };\n\n// Bluesky 300 char limit; URLs resolve to link cards\nconst tagsStr = cfg.tags ? '\\n\\n' + cfg.tags : '';\nconst base = cfg.emoji + ' ' + title;\nlet text = base;\n\nif (description) {\n  const room = 290 - base.length - tagsStr.length - 2 - url.length - 2;\n  if (room > 40) {\n    const excerpt = description.length <= room ? description : description.slice(0, room - 1) + '\\u2026';\n    text += '\\n\\n' + excerpt;\n  }\n}\n\ntext += tagsStr + '\\n\\n' + url;\n\n// Byte offsets for clickable URL facet\nconst encoder = new TextEncoder();\nconst byteStart = encoder.encode(text.slice(0, text.lastIndexOf(url))).length;\nconst byteEnd = encoder.encode(text).length;\n\nreturn [{ json: { record: {\n  '$type': 'app.bsky.feed.post',\n  text,\n  createdAt: new Date().toISOString(),\n  langs: ['en'],\n  facets: [{ index: { byteStart, byteEnd }, features: [{ '$type': 'app.bsky.richtext.facet#link', uri: url }] }]\n} } }];"
        }
      },
      {
        "id": "nb2",
        "name": "Bluesky Auth",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1800,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://bsky.social/xrpc/com.atproto.server.createSession",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"identifier\": \"theunnamedroads.com\", \"password\": \"ol4o-buh4-b7hv-55ek\"}",
          "options": {}
        }
      },
      {
        "id": "nb3",
        "name": "Post to Bluesky",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2020,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://bsky.social/xrpc/com.atproto.repo.createRecord",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.accessJwt }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"repo\": \"{{ $json.did }}\", \"collection\": \"app.bsky.feed.post\", \"record\": {{ JSON.stringify($('Build Bluesky Post').item.json.record) }}}",
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Fetch Subscribers",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build Bluesky Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Subscribers": {
        "main": [
          [
            {
              "node": "Aggregate Subscribers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Subscribers": {
        "main": [
          [
            {
              "node": "Build Email Batch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Email Batch": {
        "main": [
          [
            {
              "node": "Send Newsletter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Newsletter": {
        "main": [
          []
        ]
      },
      "Build Bluesky Post": {
        "main": [
          [
            {
              "node": "Bluesky Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bluesky Auth": {
        "main": [
          [
            {
              "node": "Post to Bluesky",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "null null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-30T10:17:43.281Z",
        "id": 499,
        "workflowId": "j3gxGYKpnD6uHC8h",
        "versionId": "5ba94511-2665-483c-b14f-10288ed0622b",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-03-30T10:17:43.332Z",
        "id": 500,
        "workflowId": "j3gxGYKpnD6uHC8h",
        "versionId": "5ba94511-2665-483c-b14f-10288ed0622b",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-03-30T10:17:34.679Z",
        "id": 497,
        "workflowId": "j3gxGYKpnD6uHC8h",
        "versionId": "5ba94511-2665-483c-b14f-10288ed0622b",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-03-30T10:17:34.697Z",
        "id": 498,
        "workflowId": "j3gxGYKpnD6uHC8h",
        "versionId": "5ba94511-2665-483c-b14f-10288ed0622b",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}