n8n/workflows/content-performance-feedback.json
{
  "updatedAt": "2026-04-10T08:09:56.999Z",
  "createdAt": "2026-03-30T08:30:36.786Z",
  "id": "lGsFrLuD0nlRCz8w",
  "name": "content-performance-feedback",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "path": "run-content-feedback",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "webhookId": "run-content-feedback"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT w.domain, e.url_path, COUNT(*) as views FROM website_event e JOIN website w ON w.website_id = e.website_id WHERE e.created_at > NOW() - INTERVAL '7 days' AND (e.url_path LIKE '/posts/%' OR e.url_path LIKE '/blog/%' OR e.url_path LIKE '/insights/%') AND e.url_path NOT IN ('/', '/blog/', '/posts/') AND e.url_path NOT LIKE '%/2' AND e.url_path NOT LIKE '%/3' GROUP BY w.domain, e.url_path ORDER BY views DESC LIMIT 20",
        "options": {}
      },
      "id": "postgres-1",
      "name": "Top Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PLOVoVKhDi0Ae9Le",
          "name": "Umami Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst bySite = {};\nfor (const r of rows) {\n  if (!bySite[r.domain]) bySite[r.domain] = [];\n  bySite[r.domain].push({ url: r.url_path, views: parseInt(r.views) });\n}\n\nconst lines = [];\nfor (const [domain, articles] of Object.entries(bySite)) {\n  lines.push(`\\n${domain}:`);\n  for (const a of articles.slice(0, 5)) {\n    const slug = a.url.replace(/^\\/(posts|blog|insights)\\//, '').replace(/\\/$/, '');\n    lines.push(`  - ${slug} (${a.views} views)`);\n  }\n}\n\nconst summary = lines.join('\\n');\n\nreturn [{ json: { rows, bySite, summary } }];"
      },
      "id": "code-1",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: 'You are a content strategist. Analyze top-performing articles and extract actionable keyword/topic suggestions for next week. Be concise and specific. Return JSON: { insights: { domain: { top_topics: [], suggested_keywords: [], patterns: string } } }' }, { role: 'user', content: 'Top articles last 7 days:\\n' + $json.summary + '\\n\\nFor each domain, extract: (1) common topics/themes in top articles, (2) 5 specific keyword suggestions to write about next week based on what is performing well, (3) one sentence pattern observation.' }] }) }}",
        "options": {}
      },
      "id": "groq-1",
      "name": "Groq Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const groqResp = $input.first().json;\nconst raw = groqResp.choices[0].message.content;\n\nlet insights = {};\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) insights = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  insights = { raw };\n}\n\nconst prev = $('Format Data').first().json;\n\nconst output = {\n  generated_at: new Date().toISOString(),\n  week: new Date().toISOString().slice(0, 10),\n  top_articles: prev.bySite,\n  insights: insights.insights || insights\n};\n\nreturn [{ json: output }];"
      },
      "id": "code-2",
      "name": "Build Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "fileName": "performance-insights.json",
        "operation": "upload",
        "binaryData": false,
        "bucketName": "seo-drafts",
        "fileContent": "={{ JSON.stringify($json) }}",
        "additionalFields": {}
      },
      "id": "minio-1",
      "name": "Save to Minio",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "s3": {
          "id": "HdCw5lSb6jwOHLHd",
          "name": "THA Minio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Build Insights').first().json;\nconst bySite = d.top_articles;\nconst insights = d.insights;\n\nlet articleLines = [];\nfor (const [domain, articles] of Object.entries(bySite)) {\n  const shortDomain = domain.replace('.com', '').replace('the', '');\n  articleLines.push(`<b>${domain}</b>`);\n  for (const a of (articles || []).slice(0, 3)) {\n    const slug = a.url.replace(/^\\/(posts|blog|insights)\\//, '').replace(/\\/$/, '').replace(/-/g, ' ');\n    articleLines.push(`  ${a.views} views – ${slug}`);\n  }\n}\n\nlet insightLines = [];\nfor (const [domain, data] of Object.entries(insights)) {\n  if (data && data.suggested_keywords) {\n    insightLines.push(`<b>${domain}:</b> ` + data.suggested_keywords.slice(0, 3).join(', '));\n  }\n}\n\nconst text = '<b>Content Performance – veckorapport</b>\\n\\n' +\n  '<b>Toppinnehall denna vecka:</b>\\n' +\n  '<code>' + articleLines.join('\\n') + '</code>\\n\\n' +\n  '<b>Foreslagna keywords nasta vecka:</b>\\n' +\n  insightLines.join('\\n');\n\nreturn [{ json: { text } }];"
      },
      "id": "code-3",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: '-1003919428238', text: $json.text, parse_mode: 'HTML', message_thread_id: 5, disable_web_page_preview: true }) }}",
        "options": {}
      },
      "id": "telegram-1",
      "name": "Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        300
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Top Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Top Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Articles": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Groq Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Analysis": {
      "main": [
        [
          {
            "node": "Build Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insights": {
      "main": [
        [
          {
            "node": "Save to Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Minio": {
      "main": [
        [
          {
            "node": "Format Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "ba4be28c-2bf1-45e2-9554-01fd01e9173a",
  "activeVersionId": "ba4be28c-2bf1-45e2-9554-01fd01e9173a",
  "versionCounter": 37,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-30T08:30:36.786Z",
      "createdAt": "2026-03-30T08:30:36.786Z",
      "role": "workflow:owner",
      "workflowId": "lGsFrLuD0nlRCz8w",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T08:09:21.673Z",
    "createdAt": "2026-04-10T08:09:21.673Z",
    "versionId": "ba4be28c-2bf1-45e2-9554-01fd01e9173a",
    "workflowId": "lGsFrLuD0nlRCz8w",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 9,
                "triggerAtMinute": 15
              }
            ]
          }
        },
        "id": "schedule-1",
        "name": "Schedule",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          300
        ]
      },
      {
        "parameters": {
          "path": "run-content-feedback",
          "httpMethod": "POST",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          160
        ],
        "webhookId": "run-content-feedback"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT w.domain, e.url_path, COUNT(*) as views FROM website_event e JOIN website w ON w.website_id = e.website_id WHERE e.created_at > NOW() - INTERVAL '7 days' AND (e.url_path LIKE '/posts/%' OR e.url_path LIKE '/blog/%' OR e.url_path LIKE '/insights/%') AND e.url_path NOT IN ('/', '/blog/', '/posts/') AND e.url_path NOT LIKE '%/2' AND e.url_path NOT LIKE '%/3' GROUP BY w.domain, e.url_path ORDER BY views DESC LIMIT 20",
          "options": {}
        },
        "id": "postgres-1",
        "name": "Top Articles",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          240,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "PLOVoVKhDi0Ae9Le",
            "name": "Umami Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst bySite = {};\nfor (const r of rows) {\n  if (!bySite[r.domain]) bySite[r.domain] = [];\n  bySite[r.domain].push({ url: r.url_path, views: parseInt(r.views) });\n}\n\nconst lines = [];\nfor (const [domain, articles] of Object.entries(bySite)) {\n  lines.push(`\\n${domain}:`);\n  for (const a of articles.slice(0, 5)) {\n    const slug = a.url.replace(/^\\/(posts|blog|insights)\\//, '').replace(/\\/$/, '');\n    lines.push(`  - ${slug} (${a.views} views)`);\n  }\n}\n\nconst summary = lines.join('\\n');\n\nreturn [{ json: { rows, bySite, summary } }];"
        },
        "id": "code-1",
        "name": "Format Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_API_KEY"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: 'You are a content strategist. Analyze top-performing articles and extract actionable keyword/topic suggestions for next week. Be concise and specific. Return JSON: { insights: { domain: { top_topics: [], suggested_keywords: [], patterns: string } } }' }, { role: 'user', content: 'Top articles last 7 days:\\n' + $json.summary + '\\n\\nFor each domain, extract: (1) common topics/themes in top articles, (2) 5 specific keyword suggestions to write about next week based on what is performing well, (3) one sentence pattern observation.' }] }) }}",
          "options": {}
        },
        "id": "groq-1",
        "name": "Groq Analysis",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const groqResp = $input.first().json;\nconst raw = groqResp.choices[0].message.content;\n\nlet insights = {};\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) insights = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  insights = { raw };\n}\n\nconst prev = $('Format Data').first().json;\n\nconst output = {\n  generated_at: new Date().toISOString(),\n  week: new Date().toISOString().slice(0, 10),\n  top_articles: prev.bySite,\n  insights: insights.insights || insights\n};\n\nreturn [{ json: output }];"
        },
        "id": "code-2",
        "name": "Build Insights",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          300
        ]
      },
      {
        "parameters": {
          "fileName": "performance-insights.json",
          "operation": "upload",
          "binaryData": false,
          "bucketName": "seo-drafts",
          "fileContent": "={{ JSON.stringify($json) }}",
          "additionalFields": {}
        },
        "id": "minio-1",
        "name": "Save to Minio",
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          1200,
          300
        ],
        "credentials": {
          "s3": {
            "id": "HdCw5lSb6jwOHLHd",
            "name": "THA Minio"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const d = $('Build Insights').first().json;\nconst bySite = d.top_articles;\nconst insights = d.insights;\n\nlet articleLines = [];\nfor (const [domain, articles] of Object.entries(bySite)) {\n  const shortDomain = domain.replace('.com', '').replace('the', '');\n  articleLines.push(`<b>${domain}</b>`);\n  for (const a of (articles || []).slice(0, 3)) {\n    const slug = a.url.replace(/^\\/(posts|blog|insights)\\//, '').replace(/\\/$/, '').replace(/-/g, ' ');\n    articleLines.push(`  ${a.views} views – ${slug}`);\n  }\n}\n\nlet insightLines = [];\nfor (const [domain, data] of Object.entries(insights)) {\n  if (data && data.suggested_keywords) {\n    insightLines.push(`<b>${domain}:</b> ` + data.suggested_keywords.slice(0, 3).join(', '));\n  }\n}\n\nconst text = '<b>Content Performance – veckorapport</b>\\n\\n' +\n  '<b>Toppinnehall denna vecka:</b>\\n' +\n  '<code>' + articleLines.join('\\n') + '</code>\\n\\n' +\n  '<b>Foreslagna keywords nasta vecka:</b>\\n' +\n  insightLines.join('\\n');\n\nreturn [{ json: { text } }];"
        },
        "id": "code-3",
        "name": "Format Telegram",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: '-1003919428238', text: $json.text, parse_mode: 'HTML', message_thread_id: 5, disable_web_page_preview: true }) }}",
          "options": {}
        },
        "id": "telegram-1",
        "name": "Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          300
        ]
      }
    ],
    "connections": {
      "Schedule": {
        "main": [
          [
            {
              "node": "Top Articles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Top Articles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Top Articles": {
        "main": [
          [
            {
              "node": "Format Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Data": {
        "main": [
          [
            {
              "node": "Groq Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Analysis": {
        "main": [
          [
            {
              "node": "Build Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Insights": {
        "main": [
          [
            {
              "node": "Save to Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save to Minio": {
        "main": [
          [
            {
              "node": "Format Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Telegram": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T08:09:21.737Z",
        "id": 593,
        "workflowId": "lGsFrLuD0nlRCz8w",
        "versionId": "ba4be28c-2bf1-45e2-9554-01fd01e9173a",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T08:09:21.792Z",
        "id": 594,
        "workflowId": "lGsFrLuD0nlRCz8w",
        "versionId": "ba4be28c-2bf1-45e2-9554-01fd01e9173a",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T08:09:57.030Z",
        "id": 627,
        "workflowId": "lGsFrLuD0nlRCz8w",
        "versionId": "ba4be28c-2bf1-45e2-9554-01fd01e9173a",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T08:09:57.044Z",
        "id": 628,
        "workflowId": "lGsFrLuD0nlRCz8w",
        "versionId": "ba4be28c-2bf1-45e2-9554-01fd01e9173a",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}