n8n/workflows/eik-keyword-research.json
{
  "id": "5ofsXkbkRdfwje6W",
  "name": "eik-keyword-research",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "keyword-research-run-once",
        "options": {}
      },
      "id": "8f85a683-796b-4f14-8ad8-95975de6b138",
      "name": "Run Once Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        192,
        -48
      ],
      "webhookId": "keyword-research-run-once"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "c8f4f1c8-7628-4bec-a256-430e0d3ce770",
      "name": "Daily Trigger (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "return { topics: ['data engineering', 'modern data stack', 'n8n automation', 'groq ai', 'astro web performance', 'netlify deploy', 'slack automation', 'google analytics'] };"
      },
      "id": "a75f7efc-890c-4416-98d7-b570cbaea441",
      "name": "Seed Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(i => ({ keyword: i.json?.title?.toLowerCase() || '' })).filter(k => k.keyword);"
      },
      "id": "7bd4e4ef-eb6c-4d56-82ac-d89a47883abd",
      "name": "Normalize Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: 'Score keywords for relevance to Emil Karlsson. Return JSON array with {keyword, score (1-10), rationale} only.' }, { role: 'user', content: 'Keywords: ' + $json.map(x => x.keyword).join(', ') }], temperature: 0.2, max_tokens: 1500 } }}",
        "options": {}
      },
      "id": "1ce28c0e-25aa-4793-897e-08be3f8ee28b",
      "name": "Groq: Score Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HnNvhJFUVZo7k5Tp",
          "name": "tha-groqseo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nlet arr = [];\ntry {\n  const txt = body.choices?.[0]?.message?.content || '[]';\n  arr = JSON.parse(txt);\n} catch (e) {\n  arr = [];\n}\narr = arr.filter(x => x.score >= 7).slice(0, 20);\nreturn arr.map(x => ({ keyword: x.keyword, score: x.score, rationale: x.rationale, status: 'New' }));"
      },
      "id": "a8cc9ef5-6297-4d90-bb3d-48048dda251e",
      "name": "Filter Top Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kCtQIFGVNXWFRGz2XwPvzbmdaHSKZvPWVI1gPITvcI8",
          "mode": "list",
          "cachedResultName": "eik-keyword-research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kCtQIFGVNXWFRGz2XwPvzbmdaHSKZvPWVI1gPITvcI8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kCtQIFGVNXWFRGz2XwPvzbmdaHSKZvPWVI1gPITvcI8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "column": "keyword",
              "value": "={{ $json.keyword }}"
            },
            {
              "column": "score",
              "value": "={{ $json.score }}"
            },
            {
              "column": "rationale",
              "value": "={{ $json.rationale }}"
            },
            {
              "column": "status",
              "value": "New"
            }
          ]
        },
        "options": {}
      },
      "id": "e79724f1-c1cb-4186-b683-a45c9fbe9cb0",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1312,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sHynNC5opA9jCQYo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "eik-kw-agg",
      "name": "Aggregate Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst keywords = items.map(i => ({keyword: i.json.keyword, score: i.json.score, rationale: i.json.rationale || ''}));\nreturn [{ json: { keywords, count: keywords.length, savedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "eik-kw-s3",
      "name": "Save Keywords to Minio",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "s3": {
          "id": "HdCw5lSb6jwOHLHd",
          "name": "THA Minio"
        }
      },
      "parameters": {
        "operation": "upload",
        "bucketName": "seo-drafts",
        "fileName": "eik-approved-keywords.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json.keywords) }}",
        "additionalFields": {}
      }
    },
    {
      "id": "eik-kw-tgbuild",
      "name": "Build Keyword Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "jsCode": "const prev = $('Aggregate Keywords').item.json;\nconst kws = prev.keywords || [];\nconst top5 = kws.slice(0, 5);\nconst lines = top5.map((k, i) => `${i+1}. <b>${k.keyword}</b> (${k.score}/10)`).join('\\n');\nconst text = `📊 <b>EIK Keyword Research – ${prev.count} nyckelord</b>\\n\\n${lines}\\n\\n✅ Sparat till Minio (eik-approved-keywords.json)\\nGeneratorn plockar automatiskt imorgon.`;\nreturn [{ json: { telegramText: text } }];"
      }
    },
    {
      "id": "eik-kw-notify",
      "name": "Notify Telegram - Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({chat_id: '-1003767033253', text: $json.telegramText, parse_mode: 'HTML'}) }}"
      }
    }
  ],
  "connections": {
    "Run Once Webhook": {
      "main": [
        [
          {
            "node": "Seed Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger (8 AM)": {
      "main": [
        [
          {
            "node": "Seed Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Topics": {
      "main": [
        [
          {
            "node": "Normalize Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Keywords": {
      "main": [
        [
          {
            "node": "Groq: Score Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq: Score Keywords": {
      "main": [
        [
          {
            "node": "Filter Top Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Top Keywords": {
      "main": [
        [
          {
            "node": "Write to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Keywords": {
      "main": [
        [
          {
            "node": "Save Keywords to Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Keywords to Minio": {
      "main": [
        [
          {
            "node": "Build Keyword Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Keyword Summary": {
      "main": [
        [
          {
            "node": "Notify Telegram - Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Trigger (8 AM)": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "activeVersionId": "227af4d0-be80-4e6c-bd11-d16403b7029f",
  "versionCounter": 52,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-13T11:08:50.818Z",
      "createdAt": "2025-12-13T11:08:50.818Z",
      "role": "workflow:owner",
      "workflowId": "5ofsXkbkRdfwje6W",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-24T14:57:54.319Z",
    "createdAt": "2026-03-24T14:57:54.319Z",
    "versionId": "227af4d0-be80-4e6c-bd11-d16403b7029f",
    "workflowId": "5ofsXkbkRdfwje6W",
    "nodes": [
      {
        "parameters": {
          "path": "keyword-research-run-once",
          "options": {}
        },
        "id": "8f85a683-796b-4f14-8ad8-95975de6b138",
        "name": "Run Once Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          192,
          -48
        ],
        "webhookId": "keyword-research-run-once"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * *"
              }
            ]
          }
        },
        "id": "c8f4f1c8-7628-4bec-a256-430e0d3ce770",
        "name": "Daily Trigger (8 AM)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          192,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "return { topics: ['data engineering', 'modern data stack', 'n8n automation', 'groq ai', 'astro web performance', 'netlify deploy', 'slack automation', 'google analytics'] };"
        },
        "id": "a75f7efc-890c-4416-98d7-b570cbaea441",
        "name": "Seed Topics",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(i => ({ keyword: i.json?.title?.toLowerCase() || '' })).filter(k => k.keyword);"
        },
        "id": "7bd4e4ef-eb6c-4d56-82ac-d89a47883abd",
        "name": "Normalize Keywords",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          -16
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: 'Score keywords for relevance to Emil Karlsson. Return JSON array with {keyword, score (1-10), rationale} only.' }, { role: 'user', content: 'Keywords: ' + $json.map(x => x.keyword).join(', ') }], temperature: 0.2, max_tokens: 1500 } }}",
          "options": {}
        },
        "id": "1ce28c0e-25aa-4793-897e-08be3f8ee28b",
        "name": "Groq: Score Keywords",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          864,
          -16
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "HnNvhJFUVZo7k5Tp",
            "name": "tha-groqseo"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $input.item.json;\nlet arr = [];\ntry {\n  const txt = body.choices?.[0]?.message?.content || '[]';\n  arr = JSON.parse(txt);\n} catch (e) {\n  arr = [];\n}\narr = arr.filter(x => x.score >= 7).slice(0, 20);\nreturn arr.map(x => ({ keyword: x.keyword, score: x.score, rationale: x.rationale, status: 'New' }));"
        },
        "id": "a8cc9ef5-6297-4d90-bb3d-48048dda251e",
        "name": "Filter Top Keywords",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          -16
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1kCtQIFGVNXWFRGz2XwPvzbmdaHSKZvPWVI1gPITvcI8",
            "mode": "list",
            "cachedResultName": "eik-keyword-research",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kCtQIFGVNXWFRGz2XwPvzbmdaHSKZvPWVI1gPITvcI8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Blad1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kCtQIFGVNXWFRGz2XwPvzbmdaHSKZvPWVI1gPITvcI8/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "schema": [
              {
                "column": "keyword",
                "value": "={{ $json.keyword }}"
              },
              {
                "column": "score",
                "value": "={{ $json.score }}"
              },
              {
                "column": "rationale",
                "value": "={{ $json.rationale }}"
              },
              {
                "column": "status",
                "value": "New"
              }
            ]
          },
          "options": {}
        },
        "id": "e79724f1-c1cb-4186-b683-a45c9fbe9cb0",
        "name": "Write to Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.4,
        "position": [
          1312,
          192
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "sHynNC5opA9jCQYo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "id": "eik-kw-agg",
        "name": "Aggregate Keywords",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst keywords = items.map(i => ({keyword: i.json.keyword, score: i.json.score, rationale: i.json.rationale || ''}));\nreturn [{ json: { keywords, count: keywords.length, savedAt: new Date().toISOString() } }];"
        }
      },
      {
        "id": "eik-kw-s3",
        "name": "Save Keywords to Minio",
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          1100,
          300
        ],
        "credentials": {
          "s3": {
            "id": "HdCw5lSb6jwOHLHd",
            "name": "THA Minio"
          }
        },
        "parameters": {
          "operation": "upload",
          "bucketName": "seo-drafts",
          "fileName": "eik-approved-keywords.json",
          "binaryData": false,
          "fileContent": "={{ JSON.stringify($json.keywords) }}",
          "additionalFields": {}
        }
      },
      {
        "id": "eik-kw-tgbuild",
        "name": "Build Keyword Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1300,
          300
        ],
        "parameters": {
          "jsCode": "const prev = $('Aggregate Keywords').item.json;\nconst kws = prev.keywords || [];\nconst top5 = kws.slice(0, 5);\nconst lines = top5.map((k, i) => `${i+1}. <b>${k.keyword}</b> (${k.score}/10)`).join('\\n');\nconst text = `📊 <b>EIK Keyword Research – ${prev.count} nyckelord</b>\\n\\n${lines}\\n\\n✅ Sparat till Minio (eik-approved-keywords.json)\\nGeneratorn plockar automatiskt imorgon.`;\nreturn [{ json: { telegramText: text } }];"
        }
      },
      {
        "id": "eik-kw-notify",
        "name": "Notify Telegram - Keywords",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1500,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({chat_id: '-1003767033253', text: $json.telegramText, parse_mode: 'HTML'}) }}"
        }
      }
    ],
    "connections": {
      "Run Once Webhook": {
        "main": [
          [
            {
              "node": "Seed Topics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Trigger (8 AM)": {
        "main": [
          [
            {
              "node": "Seed Topics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Seed Topics": {
        "main": [
          [
            {
              "node": "Normalize Keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Keywords": {
        "main": [
          [
            {
              "node": "Groq: Score Keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq: Score Keywords": {
        "main": [
          [
            {
              "node": "Filter Top Keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Top Keywords": {
        "main": [
          [
            {
              "node": "Write to Google Sheets",
              "type": "main",
              "index": 0
            },
            {
              "node": "Aggregate Keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Keywords": {
        "main": [
          [
            {
              "node": "Save Keywords to Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Keywords to Minio": {
        "main": [
          [
            {
              "node": "Build Keyword Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Keyword Summary": {
        "main": [
          [
            {
              "node": "Notify Telegram - Keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "null null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-24T14:57:54.467Z",
        "id": 207,
        "workflowId": "5ofsXkbkRdfwje6W",
        "versionId": "227af4d0-be80-4e6c-bd11-d16403b7029f",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-03-24T14:57:54.487Z",
        "id": 208,
        "workflowId": "5ofsXkbkRdfwje6W",
        "versionId": "227af4d0-be80-4e6c-bd11-d16403b7029f",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-03-24T14:57:54.385Z",
        "id": 205,
        "workflowId": "5ofsXkbkRdfwje6W",
        "versionId": "227af4d0-be80-4e6c-bd11-d16403b7029f",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-03-24T14:57:54.412Z",
        "id": 206,
        "workflowId": "5ofsXkbkRdfwje6W",
        "versionId": "227af4d0-be80-4e6c-bd11-d16403b7029f",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}