n8n/workflows/taf-article-generator.json
{
  "updatedAt": "2026-04-10T09:50:52.763Z",
  "createdAt": "2026-03-24T15:22:03.821Z",
  "id": "ExMw8CCe97Y0ADOl",
  "name": "taf-article-generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "taf-article-generator-sched",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "taf-read-topics-minio",
      "name": "Read Topics from Minio",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "aws": {
          "id": "HdCw5lSb6jwOHLHd",
          "name": "Minio S3"
        }
      },
      "parameters": {
        "operation": "get",
        "bucketName": "seo-drafts",
        "fileKey": "taf-topics.json"
      }
    },
    {
      "id": "taf-article-generator-pick",
      "name": "Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"enterprise AI agent deployment patterns\", \"edge AI vs cloud AI for manufacturing\", \"distributed agent orchestration guide\", \"sovereign AI infrastructure for regulated industries\", \"autonomous agents in supply chain\", \"AI agent security enterprise best practices\", \"multi-agent systems architecture\", \"on-premise LLM deployment guide\", \"AI agent observability and monitoring\", \"federated AI learning enterprise\", \"agent-to-agent communication protocols\", \"AI automation ROI measurement\", \"private AI deployment vs public cloud\", \"agentic workflow design patterns\", \"AI governance enterprise framework 2026\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
      }
    },
    {
      "id": "taf-article-generator-set",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst slug = $json.slug;\nconst date = $json.date;\nconst rssContext = $json.rssContext || '';\n\nconst systemPrompt = \"You are a technical writer for The Agent Fabric (theagentfabric.com) \\u2014 a company building distributed, sovereign AI agent infrastructure for enterprises. Write in a precise, authoritative tone for CTOs, ML engineers, and enterprise architects. Focus on practical depth: architecture patterns, trade-offs, real decisions.\";\n\nconst rssBlock = rssContext ? rssContext + '\\n\\nUse the above context to make your article timely and grounded in current industry developments. Reference or expand on relevant trends where appropriate.\\n\\n' : '';\n\nconst userPrompt = \"Write a comprehensive technical article (1200-1800 words) about: __TOPIC__\\n\\n\".replace('__TOPIC__', topic)\n  + rssBlock\n  + \"Include: key concepts, architecture considerations, practical implementation guidance, trade-offs. Use H2 and H3 headers. End with clear takeaways. NO frontmatter. Start directly with an intro paragraph.\";\n\nreturn {\n  systemPrompt,\n  userPrompt,\n  slug,\n  topic,\n  date\n};"
      }
    },
    {
      "id": "taf-article-generator-groq",
      "name": "Generate with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt+' Topic: '+$json.topic}],temperature:0.7,max_tokens:3000}) }}"
      }
    },
    {
      "id": "taf-article-generator-fmt",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst description = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,5);\nconst frontmatter = `---\\ntitle: \"${title.replace(/\"/g,\\\"'\\\")}\"\\ndescription: \"${description.replace(/\"/g,\\\"'\\\")}\"\\npublishDate: \"${date}\"\\ntags: [${tags.map(t=>`\"${t}\"`).join(', ')}]\\nauthor: \"The Agent Fabric\"\\nauthorUrl: \"https://theagentfabric.com\"\\ndisclosure: \"AI-assisted content\"\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
      }
    },
    {
      "id": "taf-article-generator-pub",
      "name": "Publish via OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.0.2.1:9191/store-and-publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theagentfabric', content: $json.fullContent}) }}"
      }
    },
    {
      "id": "wh-ExMw8CCe",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        300
      ],
      "webhookId": "run-taf-gen",
      "parameters": {
        "path": "run-taf-gen",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "taf-indexnow-01",
      "name": "IndexNow Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.indexnow.org/indexnow",
        "options": {},
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({host: 'tur-theagentfabric.vercel.app', key: '204595099455614bea37043937a7d115', keyLocation: 'https://tur-theagentfabric.vercel.app/204595099455614bea37043937a7d115.txt', urlList: ['https://tur-theagentfabric.vercel.app/blog/' + $('Pick Topic').item.json.slug]}) }}"
      }
    },
    {
      "id": "taf-save-used-slug",
      "name": "Save Used Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
      }
    },
    {
      "id": "taf-rss-fetch-1",
      "name": "Fetch RSS 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {}
      }
    },
    {
      "id": "taf-rss-fetch-2",
      "name": "Fetch RSS 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://www.deeplearning.ai/the-batch/feed/",
        "options": {}
      }
    },
    {
      "id": "taf-rss-parse",
      "name": "Parse RSS Headlines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "// Parse RSS XML from both feeds and extract top headlines\nfunction parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const descMatch = item.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) ||\n                      item.match(/<summary[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/summary>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc = (descMatch?.[1] || '').replace(/<[^>]+>/g, '').replace(/\\s+/g,' ').trim().substring(0, 150);\n    if (title.length > 10) items.push(title + (desc ? ': ' + desc : ''));\n  }\n  return items;\n}\n\n// Get XML from both previous nodes\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch RSS 1').item.json.data || $('Fetch RSS 1').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch RSS 2').item.json.data || $('Fetch RSS 2').item.json.body || ''); } catch(e) {}\n\nconst headlines1 = parseRSS(xml1, 4);\nconst headlines2 = parseRSS(xml2, 3);\nconst allHeadlines = [...headlines1, ...headlines2].slice(0, 6);\n\nconst contextText = allHeadlines.length > 0\n  ? 'CURRENT INDUSTRY CONTEXT (recent headlines):\\n' + allHeadlines.map(h => '\\u2022 ' + h).join('\\n')\n  : '';\n\n// Pass through topic + add rssContext\nreturn {\n  topic: $('Pick Topic').item.json.topic,\n  slug: $('Pick Topic').item.json.slug,\n  date: $('Pick Topic').item.json.date,\n  rssContext: contextText,\n  rssCount: allHeadlines.length\n};"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topics from Minio": {
      "main": [
        [
          {
            "node": "Pick Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic": {
      "main": [
        [
          {
            "node": "Fetch RSS 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Groq": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Publish via OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish via OpenClaw": {
      "main": [
        [
          {
            "node": "IndexNow Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IndexNow Ping": {
      "main": [
        [
          {
            "node": "Save Used Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS 1": {
      "main": [
        [
          {
            "node": "Fetch RSS 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS 2": {
      "main": [
        [
          {
            "node": "Parse RSS Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Headlines": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "0c87620e-d8c5-4477-aafd-d2b639d178ae",
  "activeVersionId": "0c87620e-d8c5-4477-aafd-d2b639d178ae",
  "versionCounter": 41,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-24T15:22:03.821Z",
      "createdAt": "2026-03-24T15:22:03.821Z",
      "role": "workflow:owner",
      "workflowId": "ExMw8CCe97Y0ADOl",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T09:50:52.765Z",
    "createdAt": "2026-04-10T09:50:52.765Z",
    "versionId": "0c87620e-d8c5-4477-aafd-d2b639d178ae",
    "workflowId": "ExMw8CCe97Y0ADOl",
    "nodes": [
      {
        "id": "taf-article-generator-sched",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 12 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "taf-read-topics-minio",
        "name": "Read Topics from Minio",
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 2,
        "position": [
          -200,
          300
        ],
        "continueOnFail": true,
        "credentials": {
          "aws": {
            "id": "HdCw5lSb6jwOHLHd",
            "name": "Minio S3"
          }
        },
        "parameters": {
          "operation": "get",
          "bucketName": "seo-drafts",
          "fileKey": "taf-topics.json"
        }
      },
      {
        "id": "taf-article-generator-pick",
        "name": "Pick Topic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"enterprise AI agent deployment patterns\", \"edge AI vs cloud AI for manufacturing\", \"distributed agent orchestration guide\", \"sovereign AI infrastructure for regulated industries\", \"autonomous agents in supply chain\", \"AI agent security enterprise best practices\", \"multi-agent systems architecture\", \"on-premise LLM deployment guide\", \"AI agent observability and monitoring\", \"federated AI learning enterprise\", \"agent-to-agent communication protocols\", \"AI automation ROI measurement\", \"private AI deployment vs public cloud\", \"agentic workflow design patterns\", \"AI governance enterprise framework 2026\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
        }
      },
      {
        "id": "taf-article-generator-set",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          300
        ],
        "parameters": {
          "jsCode": "const topic = $json.topic;\nconst slug = $json.slug;\nconst date = $json.date;\nconst rssContext = $json.rssContext || '';\n\nconst systemPrompt = \"You are a technical writer for The Agent Fabric (theagentfabric.com) \\u2014 a company building distributed, sovereign AI agent infrastructure for enterprises. Write in a precise, authoritative tone for CTOs, ML engineers, and enterprise architects. Focus on practical depth: architecture patterns, trade-offs, real decisions.\";\n\nconst rssBlock = rssContext ? rssContext + '\\n\\nUse the above context to make your article timely and grounded in current industry developments. Reference or expand on relevant trends where appropriate.\\n\\n' : '';\n\nconst userPrompt = \"Write a comprehensive technical article (1200-1800 words) about: __TOPIC__\\n\\n\".replace('__TOPIC__', topic)\n  + rssBlock\n  + \"Include: key concepts, architecture considerations, practical implementation guidance, trade-offs. Use H2 and H3 headers. End with clear takeaways. NO frontmatter. Start directly with an intro paragraph.\";\n\nreturn {\n  systemPrompt,\n  userPrompt,\n  slug,\n  topic,\n  date\n};"
        }
      },
      {
        "id": "taf-article-generator-groq",
        "name": "Generate with Groq",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1000,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_API_KEY"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt+' Topic: '+$json.topic}],temperature:0.7,max_tokens:3000}) }}"
        }
      },
      {
        "id": "taf-article-generator-fmt",
        "name": "Format Article",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst description = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,5);\nconst frontmatter = `---\\ntitle: \"${title.replace(/\"/g,\\\"'\\\")}\"\\ndescription: \"${description.replace(/\"/g,\\\"'\\\")}\"\\npublishDate: \"${date}\"\\ntags: [${tags.map(t=>`\"${t}\"`).join(', ')}]\\nauthor: \"The Agent Fabric\"\\nauthorUrl: \"https://theagentfabric.com\"\\ndisclosure: \"AI-assisted content\"\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
        }
      },
      {
        "id": "taf-article-generator-pub",
        "name": "Publish via OpenClaw",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1400,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://10.0.2.1:9191/store-and-publish",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theagentfabric', content: $json.fullContent}) }}"
        }
      },
      {
        "id": "wh-ExMw8CCe",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -680,
          300
        ],
        "webhookId": "run-taf-gen",
        "parameters": {
          "path": "run-taf-gen",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "taf-indexnow-01",
        "name": "IndexNow Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1620,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "https://api.indexnow.org/indexnow",
          "options": {},
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({host: 'tur-theagentfabric.vercel.app', key: '204595099455614bea37043937a7d115', keyLocation: 'https://tur-theagentfabric.vercel.app/204595099455614bea37043937a7d115.txt', urlList: ['https://tur-theagentfabric.vercel.app/blog/' + $('Pick Topic').item.json.slug]}) }}"
        }
      },
      {
        "id": "taf-save-used-slug",
        "name": "Save Used Slug",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1860,
          300
        ],
        "parameters": {
          "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
        }
      },
      {
        "id": "taf-rss-fetch-1",
        "name": "Fetch RSS 1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          200,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://venturebeat.com/category/ai/feed/",
          "options": {}
        }
      },
      {
        "id": "taf-rss-fetch-2",
        "name": "Fetch RSS 2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://www.deeplearning.ai/the-batch/feed/",
          "options": {}
        }
      },
      {
        "id": "taf-rss-parse",
        "name": "Parse RSS Headlines",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          300
        ],
        "parameters": {
          "jsCode": "// Parse RSS XML from both feeds and extract top headlines\nfunction parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const descMatch = item.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) ||\n                      item.match(/<summary[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/summary>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc = (descMatch?.[1] || '').replace(/<[^>]+>/g, '').replace(/\\s+/g,' ').trim().substring(0, 150);\n    if (title.length > 10) items.push(title + (desc ? ': ' + desc : ''));\n  }\n  return items;\n}\n\n// Get XML from both previous nodes\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch RSS 1').item.json.data || $('Fetch RSS 1').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch RSS 2').item.json.data || $('Fetch RSS 2').item.json.body || ''); } catch(e) {}\n\nconst headlines1 = parseRSS(xml1, 4);\nconst headlines2 = parseRSS(xml2, 3);\nconst allHeadlines = [...headlines1, ...headlines2].slice(0, 6);\n\nconst contextText = allHeadlines.length > 0\n  ? 'CURRENT INDUSTRY CONTEXT (recent headlines):\\n' + allHeadlines.map(h => '\\u2022 ' + h).join('\\n')\n  : '';\n\n// Pass through topic + add rssContext\nreturn {\n  topic: $('Pick Topic').item.json.topic,\n  slug: $('Pick Topic').item.json.slug,\n  date: $('Pick Topic').item.json.date,\n  rssContext: contextText,\n  rssCount: allHeadlines.length\n};"
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Topics from Minio": {
        "main": [
          [
            {
              "node": "Pick Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Topic": {
        "main": [
          [
            {
              "node": "Fetch RSS 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Generate with Groq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate with Groq": {
        "main": [
          [
            {
              "node": "Format Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Article": {
        "main": [
          [
            {
              "node": "Publish via OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish via OpenClaw": {
        "main": [
          [
            {
              "node": "IndexNow Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IndexNow Ping": {
        "main": [
          [
            {
              "node": "Save Used Slug",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RSS 1": {
        "main": [
          [
            {
              "node": "Fetch RSS 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RSS 2": {
        "main": [
          [
            {
              "node": "Parse RSS Headlines",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse RSS Headlines": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T09:50:52.802Z",
        "id": 665,
        "workflowId": "ExMw8CCe97Y0ADOl",
        "versionId": "0c87620e-d8c5-4477-aafd-d2b639d178ae",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T09:50:52.816Z",
        "id": 666,
        "workflowId": "ExMw8CCe97Y0ADOl",
        "versionId": "0c87620e-d8c5-4477-aafd-d2b639d178ae",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}