n8n/workflows/taf-article-generator.json
{
  "updatedAt": "2026-04-10T09:11:05.984Z",
  "createdAt": "2026-03-24T15:22:03.821Z",
  "id": "ExMw8CCe97Y0ADOl",
  "name": "taf-article-generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "taf-article-generator-sched",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "taf-article-generator-seeds",
      "name": "Topic Seeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "parameters": {
        "jsCode": "return [{json: {topics: [\"enterprise AI agent deployment patterns\", \"edge AI vs cloud AI for manufacturing\", \"distributed agent orchestration guide\", \"sovereign AI infrastructure for regulated industries\", \"autonomous agents in supply chain\", \"AI agent security enterprise best practices\", \"multi-agent systems architecture\", \"on-premise LLM deployment guide\", \"AI agent observability and monitoring\", \"federated AI learning enterprise\", \"agent-to-agent communication protocols\", \"AI automation ROI measurement\", \"private AI deployment vs public cloud\", \"agentic workflow design patterns\", \"AI governance enterprise framework 2026\"]}}];"
      }
    },
    {
      "id": "taf-article-generator-pick",
      "name": "Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "jsCode": "const t = $json.topics[Math.floor(Math.random()*$json.topics.length)];\nconst date = new Date().toISOString().split('T')[0];\nconst slug = t.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'')+'-'+date;\nreturn [{json:{topic:t,slug,date}}];"
      }
    },
    {
      "id": "taf-article-generator-set",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "systemPrompt",
              "value": "You are a technical writer for The Agent Fabric (theagentfabric.com) \u2014 a company building distributed, sovereign AI agent infrastructure for enterprises. Write in a precise, authoritative tone for CTOs, ML engineers, and enterprise architects. Focus on practical depth: architecture patterns, trade-offs, real decisions.",
              "type": "string"
            },
            {
              "id": "2",
              "name": "userPrompt",
              "value": "Write a comprehensive technical article (1200-1800 words). Include: key concepts, architecture considerations, practical implementation guidance, trade-offs. Use H2 and H3 headers. End with clear takeaways. NO frontmatter. Start directly with an intro paragraph.",
              "type": "string"
            },
            {
              "id": "3",
              "name": "slug",
              "value": "={{ $json.slug }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "taf-article-generator-groq",
      "name": "Generate with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt+' Topic: '+$json.topic}],temperature:0.7,max_tokens:3000}) }}"
      }
    },
    {
      "id": "taf-article-generator-fmt",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst description = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,5);\nconst frontmatter = `---\\ntitle: \"${title.replace(/\"/g,\\\"'\\\")}\"\\ndescription: \"${description.replace(/\"/g,\\\"'\\\")}\"\\npublishDate: \"${date}\"\\ntags: [${tags.map(t=>`\"${t}\"`).join(', ')}]\\nauthor: \"The Agent Fabric\"\\nauthorUrl: \"https://theagentfabric.com\"\\ndisclosure: \"AI-assisted content\"\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
      }
    },
    {
      "id": "taf-article-generator-pub",
      "name": "Publish via OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.0.2.1:9191/store-and-publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theagentfabric', content: $json.fullContent}) }}"
      }
    },
    {
      "id": "wh-ExMw8CCe",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        300
      ],
      "webhookId": "run-taf-gen",
      "parameters": {
        "path": "run-taf-gen",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "taf-indexnow-01",
      "name": "IndexNow Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.indexnow.org/indexnow",
        "options": {},
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({host: 'tur-theagentfabric.vercel.app', key: '204595099455614bea37043937a7d115', keyLocation: 'https://tur-theagentfabric.vercel.app/204595099455614bea37043937a7d115.txt', urlList: ['https://tur-theagentfabric.vercel.app/blog/' + $('Pick Topic').item.json.slug]}) }}"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Topic Seeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Seeds": {
      "main": [
        [
          {
            "node": "Pick Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Groq": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Publish via OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Topic Seeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish via OpenClaw": {
      "main": [
        [
          {
            "node": "IndexNow Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "28e2ad03-309f-4162-becb-36d59edfc9fe",
  "activeVersionId": "28e2ad03-309f-4162-becb-36d59edfc9fe",
  "versionCounter": 35,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-24T15:22:03.821Z",
      "createdAt": "2026-03-24T15:22:03.821Z",
      "role": "workflow:owner",
      "workflowId": "ExMw8CCe97Y0ADOl",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T09:11:05.986Z",
    "createdAt": "2026-04-10T09:11:05.986Z",
    "versionId": "28e2ad03-309f-4162-becb-36d59edfc9fe",
    "workflowId": "ExMw8CCe97Y0ADOl",
    "nodes": [
      {
        "id": "taf-article-generator-sched",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 12 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "taf-article-generator-seeds",
        "name": "Topic Seeds",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -200,
          300
        ],
        "parameters": {
          "jsCode": "return [{json: {topics: [\"enterprise AI agent deployment patterns\", \"edge AI vs cloud AI for manufacturing\", \"distributed agent orchestration guide\", \"sovereign AI infrastructure for regulated industries\", \"autonomous agents in supply chain\", \"AI agent security enterprise best practices\", \"multi-agent systems architecture\", \"on-premise LLM deployment guide\", \"AI agent observability and monitoring\", \"federated AI learning enterprise\", \"agent-to-agent communication protocols\", \"AI automation ROI measurement\", \"private AI deployment vs public cloud\", \"agentic workflow design patterns\", \"AI governance enterprise framework 2026\"]}}];"
        }
      },
      {
        "id": "taf-article-generator-pick",
        "name": "Pick Topic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "jsCode": "const t = $json.topics[Math.floor(Math.random()*$json.topics.length)];\nconst date = new Date().toISOString().split('T')[0];\nconst slug = t.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'')+'-'+date;\nreturn [{json:{topic:t,slug,date}}];"
        }
      },
      {
        "id": "taf-article-generator-set",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          200,
          300
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "systemPrompt",
                "value": "You are a technical writer for The Agent Fabric (theagentfabric.com) \u2014 a company building distributed, sovereign AI agent infrastructure for enterprises. Write in a precise, authoritative tone for CTOs, ML engineers, and enterprise architects. Focus on practical depth: architecture patterns, trade-offs, real decisions.",
                "type": "string"
              },
              {
                "id": "2",
                "name": "userPrompt",
                "value": "Write a comprehensive technical article (1200-1800 words). Include: key concepts, architecture considerations, practical implementation guidance, trade-offs. Use H2 and H3 headers. End with clear takeaways. NO frontmatter. Start directly with an intro paragraph.",
                "type": "string"
              },
              {
                "id": "3",
                "name": "slug",
                "value": "={{ $json.slug }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "topic",
                "value": "={{ $json.topic }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "date",
                "value": "={{ $json.date }}",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "taf-article-generator-groq",
        "name": "Generate with Groq",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          400,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_API_KEY"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt+' Topic: '+$json.topic}],temperature:0.7,max_tokens:3000}) }}"
        }
      },
      {
        "id": "taf-article-generator-fmt",
        "name": "Format Article",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          300
        ],
        "parameters": {
          "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst description = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,5);\nconst frontmatter = `---\\ntitle: \"${title.replace(/\"/g,\\\"'\\\")}\"\\ndescription: \"${description.replace(/\"/g,\\\"'\\\")}\"\\npublishDate: \"${date}\"\\ntags: [${tags.map(t=>`\"${t}\"`).join(', ')}]\\nauthor: \"The Agent Fabric\"\\nauthorUrl: \"https://theagentfabric.com\"\\ndisclosure: \"AI-assisted content\"\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
        }
      },
      {
        "id": "taf-article-generator-pub",
        "name": "Publish via OpenClaw",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          800,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://10.0.2.1:9191/store-and-publish",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theagentfabric', content: $json.fullContent}) }}"
        }
      },
      {
        "id": "wh-ExMw8CCe",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -680,
          300
        ],
        "webhookId": "run-taf-gen",
        "parameters": {
          "path": "run-taf-gen",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "taf-indexnow-01",
        "name": "IndexNow Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1020,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "https://api.indexnow.org/indexnow",
          "options": {},
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({host: 'tur-theagentfabric.vercel.app', key: '204595099455614bea37043937a7d115', keyLocation: 'https://tur-theagentfabric.vercel.app/204595099455614bea37043937a7d115.txt', urlList: ['https://tur-theagentfabric.vercel.app/blog/' + $('Pick Topic').item.json.slug]}) }}"
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Topic Seeds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Topic Seeds": {
        "main": [
          [
            {
              "node": "Pick Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Topic": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Generate with Groq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate with Groq": {
        "main": [
          [
            {
              "node": "Format Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Article": {
        "main": [
          [
            {
              "node": "Publish via OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Topic Seeds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish via OpenClaw": {
        "main": [
          [
            {
              "node": "IndexNow Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T09:11:06.022Z",
        "id": 643,
        "workflowId": "ExMw8CCe97Y0ADOl",
        "versionId": "28e2ad03-309f-4162-becb-36d59edfc9fe",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T09:11:06.040Z",
        "id": 644,
        "workflowId": "ExMw8CCe97Y0ADOl",
        "versionId": "28e2ad03-309f-4162-becb-36d59edfc9fe",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}