n8n/workflows/tan-article-generator.json
{
  "updatedAt": "2026-04-10T09:50:52.538Z",
  "createdAt": "2026-03-24T15:13:28.636Z",
  "id": "XdnfbkbCL8NDjBdo",
  "name": "tan-article-generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "tan-article-generator-sched",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 11 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "tan-read-topics-minio",
      "name": "Read Topics from Minio",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "aws": {
          "id": "HdCw5lSb6jwOHLHd",
          "name": "Minio S3"
        }
      },
      "parameters": {
        "operation": "get",
        "bucketName": "seo-drafts",
        "fileKey": "tan-topics.json"
      }
    },
    {
      "id": "tan-article-generator-pick",
      "name": "Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"network effects in local business marketing\", \"hyperlocal marketing strategies 2026\", \"AI personalization for small businesses\", \"community-led growth playbook\", \"word-of-mouth marketing systems\", \"referral program design that works\", \"local SEO tactics for service businesses\", \"building brand trust in digital age\", \"customer retention vs acquisition math\", \"social proof optimization strategies\", \"micro-influencer marketing ROI\", \"email marketing for local businesses\", \"Google Business Profile optimization\", \"viral content formulas for B2C brands\", \"paid social vs organic reach 2026\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
      }
    },
    {
      "id": "tan-article-generator-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst slug = $json.slug;\nconst date = $json.date;\nconst rssContext = $json.rssContext || '';\n\nconst systemPrompt = \"You are a marketing strategist writing for The Atomic Network (theatomicnetwork.com) \\u2014 a publication about growth, marketing, and network effects for modern businesses. Write with authority, use data, be practical and direct. Target audience: marketing managers, growth hackers, and business owners.\";\n\nconst rssBlock = rssContext ? rssContext + '\\n\\nUse the above context to make your article timely and grounded in current industry developments. Reference or expand on relevant trends where appropriate.\\n\\n' : '';\n\nconst userPrompt = \"Write a comprehensive, SEO-optimized article about: __TOPIC__\\n\\n\".replace('__TOPIC__', topic)\n  + rssBlock\n  + \"Requirements:\\n- 1200-1800 words\\n- Start with a compelling intro (no H1 needed)\\n- Use H2 headers for main sections, H3 for subsections\\n- Include practical tactics, not just theory\\n- Add specific examples and if possible, metrics/numbers\\n- End with actionable next steps\\n- NO frontmatter, just the article body\";\n\nreturn {\n  systemPrompt,\n  userPrompt,\n  slug,\n  topic,\n  date\n};"
      }
    },
    {
      "id": "tan-article-generator-groq",
      "name": "Generate with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt}],temperature:0.7,max_tokens:3000}) }}"
      }
    },
    {
      "id": "tan-article-generator-fmt",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "\nconst body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\n\nconst articleText = body.choices?.[0]?.message?.content || '';\n\nlet title = topic.charAt(0).toUpperCase() + topic.slice(1);\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) {\n  title = firstLine.slice(2).trim();\n  bodyText = articleText.split('\\n').slice(1).join('\\n').trim();\n}\n\ntitle = title.split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n\nconst description = bodyText.replace(/^#+.*$/gm, '').replace(/\\n+/g, ' ').trim().slice(0, 160);\n\nconst tags = topic.toLowerCase().split(' ').filter(w => w.length > 3).slice(0, 6)\n  .map(w => w.replace(/[^a-z0-9]/g, ''));\n\nconst heroSlug = slug.replace(/\\d{4}-\\d{2}-\\d{2}$/, '').replace(/-$/, '');\n\nconst frontmatter = `---\ntitle: \"${title.replace(/\"/g, \"'\")}\"\ndescription: \"${description.replace(/\"/g, \"'\")}\"\npublishDate: \"${date}\"\ntags: [${tags.map(t => `\"${t}\"`).join(', ')}]\nheroImage: \"\"\nauthor: \"The Atomic Network\"\nauthorUrl: \"https://theatomicnetwork.com\"\ndisclosure: \"AI-assisted content\"\n---`;\n\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\n\nreturn [{ json: { fullContent, title, slug } }];\n"
      }
    },
    {
      "id": "tan-article-generator-pub",
      "name": "Publish via OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.0.2.1:9191/store-and-publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theatomicnetwork', content: $json.fullContent}) }}"
      }
    },
    {
      "id": "wh-XdnfbkbC",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        300
      ],
      "webhookId": "run-tan-gen",
      "parameters": {
        "path": "run-tan-gen",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "tan-indexnow-01",
      "name": "IndexNow Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.indexnow.org/indexnow",
        "options": {},
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({host: 'tan-website.netlify.app', key: '45dd255c1afd3b0b0a18d077af5d2d43', keyLocation: 'https://tan-website.netlify.app/45dd255c1afd3b0b0a18d077af5d2d43.txt', urlList: ['https://tan-website.netlify.app/blog/' + $('Pick Topic').item.json.slug]}) }}"
      }
    },
    {
      "id": "tan-save-used-slug",
      "name": "Save Used Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
      }
    },
    {
      "id": "tan-rss-fetch-1",
      "name": "Fetch RSS 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://blog.hubspot.com/marketing/rss.xml",
        "options": {}
      }
    },
    {
      "id": "tan-rss-fetch-2",
      "name": "Fetch RSS 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://feeds.feedburner.com/oreilly/radar",
        "options": {}
      }
    },
    {
      "id": "tan-rss-parse",
      "name": "Parse RSS Headlines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "// Parse RSS XML from both feeds and extract top headlines\nfunction parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const descMatch = item.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) ||\n                      item.match(/<summary[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/summary>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc = (descMatch?.[1] || '').replace(/<[^>]+>/g, '').replace(/\\s+/g,' ').trim().substring(0, 150);\n    if (title.length > 10) items.push(title + (desc ? ': ' + desc : ''));\n  }\n  return items;\n}\n\n// Get XML from both previous nodes\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch RSS 1').item.json.data || $('Fetch RSS 1').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch RSS 2').item.json.data || $('Fetch RSS 2').item.json.body || ''); } catch(e) {}\n\nconst headlines1 = parseRSS(xml1, 4);\nconst headlines2 = parseRSS(xml2, 3);\nconst allHeadlines = [...headlines1, ...headlines2].slice(0, 6);\n\nconst contextText = allHeadlines.length > 0\n  ? 'CURRENT INDUSTRY CONTEXT (recent headlines):\\n' + allHeadlines.map(h => '\\u2022 ' + h).join('\\n')\n  : '';\n\n// Pass through topic + add rssContext\nreturn {\n  topic: $('Pick Topic').item.json.topic,\n  slug: $('Pick Topic').item.json.slug,\n  date: $('Pick Topic').item.json.date,\n  rssContext: contextText,\n  rssCount: allHeadlines.length\n};"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topics from Minio": {
      "main": [
        [
          {
            "node": "Pick Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic": {
      "main": [
        [
          {
            "node": "Fetch RSS 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Groq": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Publish via OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish via OpenClaw": {
      "main": [
        [
          {
            "node": "IndexNow Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IndexNow Ping": {
      "main": [
        [
          {
            "node": "Save Used Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS 1": {
      "main": [
        [
          {
            "node": "Fetch RSS 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS 2": {
      "main": [
        [
          {
            "node": "Parse RSS Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Headlines": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "1f8a794e-2096-4115-b96f-1d35a110938d",
  "activeVersionId": "1f8a794e-2096-4115-b96f-1d35a110938d",
  "versionCounter": 38,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-24T15:13:28.636Z",
      "createdAt": "2026-03-24T15:13:28.636Z",
      "role": "workflow:owner",
      "workflowId": "XdnfbkbCL8NDjBdo",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T09:50:52.539Z",
    "createdAt": "2026-04-10T09:50:52.539Z",
    "versionId": "1f8a794e-2096-4115-b96f-1d35a110938d",
    "workflowId": "XdnfbkbCL8NDjBdo",
    "nodes": [
      {
        "id": "tan-article-generator-sched",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "30 11 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "tan-read-topics-minio",
        "name": "Read Topics from Minio",
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 2,
        "position": [
          -200,
          300
        ],
        "continueOnFail": true,
        "credentials": {
          "aws": {
            "id": "HdCw5lSb6jwOHLHd",
            "name": "Minio S3"
          }
        },
        "parameters": {
          "operation": "get",
          "bucketName": "seo-drafts",
          "fileKey": "tan-topics.json"
        }
      },
      {
        "id": "tan-article-generator-pick",
        "name": "Pick Topic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"network effects in local business marketing\", \"hyperlocal marketing strategies 2026\", \"AI personalization for small businesses\", \"community-led growth playbook\", \"word-of-mouth marketing systems\", \"referral program design that works\", \"local SEO tactics for service businesses\", \"building brand trust in digital age\", \"customer retention vs acquisition math\", \"social proof optimization strategies\", \"micro-influencer marketing ROI\", \"email marketing for local businesses\", \"Google Business Profile optimization\", \"viral content formulas for B2C brands\", \"paid social vs organic reach 2026\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
        }
      },
      {
        "id": "tan-article-generator-prompt",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          300
        ],
        "parameters": {
          "jsCode": "const topic = $json.topic;\nconst slug = $json.slug;\nconst date = $json.date;\nconst rssContext = $json.rssContext || '';\n\nconst systemPrompt = \"You are a marketing strategist writing for The Atomic Network (theatomicnetwork.com) \\u2014 a publication about growth, marketing, and network effects for modern businesses. Write with authority, use data, be practical and direct. Target audience: marketing managers, growth hackers, and business owners.\";\n\nconst rssBlock = rssContext ? rssContext + '\\n\\nUse the above context to make your article timely and grounded in current industry developments. Reference or expand on relevant trends where appropriate.\\n\\n' : '';\n\nconst userPrompt = \"Write a comprehensive, SEO-optimized article about: __TOPIC__\\n\\n\".replace('__TOPIC__', topic)\n  + rssBlock\n  + \"Requirements:\\n- 1200-1800 words\\n- Start with a compelling intro (no H1 needed)\\n- Use H2 headers for main sections, H3 for subsections\\n- Include practical tactics, not just theory\\n- Add specific examples and if possible, metrics/numbers\\n- End with actionable next steps\\n- NO frontmatter, just the article body\";\n\nreturn {\n  systemPrompt,\n  userPrompt,\n  slug,\n  topic,\n  date\n};"
        }
      },
      {
        "id": "tan-article-generator-groq",
        "name": "Generate with Groq",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1000,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_API_KEY"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt}],temperature:0.7,max_tokens:3000}) }}"
        }
      },
      {
        "id": "tan-article-generator-fmt",
        "name": "Format Article",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "jsCode": "\nconst body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\n\nconst articleText = body.choices?.[0]?.message?.content || '';\n\nlet title = topic.charAt(0).toUpperCase() + topic.slice(1);\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) {\n  title = firstLine.slice(2).trim();\n  bodyText = articleText.split('\\n').slice(1).join('\\n').trim();\n}\n\ntitle = title.split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n\nconst description = bodyText.replace(/^#+.*$/gm, '').replace(/\\n+/g, ' ').trim().slice(0, 160);\n\nconst tags = topic.toLowerCase().split(' ').filter(w => w.length > 3).slice(0, 6)\n  .map(w => w.replace(/[^a-z0-9]/g, ''));\n\nconst heroSlug = slug.replace(/\\d{4}-\\d{2}-\\d{2}$/, '').replace(/-$/, '');\n\nconst frontmatter = `---\ntitle: \"${title.replace(/\"/g, \"'\")}\"\ndescription: \"${description.replace(/\"/g, \"'\")}\"\npublishDate: \"${date}\"\ntags: [${tags.map(t => `\"${t}\"`).join(', ')}]\nheroImage: \"\"\nauthor: \"The Atomic Network\"\nauthorUrl: \"https://theatomicnetwork.com\"\ndisclosure: \"AI-assisted content\"\n---`;\n\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\n\nreturn [{ json: { fullContent, title, slug } }];\n"
        }
      },
      {
        "id": "tan-article-generator-pub",
        "name": "Publish via OpenClaw",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1400,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://10.0.2.1:9191/store-and-publish",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theatomicnetwork', content: $json.fullContent}) }}"
        }
      },
      {
        "id": "wh-XdnfbkbC",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -680,
          300
        ],
        "webhookId": "run-tan-gen",
        "parameters": {
          "path": "run-tan-gen",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "tan-indexnow-01",
        "name": "IndexNow Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1620,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "https://api.indexnow.org/indexnow",
          "options": {},
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({host: 'tan-website.netlify.app', key: '45dd255c1afd3b0b0a18d077af5d2d43', keyLocation: 'https://tan-website.netlify.app/45dd255c1afd3b0b0a18d077af5d2d43.txt', urlList: ['https://tan-website.netlify.app/blog/' + $('Pick Topic').item.json.slug]}) }}"
        }
      },
      {
        "id": "tan-save-used-slug",
        "name": "Save Used Slug",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1860,
          300
        ],
        "parameters": {
          "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
        }
      },
      {
        "id": "tan-rss-fetch-1",
        "name": "Fetch RSS 1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          200,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://blog.hubspot.com/marketing/rss.xml",
          "options": {}
        }
      },
      {
        "id": "tan-rss-fetch-2",
        "name": "Fetch RSS 2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://feeds.feedburner.com/oreilly/radar",
          "options": {}
        }
      },
      {
        "id": "tan-rss-parse",
        "name": "Parse RSS Headlines",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          300
        ],
        "parameters": {
          "jsCode": "// Parse RSS XML from both feeds and extract top headlines\nfunction parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const descMatch = item.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) ||\n                      item.match(/<summary[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/summary>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc = (descMatch?.[1] || '').replace(/<[^>]+>/g, '').replace(/\\s+/g,' ').trim().substring(0, 150);\n    if (title.length > 10) items.push(title + (desc ? ': ' + desc : ''));\n  }\n  return items;\n}\n\n// Get XML from both previous nodes\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch RSS 1').item.json.data || $('Fetch RSS 1').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch RSS 2').item.json.data || $('Fetch RSS 2').item.json.body || ''); } catch(e) {}\n\nconst headlines1 = parseRSS(xml1, 4);\nconst headlines2 = parseRSS(xml2, 3);\nconst allHeadlines = [...headlines1, ...headlines2].slice(0, 6);\n\nconst contextText = allHeadlines.length > 0\n  ? 'CURRENT INDUSTRY CONTEXT (recent headlines):\\n' + allHeadlines.map(h => '\\u2022 ' + h).join('\\n')\n  : '';\n\n// Pass through topic + add rssContext\nreturn {\n  topic: $('Pick Topic').item.json.topic,\n  slug: $('Pick Topic').item.json.slug,\n  date: $('Pick Topic').item.json.date,\n  rssContext: contextText,\n  rssCount: allHeadlines.length\n};"
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Topics from Minio": {
        "main": [
          [
            {
              "node": "Pick Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Topic": {
        "main": [
          [
            {
              "node": "Fetch RSS 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Generate with Groq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate with Groq": {
        "main": [
          [
            {
              "node": "Format Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Article": {
        "main": [
          [
            {
              "node": "Publish via OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish via OpenClaw": {
        "main": [
          [
            {
              "node": "IndexNow Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IndexNow Ping": {
        "main": [
          [
            {
              "node": "Save Used Slug",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RSS 1": {
        "main": [
          [
            {
              "node": "Fetch RSS 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RSS 2": {
        "main": [
          [
            {
              "node": "Parse RSS Headlines",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse RSS Headlines": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T09:50:52.567Z",
        "id": 663,
        "workflowId": "XdnfbkbCL8NDjBdo",
        "versionId": "1f8a794e-2096-4115-b96f-1d35a110938d",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T09:50:52.587Z",
        "id": 664,
        "workflowId": "XdnfbkbCL8NDjBdo",
        "versionId": "1f8a794e-2096-4115-b96f-1d35a110938d",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}