n8n/workflows/tha-dailyumamireport.json
{
  "id": "seIw4UJpNNPoXvli",
  "name": "tha-dailyumamireport",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "97f27893-c873-4ade-9240-b1f500b1e9e1",
      "name": "Schedule (Every Day 08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        576,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "yesterday-start",
              "name": "yesterday_start",
              "value": "={{ $now.minus({ days: 1 }).startOf('day').toMillis() }}",
              "type": "number"
            },
            {
              "id": "yesterday-end",
              "name": "yesterday_end",
              "value": "={{ $now.minus({ days: 1 }).endOf('day').toMillis() }}",
              "type": "number"
            },
            {
              "id": "date-formatted",
              "name": "report_date",
              "value": "={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "website-id",
              "name": "website_id",
              "value": "dc9840ac-15ff-4c35-b210-7ab9c46a6867",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b062e397-035c-4f89-8189-01133bf7c0b1",
      "name": "Set Date Range (Yesterday)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        800,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://umami.theunnamedroads.com/api/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"username\": \"admin\", \"password\": \"TurUmami2024!\"}) }}",
        "options": {}
      },
      "id": "2c92bdd6-503c-4a5a-a11f-318f975440b6",
      "name": "Login to Umami",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "s6T1zGbo9X3WFqM4",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://umami.theunnamedroads.com/api/websites/dc9840ac-15ff-4c35-b210-7ab9c46a6867/stats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startAt",
              "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_start }}"
            },
            {
              "name": "endAt",
              "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_end }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Umami').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "00766ada-2655-45d3-b5f8-0741446784c9",
      "name": "Fetch Umami Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        -80
      ]
    },
    {
      "parameters": {
        "url": "https://umami.theunnamedroads.com/api/websites/dc9840ac-15ff-4c35-b210-7ab9c46a6867/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startAt",
              "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_start }}"
            },
            {
              "name": "endAt",
              "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_end }}"
            },
            {
              "name": "type",
              "value": "browser"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Umami').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f078b9f-066a-49e0-90d2-9a700d15a9ba",
      "name": "Fetch Top Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://umami.theunnamedroads.com/api/websites/dc9840ac-15ff-4c35-b210-7ab9c46a6867/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startAt",
              "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_start }}"
            },
            {
              "name": "endAt",
              "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_end }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "pageSize",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Umami').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "604a877b-949c-4a44-bd1a-2388e0646c9e",
      "name": "Fetch Custom Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "v1",
              "name": "total_visits",
              "value": "={{ $('Fetch Umami Stats').item.json.pageviews || 0 }}",
              "type": "number"
            },
            {
              "id": "v2",
              "name": "unique_visitors",
              "value": "={{ $('Fetch Umami Stats').item.json.visitors || 0 }}",
              "type": "number"
            },
            {
              "id": "v3",
              "name": "bounce_rate",
              "value": "={{ $('Fetch Umami Stats').item.json.bounces || 0 }}",
              "type": "number"
            },
            {
              "id": "v4",
              "name": "avg_time",
              "value": "={{ Math.round(($('Fetch Umami Stats').item.json.totaltime || 0) / Math.max($('Fetch Umami Stats').item.json.visits || 1, 1)) }}",
              "type": "number"
            },
            {
              "id": "v5",
              "name": "report_date",
              "value": "={{ $('Set Date Range (Yesterday)').item.json.report_date }}",
              "type": "string"
            },
            {
              "id": "v6",
              "name": "site_name",
              "value": "The Hockey Analytics",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "95897807-8001-42c1-85b1-625e74498367",
      "name": "Format Report Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1456,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: '-1003767033253',\n  text: '📊 <b>Daglig trafik – ' + $json.site_name + '</b>\\n📅 ' + $json.report_date +\n    '\\n\\n👥 Besökare: <b>' + $json.unique_visitors + '</b>\\n📄 Sidvisningar: <b>' + $json.total_visits + '</b>' +\n    '\\n⏱ Snittid: <b>' + $json.avg_time + 's</b>\\n📉 Bounce: <b>' + $json.bounce_rate + '</b>',\n  parse_mode: 'HTML'\n}) }}",
        "options": {}
      },
      "id": "42dd3aa2-1339-4549-8091-8177fdf0a2c8",
      "name": "Send Telegram Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -80
      ]
    },
    {
      "id": "wh-seIw4UJp",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        296,
        -80
      ],
      "webhookId": "run-tha-umami",
      "parameters": {
        "path": "run-tha-umami",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule (Every Day 08:00)": {
      "main": [
        [
          {
            "node": "Set Date Range (Yesterday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Date Range (Yesterday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Range (Yesterday)": {
      "main": [
        [
          {
            "node": "Login to Umami",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login to Umami": {
      "main": [
        [
          {
            "node": "Fetch Umami Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Umami Stats": {
      "main": [
        [
          {
            "node": "Fetch Top Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Top Pages": {
      "main": [
        [
          {
            "node": "Fetch Custom Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Custom Events": {
      "main": [
        [
          {
            "node": "Format Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report Data": {
      "main": [
        [
          {
            "node": "Send Telegram Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule (Every Day 08:00)": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "activeVersionId": "d88bc69b-8911-4298-bc80-91d791f23a1f",
  "versionCounter": 57,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-01T08:16:29.489Z",
      "createdAt": "2025-12-01T08:16:29.489Z",
      "role": "workflow:owner",
      "workflowId": "seIw4UJpNNPoXvli",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T07:24:12.191Z",
    "createdAt": "2026-03-28T07:24:12.191Z",
    "versionId": "d88bc69b-8911-4298-bc80-91d791f23a1f",
    "workflowId": "seIw4UJpNNPoXvli",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * *"
              }
            ]
          }
        },
        "id": "97f27893-c873-4ade-9240-b1f500b1e9e1",
        "name": "Schedule (Every Day 08:00)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          576,
          -80
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "yesterday-start",
                "name": "yesterday_start",
                "value": "={{ $now.minus({ days: 1 }).startOf('day').toMillis() }}",
                "type": "number"
              },
              {
                "id": "yesterday-end",
                "name": "yesterday_end",
                "value": "={{ $now.minus({ days: 1 }).endOf('day').toMillis() }}",
                "type": "number"
              },
              {
                "id": "date-formatted",
                "name": "report_date",
                "value": "={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}",
                "type": "string"
              },
              {
                "id": "website-id",
                "name": "website_id",
                "value": "dc9840ac-15ff-4c35-b210-7ab9c46a6867",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "b062e397-035c-4f89-8189-01133bf7c0b1",
        "name": "Set Date Range (Yesterday)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          800,
          -80
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://umami.theunnamedroads.com/api/auth/login",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\"username\": \"admin\", \"password\": \"TurUmami2024!\"}) }}",
          "options": {}
        },
        "id": "2c92bdd6-503c-4a5a-a11f-318f975440b6",
        "name": "Login to Umami",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1024,
          -80
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "s6T1zGbo9X3WFqM4",
            "name": "Unnamed credential"
          }
        }
      },
      {
        "parameters": {
          "url": "https://umami.theunnamedroads.com/api/websites/dc9840ac-15ff-4c35-b210-7ab9c46a6867/stats",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "startAt",
                "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_start }}"
              },
              {
                "name": "endAt",
                "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_end }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Login to Umami').item.json.token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "00766ada-2655-45d3-b5f8-0741446784c9",
        "name": "Fetch Umami Stats",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1248,
          -80
        ]
      },
      {
        "parameters": {
          "url": "https://umami.theunnamedroads.com/api/websites/dc9840ac-15ff-4c35-b210-7ab9c46a6867/metrics",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "startAt",
                "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_start }}"
              },
              {
                "name": "endAt",
                "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_end }}"
              },
              {
                "name": "type",
                "value": "browser"
              },
              {
                "name": "limit",
                "value": "5"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Login to Umami').item.json.token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "6f078b9f-066a-49e0-90d2-9a700d15a9ba",
        "name": "Fetch Top Pages",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1248,
          112
        ]
      },
      {
        "parameters": {
          "url": "https://umami.theunnamedroads.com/api/websites/dc9840ac-15ff-4c35-b210-7ab9c46a6867/events",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "startAt",
                "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_start }}"
              },
              {
                "name": "endAt",
                "value": "={{ $('Set Date Range (Yesterday)').item.json.yesterday_end }}"
              },
              {
                "name": "page",
                "value": "1"
              },
              {
                "name": "pageSize",
                "value": "5"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Login to Umami').item.json.token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "604a877b-949c-4a44-bd1a-2388e0646c9e",
        "name": "Fetch Custom Events",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1248,
          288
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "v1",
                "name": "total_visits",
                "value": "={{ $('Fetch Umami Stats').item.json.pageviews || 0 }}",
                "type": "number"
              },
              {
                "id": "v2",
                "name": "unique_visitors",
                "value": "={{ $('Fetch Umami Stats').item.json.visitors || 0 }}",
                "type": "number"
              },
              {
                "id": "v3",
                "name": "bounce_rate",
                "value": "={{ $('Fetch Umami Stats').item.json.bounces || 0 }}",
                "type": "number"
              },
              {
                "id": "v4",
                "name": "avg_time",
                "value": "={{ Math.round(($('Fetch Umami Stats').item.json.totaltime || 0) / Math.max($('Fetch Umami Stats').item.json.visits || 1, 1)) }}",
                "type": "number"
              },
              {
                "id": "v5",
                "name": "report_date",
                "value": "={{ $('Set Date Range (Yesterday)').item.json.report_date }}",
                "type": "string"
              },
              {
                "id": "v6",
                "name": "site_name",
                "value": "The Hockey Analytics",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "95897807-8001-42c1-85b1-625e74498367",
        "name": "Format Report Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          1456,
          -80
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  chat_id: '-1003767033253',\n  text: '📊 <b>Daglig trafik – ' + $json.site_name + '</b>\\n📅 ' + $json.report_date +\n    '\\n\\n👥 Besökare: <b>' + $json.unique_visitors + '</b>\\n📄 Sidvisningar: <b>' + $json.total_visits + '</b>' +\n    '\\n⏱ Snittid: <b>' + $json.avg_time + 's</b>\\n📉 Bounce: <b>' + $json.bounce_rate + '</b>',\n  parse_mode: 'HTML'\n}) }}",
          "options": {}
        },
        "id": "42dd3aa2-1339-4549-8091-8177fdf0a2c8",
        "name": "Send Telegram Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          -80
        ]
      },
      {
        "id": "wh-seIw4UJp",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          296,
          -80
        ],
        "webhookId": "run-tha-umami",
        "parameters": {
          "path": "run-tha-umami",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      }
    ],
    "connections": {
      "Schedule (Every Day 08:00)": {
        "main": [
          [
            {
              "node": "Set Date Range (Yesterday)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Set Date Range (Yesterday)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Date Range (Yesterday)": {
        "main": [
          [
            {
              "node": "Login to Umami",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Login to Umami": {
        "main": [
          [
            {
              "node": "Fetch Umami Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Umami Stats": {
        "main": [
          [
            {
              "node": "Fetch Top Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Top Pages": {
        "main": [
          [
            {
              "node": "Fetch Custom Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Custom Events": {
        "main": [
          [
            {
              "node": "Format Report Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Report Data": {
        "main": [
          [
            {
              "node": "Send Telegram Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "null null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T06:49:11.095Z",
        "id": 426,
        "workflowId": "seIw4UJpNNPoXvli",
        "versionId": "d88bc69b-8911-4298-bc80-91d791f23a1f",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-03-29T06:49:11.122Z",
        "id": 427,
        "workflowId": "seIw4UJpNNPoXvli",
        "versionId": "d88bc69b-8911-4298-bc80-91d791f23a1f",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-03-28T07:24:12.822Z",
        "id": 375,
        "workflowId": "seIw4UJpNNPoXvli",
        "versionId": "d88bc69b-8911-4298-bc80-91d791f23a1f",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}