n8n/workflows/tha-keyword-research.json
{"updatedAt":"2026-03-30T08:39:55.294Z","createdAt":"2026-03-24T14:57:54.862Z","id":"CjmhE3fQLFHpgCNj","name":"tha-keyword-research","description":null,"active":true,"isArchived":false,"nodes":[{"id":"tha-kw-sched","name":"Daily Trigger (09:45)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"45 9 * * *"}]}}},{"id":"tha-kw-nhl","name":"Fetch NHL Standings","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-200,300],"parameters":{"method":"GET","url":"https://api-web.nhle.com/v1/standings/now","options":{}}},{"id":"tha-kw-ctx","name":"Extract NHL Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,300],"parameters":{"jsCode":"const standings = ($json.standings || []);\nconst top10 = standings.sort((a,b)=>(b.points||0)-(a.points||0)).slice(0,10)\n  .map(t => ({name: t.teamName?.default || t.teamAbbrev?.default || 'Team', points: t.points||0, wins: t.wins||0, losses: t.losses||0, streak: t.streakCode||''}));\nconst hot = top10.filter(t => t.streak.startsWith('W') && parseInt(t.streak.slice(1))>=3);\nconst ctx = 'NHL standings top 10:\\n' + top10.map(t=>`${t.name}: ${t.points}pts ${t.wins}W-${t.losses}L${t.streak?' streak:'+t.streak:''}`).join('\\n') + '\\n\\nHot teams: ' + (hot.map(t=>t.name+' ('+t.streak+')').join(', ')||'none');\nreturn [{ json: { context: ctx, hotTeams: hot } }]\n, perfContext: (() => { try { const body = $('Read Performance Insights').first().json.Body; const ins = JSON.parse(body); const t = ins.insights && ins.insights['thehockeyanalytics.com']; return t && t.suggested_keywords ? 'High-performing topics: ' + t.suggested_keywords.join(', ') : ''; } catch(e) { return ''; } })()\n};"}},{"id":"tha-kw-groq","name":"Groq: Generate Hockey Topics","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[200,300],"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer REDACTED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [ { role: 'system', content: 'You are an expert hockey analytics content strategist for thehockeyanalytics.com. Generate SEO-optimized article topics combining current NHL context with advanced analytics. Prioritize topics similar to recent high-performers.' }, { role: 'user', content: 'Based on this NHL context:\\n' + $json.context + ($json.perfContext ? '\\n\\n' + $json.perfContext : '') + '\\n\\nGenerate 25 hockey analytics article topics for SEO. Include: advanced stats explainers, team analytics deep-dives, player performance, trending storylines.\\n\\nReturn ONLY JSON array: [{\"keyword\": \"topic\", \"score\": 8, \"rationale\": \"why\"}]\\n\\nScore 1-10 for SEO. At least 20 items.' } ], temperature: 0.7, max_tokens: 2000 }) }}"}},{"id":"tha-kw-filt","name":"Filter Top Hockey Keywords","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300],"parameters":{"jsCode":"const body = $input.item.json;\nlet arr = [];\ntry {\n  const txt = body.choices?.[0]?.message?.content || '[]';\n  const m = txt.match(/\\[[\\s\\S]*\\]/);\n  arr = JSON.parse(m ? m[0] : txt);\n} catch(e) { arr = []; }\narr = arr.filter(x => x.score >= 7).slice(0,20);\nif (arr.length === 0) arr = [\n  {keyword:'NHL playoff analytics 2026',score:9,rationale:'timely'},\n  {keyword:'expected goals hockey explained',score:9,rationale:'evergreen'},\n  {keyword:'Corsi stat beginner guide',score:8,rationale:'high volume'},\n  {keyword:'advanced defensive metrics NHL',score:8,rationale:'analytical'},\n  {keyword:'power play efficiency analytics',score:7,rationale:'specific'}\n];\nreturn arr.map(x => ({ json: {keyword:x.keyword, score:x.score, rationale:x.rationale} }));"}},{"id":"tha-kw-agg","name":"Aggregate THA Keywords","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,300],"parameters":{"jsCode":"const items = $input.all();\nconst keywords = items.map(i => ({keyword:i.json.keyword, score:i.json.score, rationale:i.json.rationale||''}));\nreturn [{ json: { keywords, count: keywords.length, savedAt: new Date().toISOString() } }];"}},{"id":"tha-kw-s3","name":"Save THA Keywords to Minio","type":"n8n-nodes-base.s3","typeVersion":1,"position":[800,300],"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}},"parameters":{"operation":"upload","bucketName":"seo-drafts","fileName":"tha-approved-keywords.json","binaryData":false,"fileContent":"={{ JSON.stringify($json.keywords) }}","additionalFields":{}}},{"id":"tha-kw-tgbuild","name":"Build THA Keyword Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300],"parameters":{"jsCode":"const prev = $('Aggregate THA Keywords').item.json;\nconst kws = prev.keywords || [];\nconst top5 = kws.slice(0,5);\nconst lines = top5.map((k,i)=>`${i+1}. <b>${k.keyword}</b> (${k.score}/10)`).join('\\n');\nconst text = `🏒 <b>THA Keyword Research – ${prev.count} nyckelord</b>\\n\\nTop 5 idag:\\n${lines}\\n\\n✅ Sparat till Minio\\nTHA-generatorn kör om 15 min och publicerar automatiskt.`;\nreturn [{ json: { telegramText: text } }];"}},{"id":"tha-kw-notify","name":"Notify Telegram - THA Keywords","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,300],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({chat_id: '-1003767033253', text: $json.telegramText, parse_mode: 'HTML'}) }}"}},{"id":"read-insights-tha","name":"Read Performance Insights","type":"n8n-nodes-base.s3","typeVersion":1,"position":[-400,300],"parameters":{"operation":"get","bucketName":"seo-drafts","fileKey":"performance-insights.json","options":{}},"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}}}],"connections":{"Daily Trigger (09:45)":{"main":[[{"node":"Read Performance Insights","type":"main","index":0}]]},"Fetch NHL Standings":{"main":[[{"node":"Extract NHL Context","type":"main","index":0}]]},"Extract NHL Context":{"main":[[{"node":"Groq: Generate Hockey Topics","type":"main","index":0}]]},"Groq: Generate Hockey Topics":{"main":[[{"node":"Filter Top Hockey Keywords","type":"main","index":0}]]},"Filter Top Hockey Keywords":{"main":[[{"node":"Aggregate THA Keywords","type":"main","index":0}]]},"Aggregate THA Keywords":{"main":[[{"node":"Save THA Keywords to Minio","type":"main","index":0}]]},"Save THA Keywords to Minio":{"main":[[{"node":"Build THA Keyword Summary","type":"main","index":0}]]},"Build THA Keyword Summary":{"main":[[{"node":"Notify Telegram - THA Keywords","type":"main","index":0}]]},"Read Performance Insights":{"main":[[{"node":"Fetch NHL Standings","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Daily Trigger (09:45)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"a2ebb630-71fc-4c39-89f0-cef70fbf49c5","activeVersionId":"a2ebb630-71fc-4c39-89f0-cef70fbf49c5","versionCounter":12,"triggerCount":1,"shared":[{"updatedAt":"2026-03-24T14:57:54.862Z","createdAt":"2026-03-24T14:57:54.862Z","role":"workflow:owner","workflowId":"CjmhE3fQLFHpgCNj","projectId":"RHmvhzmrGVxfYtJl","project":{"updatedAt":"2026-03-24T07:55:26.263Z","createdAt":"2025-09-13T05:33:40.796Z","id":"RHmvhzmrGVxfYtJl","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-30T08:39:55.296Z","createdAt":"2026-03-30T08:39:55.296Z","versionId":"a2ebb630-71fc-4c39-89f0-cef70fbf49c5","workflowId":"CjmhE3fQLFHpgCNj","nodes":[{"id":"tha-kw-sched","name":"Daily Trigger (09:45)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"45 9 * * *"}]}}},{"id":"tha-kw-nhl","name":"Fetch NHL Standings","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-200,300],"parameters":{"method":"GET","url":"https://api-web.nhle.com/v1/standings/now","options":{}}},{"id":"tha-kw-ctx","name":"Extract NHL Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,300],"parameters":{"jsCode":"const standings = ($json.standings || []);\nconst top10 = standings.sort((a,b)=>(b.points||0)-(a.points||0)).slice(0,10)\n  .map(t => ({name: t.teamName?.default || t.teamAbbrev?.default || 'Team', points: t.points||0, wins: t.wins||0, losses: t.losses||0, streak: t.streakCode||''}));\nconst hot = top10.filter(t => t.streak.startsWith('W') && parseInt(t.streak.slice(1))>=3);\nconst ctx = 'NHL standings top 10:\\n' + top10.map(t=>`${t.name}: ${t.points}pts ${t.wins}W-${t.losses}L${t.streak?' streak:'+t.streak:''}`).join('\\n') + '\\n\\nHot teams: ' + (hot.map(t=>t.name+' ('+t.streak+')').join(', ')||'none');\nreturn [{ json: { context: ctx, hotTeams: hot } }]\n, perfContext: (() => { try { const body = $('Read Performance Insights').first().json.Body; const ins = JSON.parse(body); const t = ins.insights && ins.insights['thehockeyanalytics.com']; return t && t.suggested_keywords ? 'High-performing topics: ' + t.suggested_keywords.join(', ') : ''; } catch(e) { return ''; } })()\n};"}},{"id":"tha-kw-groq","name":"Groq: Generate Hockey Topics","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[200,300],"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer REDACTED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [ { role: 'system', content: 'You are an expert hockey analytics content strategist for thehockeyanalytics.com. Generate SEO-optimized article topics combining current NHL context with advanced analytics. Prioritize topics similar to recent high-performers.' }, { role: 'user', content: 'Based on this NHL context:\\n' + $json.context + ($json.perfContext ? '\\n\\n' + $json.perfContext : '') + '\\n\\nGenerate 25 hockey analytics article topics for SEO. Include: advanced stats explainers, team analytics deep-dives, player performance, trending storylines.\\n\\nReturn ONLY JSON array: [{\"keyword\": \"topic\", \"score\": 8, \"rationale\": \"why\"}]\\n\\nScore 1-10 for SEO. At least 20 items.' } ], temperature: 0.7, max_tokens: 2000 }) }}"}},{"id":"tha-kw-filt","name":"Filter Top Hockey Keywords","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300],"parameters":{"jsCode":"const body = $input.item.json;\nlet arr = [];\ntry {\n  const txt = body.choices?.[0]?.message?.content || '[]';\n  const m = txt.match(/\\[[\\s\\S]*\\]/);\n  arr = JSON.parse(m ? m[0] : txt);\n} catch(e) { arr = []; }\narr = arr.filter(x => x.score >= 7).slice(0,20);\nif (arr.length === 0) arr = [\n  {keyword:'NHL playoff analytics 2026',score:9,rationale:'timely'},\n  {keyword:'expected goals hockey explained',score:9,rationale:'evergreen'},\n  {keyword:'Corsi stat beginner guide',score:8,rationale:'high volume'},\n  {keyword:'advanced defensive metrics NHL',score:8,rationale:'analytical'},\n  {keyword:'power play efficiency analytics',score:7,rationale:'specific'}\n];\nreturn arr.map(x => ({ json: {keyword:x.keyword, score:x.score, rationale:x.rationale} }));"}},{"id":"tha-kw-agg","name":"Aggregate THA Keywords","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,300],"parameters":{"jsCode":"const items = $input.all();\nconst keywords = items.map(i => ({keyword:i.json.keyword, score:i.json.score, rationale:i.json.rationale||''}));\nreturn [{ json: { keywords, count: keywords.length, savedAt: new Date().toISOString() } }];"}},{"id":"tha-kw-s3","name":"Save THA Keywords to Minio","type":"n8n-nodes-base.s3","typeVersion":1,"position":[800,300],"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}},"parameters":{"operation":"upload","bucketName":"seo-drafts","fileName":"tha-approved-keywords.json","binaryData":false,"fileContent":"={{ JSON.stringify($json.keywords) }}","additionalFields":{}}},{"id":"tha-kw-tgbuild","name":"Build THA Keyword Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300],"parameters":{"jsCode":"const prev = $('Aggregate THA Keywords').item.json;\nconst kws = prev.keywords || [];\nconst top5 = kws.slice(0,5);\nconst lines = top5.map((k,i)=>`${i+1}. <b>${k.keyword}</b> (${k.score}/10)`).join('\\n');\nconst text = `🏒 <b>THA Keyword Research – ${prev.count} nyckelord</b>\\n\\nTop 5 idag:\\n${lines}\\n\\n✅ Sparat till Minio\\nTHA-generatorn kör om 15 min och publicerar automatiskt.`;\nreturn [{ json: { telegramText: text } }];"}},{"id":"tha-kw-notify","name":"Notify Telegram - THA Keywords","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,300],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({chat_id: '-1003767033253', text: $json.telegramText, parse_mode: 'HTML'}) }}"}},{"id":"read-insights-tha","name":"Read Performance Insights","type":"n8n-nodes-base.s3","typeVersion":1,"position":[-400,300],"parameters":{"operation":"get","bucketName":"seo-drafts","fileKey":"performance-insights.json","options":{}},"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}}}],"connections":{"Daily Trigger (09:45)":{"main":[[{"node":"Read Performance Insights","type":"main","index":0}]]},"Fetch NHL Standings":{"main":[[{"node":"Extract NHL Context","type":"main","index":0}]]},"Extract NHL Context":{"main":[[{"node":"Groq: Generate Hockey Topics","type":"main","index":0}]]},"Groq: Generate Hockey Topics":{"main":[[{"node":"Filter Top Hockey Keywords","type":"main","index":0}]]},"Filter Top Hockey Keywords":{"main":[[{"node":"Aggregate THA Keywords","type":"main","index":0}]]},"Aggregate THA Keywords":{"main":[[{"node":"Save THA Keywords to Minio","type":"main","index":0}]]},"Save THA Keywords to Minio":{"main":[[{"node":"Build THA Keyword Summary","type":"main","index":0}]]},"Build THA Keyword Summary":{"main":[[{"node":"Notify Telegram - THA Keywords","type":"main","index":0}]]},"Read Performance Insights":{"main":[[{"node":"Fetch NHL Standings","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-30T08:39:55.345Z","id":454,"workflowId":"CjmhE3fQLFHpgCNj","versionId":"a2ebb630-71fc-4c39-89f0-cef70fbf49c5","event":"deactivated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"},{"createdAt":"2026-03-30T08:39:55.365Z","id":455,"workflowId":"CjmhE3fQLFHpgCNj","versionId":"a2ebb630-71fc-4c39-89f0-cef70fbf49c5","event":"activated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"}]}}