n8n/workflows/thb-daily---nhl-playoff-bubble-article.json
{
  "updatedAt": "2026-04-10T09:57:42.528Z",
  "createdAt": "2026-03-22T09:50:05.801Z",
  "id": "amDvkYTucdcSRBWP",
  "name": "THB Daily – NHL Playoff Bubble Article",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "c1",
      "name": "Cron Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "c2",
      "name": "Fetch NHL Standings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api-web.nhle.com/v1/standings/now",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          }
        }
      }
    },
    {
      "id": "c3",
      "name": "Parse Bubble Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ],
      "parameters": {
        "jsCode": "\nconst standings = $input.item.json.standings || [];\nconst today = new Date().toISOString().split('T')[0];\n\nfunction abbrev(t) { return (t.teamAbbrev?.default || t.teamAbbrev || '???'); }\nfunction name(t)   { return (t.teamCommonName?.default || t.teamName?.default || abbrev(t)); }\nconst byPoints = (a, b) => (b.points - a.points) || ((b.regulationWins||0) - (a.regulationWins||0));\n\nfunction toTeamInfo(t, inPlayoffs) {\n  return {\n    abbrev: abbrev(t), name: name(t),\n    division: t.divisionAbbrev || '?',\n    points: t.points || 0, gp: t.gamesPlayed || 0,\n    wins: t.wins || 0, losses: t.losses || 0, otLosses: t.otLosses || 0,\n    row: t.regulationWins || 0, inPlayoffs: !!inPlayoffs\n  };\n}\n\n// Eastern teams only\nconst eastern = standings.filter(t => t.conferenceAbbrev === 'E');\n\n// Sort each division separately, then take top 3 — this is the key correctness fix\n// (prevents conference-wide sort from misidentifying division leaders)\nconst atlantic = [...eastern.filter(t => t.divisionAbbrev === 'A')].sort(byPoints);\nconst metro    = [...eastern.filter(t => t.divisionAbbrev === 'M')].sort(byPoints);\n\nconst divChamps = [...atlantic.slice(0, 3), ...metro.slice(0, 3)];\nconst divChampSet = new Set(divChamps.map(abbrev));\n\n// Wildcard pool: all eastern teams not in top-3 of their division, sorted by points\nconst wildcardPool = eastern\n  .filter(t => !divChampSet.has(abbrev(t)))\n  .sort(byPoints);\n\n// NHL wildcard: top 2 = in playoffs, rest = out\nconst wc1      = wildcardPool[0]; // 1st wildcard (safely in)\nconst wc2      = wildcardPool[1]; // 2nd wildcard = LAST IN\nconst firstOut = wildcardPool[2]; // FIRST OUT\n\n// Bubble display: wildcard pool top 6\nconst bubbleTeams = wildcardPool.slice(0, 6).map(t =>\n  toTeamInfo(t, abbrev(t) === abbrev(wc1) || abbrev(t) === abbrev(wc2))\n);\n\nconst teamColors = {\n  BOS:'#FCB514', BUF:'#003087', DET:'#CE1126', FLA:'#C8102E',\n  MTL:'#CF0A2C', OTT:'#C52032', TBL:'#002868', TOR:'#003E7E',\n  CAR:'#CE1126', CBJ:'#002654', NJD:'#CE1126', NYI:'#00539B',\n  NYR:'#0038A8', PHI:'#F74902', PIT:'#FCB514', WSH:'#041E42',\n  VGK:'#B4975A', EDM:'#FC4C02', CGY:'#C8102E', VAN:'#00843D',\n};\n\nreturn [{\n  json: {\n    today,\n    bubbleTeams,\n    lastIn:   toTeamInfo(wc2, true),\n    firstOut: toTeamInfo(firstOut, false),\n    pointsGap: (firstOut?.points || 0) - (wc2?.points || 0),\n    colors: bubbleTeams.map(t => teamColors[t.abbrev] || '#64748b'),\n    divChampions: divChamps.map(t => toTeamInfo(t, true))\n  }\n}];\n"
      }
    },
    {
      "id": "c4",
      "name": "Build Charts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://charts-api:8000/generate-and-publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ teams: $json.bubbleTeams, today: $json.today, slug: 'eastern-playoff-bubble-' + $json.today, github_token: 'REDACTED_GITHUB_PAT', github_repo: 'emilingemarkarlsson/thb-site' }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "c5",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ],
      "parameters": {
        "jsCode": "\nconst bubble = $('Parse Bubble Data').item.json;\nconst scheduleInfo = $('Parse Schedule').item.json;\nconst charts = $input.item.json;\nconst d = { ...bubble, ...charts };\nconst { bubbleTeams, lastIn, firstOut, pointsGap, today, chartUrl, chart2Url } = d;\nconst scheduleText = scheduleInfo.scheduleText || 'Schedule data unavailable';\nconst newsContext = $input.item.json.newsContext || '';\n\nconst bubbleStr = bubbleTeams.map((t, i) =>\n  `${i+1}. ${t.name} (${t.abbrev}) — ${t.points} pts, ${t.gp} GP, ROW: ${t.row}` +\n  (i === 0 ? ' [WC1 IN]' : i === 1 ? ' [WC2 LAST IN]' : i === 2 ? ' [FIRST OUT]' : '')\n).join('\\n');\n\nconst dateFormatted = new Date(today + 'T12:00:00Z').toLocaleDateString('en-US', {\n  month: 'long', day: 'numeric', year: 'numeric'\n});\nconst gap = Math.abs(pointsGap || 0);\n\nconst systemPrompt = `You are the lead writer for The Hockey Brain (thehockeybrain.com) — a smart hockey analytics publication.\n\nOUTPUT FORMAT — follow exactly, output ONLY the HTML below, nothing else:\n\n<div class=\"article-bottom-line\">\n<strong>The Call</strong>\n[1-2 sentences. Direct, opinionated prediction: who makes the playoffs and who doesn't. Back it with one key data point.]\n</div>\n\n<div class=\"article-quick-take\">\n<p><strong>Quick Take</strong></p>\n<ul>\n<li>[1-sentence fact about who currently holds the bubble lead]</li>\n<li>[1-sentence: exact points for last-in vs first-out, and the gap]</li>\n<li>[1-sentence: tiebreaker or schedule insight]</li>\n</ul>\n</div>\n\n<div class=\"article-key-stat\">\n<span class=\"stat-number\">[THE KEY NUMBER — e.g. 1 or 2]</span>\n<span class=\"stat-label\">[short label, e.g. \"point separates the last playoff spot from elimination\"]</span>\n</div>\n\n<p>[Paragraph 1: Hook — the human drama in 2-3 sentences. Name specific teams and players.]</p>\n\n<p>[Paragraph 2: The cutoff line — exactly who is in and who is out, with point totals.]</p>\n\n<p>[Paragraph 3: ROW tiebreaker — what happens if teams finish tied in points.]</p>\n\n<p>[Paragraph 4: Schedule and momentum — who has the tougher road, who is playing well.]</p>\n\nRULES:\n- Use <strong>Team Name (X pts)</strong> for teams, e.g. <strong>Detroit Red Wings (84 pts)</strong>\n- Each <p> is 2-3 sentences max — short, punchy\n- NO markdown, NO asterisks, NO h1/h2 tags\n- Start immediately with <div class=\"article-bottom-line\"> — zero preamble\n- In the Quick Take <li> bullets: do NOT wrap entire sentences in <strong>. Only bold the team name or number, not the whole sentence.`;\n\nconst userPrompt = `Write the playoff bubble article for ${dateFormatted}.\n\nEASTERN BUBBLE DATA:\n${bubbleStr}\n\nLast team IN:   ${lastIn?.name} (${lastIn?.abbrev}) — ${lastIn?.points} pts, ${lastIn?.gp} GP, ROW: ${lastIn?.row}\nFirst team OUT: ${firstOut?.name} (${firstOut?.abbrev}) — ${firstOut?.points} pts, ${firstOut?.gp} GP, ROW: ${firstOut?.row}\nGap: ${gap} point(s) between last-in and first-out\n\nUPCOMING GAMES (next 7 days for bubble teams): ${scheduleText}\n\n${newsContext ? newsContext + '\\n\\n' : ''}Output ONLY the HTML. Start immediately with <div class=\"article-bottom-line\">.`;\n\nreturn [{ json: { ...d, dateFormatted, systemPrompt, userPrompt } }];\n"
      }
    },
    {
      "id": "c6",
      "name": "Call Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://litellm-kkswc8gokk84c0o8oo84w44w.46.62.206.47.sslip.io/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7cFubmhrruWpKV7tvYqKnp6o4HqrDj7L"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"gemini-25-flash\", messages: [{ role: \"system\", content: $json.systemPrompt }, { role: \"user\", content: $json.userPrompt }], max_tokens: 1200, temperature: 0.85 }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "c7",
      "name": "Build Post Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "jsCode": "\nconst articleHtml = $input.item.json.choices?.[0]?.message?.content || '';\nconst d = $('Build Gemini Prompt').item.json;\nconst { today, chartUrl, chart2Url, bubbleTeams, lastIn, firstOut, dateFormatted } = d;\n\nconst slug        = 'eastern-playoff-bubble-' + today;\nconst readableDate = dateFormatted || today;\nconst gap         = Math.abs(d.pointsGap || 0);\n\nconst title    = 'Eastern Playoff Bubble: ' + (lastIn?.name || 'Last In') + ' vs ' + (firstOut?.name || 'First Out') + ' | ' + readableDate;\nconst metaTitle = 'NHL Eastern Playoff Race ' + readableDate + ' | The Hockey Brain';\nconst metaDesc  = (lastIn?.name || 'Last in') + ' (' + (lastIn?.points || 0) + ' pts) hold the final wildcard, ' + gap + ' point(s) ahead of ' + (firstOut?.name || 'First out') + '. Full bubble breakdown ' + readableDate + '.';\nconst year = (today || '2026').substring(0, 4);\nconst keywords = [\n  'nhl playoff race', 'eastern conference standings', 'nhl bubble teams',\n  (lastIn?.name || '').toLowerCase(), (firstOut?.name || '').toLowerCase(),\n  'nhl wildcard race ' + year, 'hockey analytics'\n].filter(Boolean);\n\n// Chart 2 appended at the end of the article (after paragraphs)\nconst chart2Html = '<div class=\"article-chart-secondary\"><img src=\"' + (chart2Url || '') +\n  '\" alt=\"Points vs Regulation Wins – Tiebreaker Context\" /></div>';\n\nconst content = articleHtml.trim() + '\\n' + chart2Html;\n\nconst safeContent = content.replace(/\\\\/g, '\\\\\\\\').replace(/`/g, '\\\\`').replace(/\\$\\{/g, '\\\\${');\nconst postObj = '  {\\n' +\n  '    slug: '            + JSON.stringify(slug)         + ',\\n' +\n  '    title: '           + JSON.stringify(title)        + ',\\n' +\n  '    metaTitle: '       + JSON.stringify(metaTitle)    + ',\\n' +\n  '    metaDescription: ' + JSON.stringify(metaDesc)     + ',\\n' +\n  '    keywords: '        + JSON.stringify(keywords)     + ',\\n' +\n  '    publishedAt: '     + JSON.stringify(today)        + ',\\n' +\n  '    chartUrl: '        + JSON.stringify(chartUrl||'') + ',\\n' +\n  '    content: `'        + safeContent + '`,\\n' +\n  '  },';\n\nreturn [{ json: { slug, title, metaDesc, chartUrl, chart2Url, postObj, articlePreview: content.substring(0, 600) } }];\n"
      }
    },
    {
      "id": "c8",
      "name": "Get posts.ts from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/emilingemarkarlsson/thb-site/contents/lib/posts.ts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GITHUB_PAT"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c9",
      "name": "Inject + Push to GitHub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ],
      "parameters": {
        "jsCode": "\nconst ghData = $input.item.json;\nconst postObj = $('Build Post Object').item.json.postObj;\nconst sha = ghData.sha;\nconst currentContent = Buffer.from(ghData.content, 'base64').toString('utf8');\n\n// Insert new post at the start of the posts array (after 'posts: BlogPost[] = [')\nconst insertAfter = 'export const posts: BlogPost[] = [';\nconst insertIdx = currentContent.indexOf(insertAfter) + insertAfter.length;\nconst newContent = currentContent.slice(0, insertIdx) + '\\n' + postObj + '\\n' + currentContent.slice(insertIdx);\n\nconst newContentB64 = Buffer.from(newContent).toString('base64');\n\nreturn [{\n  json: {\n    slug: $('Build Post Object').item.json.slug,\n    title: $('Build Post Object').item.json.title,\n    chartUrl: $('Build Post Object').item.json.chartUrl,\n    metaDesc: $('Build Post Object').item.json.metaDesc,\n    sha,\n    newContentB64\n  }\n}];\n"
      }
    },
    {
      "id": "c10",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/emilingemarkarlsson/thb-site/contents/lib/posts.ts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GITHUB_PAT"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\": \"feat: auto-publish NHL playoff bubble article – {{ $json.slug }}\", \"content\": \"{{ $json.newContentB64 }}\", \"sha\": \"{{ $json.sha }}\"}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "c11",
      "name": "Trigger Newsletter + Bluesky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.theunnamedroads.com/webhook/article-published",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"slug\": \"{{ $('Inject + Push to GitHub').item.json.slug }}\", \"url\": \"https://www.thehockeybrain.com/insights/{{ $('Inject + Push to GitHub').item.json.slug }}\", \"title\": \"{{ $('Inject + Push to GitHub').item.json.title }}\", \"description\": \"{{ $('Inject + Push to GitHub').item.json.metaDesc }}\", \"umamiName\": \"thehockeybrain\", \"projectName\": \"The Hockey Brain\", \"listUuid\": \"149f7d0c-5959-409f-9043-d26cf920df84\", \"chartUrl\": \"{{ $('Inject + Push to GitHub').item.json.chartUrl }}\"}",
        "options": {}
      }
    },
    {
      "id": "c12",
      "name": "Notify Telegram – Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        300
      ],
      "parameters": {
        "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({chat_id: '-1003919428238', text: '\\uD83C\\uDFD2 <b>Ny THB-artikel publicerad!</b>\\n\\n<b>Titel:</b> ' + $(\"Inject + Push to GitHub\").item.json.title + '\\n\\uD83D\\uDD17 https://www.thehockeybrain.com/insights/' + $(\"Inject + Push to GitHub\").item.json.slug, parse_mode: 'HTML', message_thread_id: 4}) }}"
      }
    },
    {
      "id": "tw1",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        500
      ],
      "webhookId": "thb-daily-test-trigger",
      "parameters": {
        "path": "thb-daily-test",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "thb-indexnow-01",
      "name": "IndexNow Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.indexnow.org/indexnow",
        "options": {},
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  host: 'thehockeybrain.com',\n  key: 'c9d5e1f7a3b6c8d4e2f9a5b7c3d8e6f2',\n  keyLocation: 'https://www.thehockeybrain.com/c9d5e1f7a3b6c8d4e2f9a5b7c3d8e6f2.txt',\n  urlList: ['https://www.thehockeybrain.com/insights/' + $('Inject + Push to GitHub').item.json.slug]\n}) }}"
      }
    },
    {
      "id": "thb-fetch-schedule",
      "name": "Fetch NHL Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://api-web.nhle.com/v1/schedule/now"
      }
    },
    {
      "id": "thb-parse-schedule",
      "name": "Parse Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "// Extract upcoming games for bubble teams\nlet scheduleGames = [];\ntry {\n  const scheduleData = $('Fetch NHL Schedule').item.json;\n  const gameWeek = scheduleData.gameWeek || [];\n  \n  // Get bubble team abbreviations from Parse Bubble Data\n  const bubbleData = $('Parse Bubble Data').item.json;\n  const bubbleTeams = (bubbleData.bubbleTeams || []).map(t => t.abbrev || t.teamAbbrev || '');\n  \n  // Find games involving bubble teams in next 7 days\n  for (const day of gameWeek.slice(0, 7)) {\n    for (const game of (day.games || [])) {\n      const home = game.homeTeam?.abbrev || '';\n      const away = game.awayTeam?.abbrev || '';\n      if (bubbleTeams.includes(home) || bubbleTeams.includes(away)) {\n        scheduleGames.push({\n          date: day.date,\n          home,\n          away,\n          venue: game.venue?.default || ''\n        });\n      }\n    }\n  }\n} catch(e) {\n  scheduleGames = [];\n}\n\nconst inputJson = $input.item.json;\nreturn [{\n  json: {\n    ...inputJson,\n    scheduleGames,\n    scheduleText: scheduleGames.length > 0 \n      ? scheduleGames.map(g => g.date + ': ' + g.away + ' @ ' + g.home).join(', ')\n      : 'Schedule data unavailable'\n  }\n}];"
      }
    },
    {
      "id": "thb-rss1",
      "name": "Fetch NHL News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        480
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.nhl.com/rss/news.xml",
        "method": "GET",
        "options": {}
      }
    },
    {
      "id": "thb-rss2",
      "name": "Fetch HockeyBuzz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        480
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "https://www.hockeybuzz.com/rss.php",
        "method": "GET",
        "options": {}
      }
    },
    {
      "id": "thb-rss3",
      "name": "Parse Bubble News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        480
      ],
      "parameters": {
        "jsCode": "function parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) ||\n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    if (title.length > 10) items.push(title);\n  }\n  return items;\n}\n\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch NHL News').item.json.data || $('Fetch NHL News').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch HockeyBuzz').item.json.data || $('Fetch HockeyBuzz').item.json.body || ''); } catch(e) {}\n\nconst nhlNews = parseRSS(xml1, 4);\nconst buzzNews = parseRSS(xml2, 3);\nconst allNews = [...nhlNews, ...buzzNews].slice(0, 6);\n\nconst newsContext = allNews.length > 0\n  ? 'RECENT NHL NEWS (injuries/trades/lineup changes):\\n' + allNews.map(h => '• ' + h).join('\\n')\n  : '';\n\nconst prev = $('Parse Schedule').item.json;\nreturn { ...prev, newsContext };"
      }
    }
  ],
  "connections": {
    "Cron Daily 08:00": {
      "main": [
        [
          {
            "node": "Fetch NHL Standings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NHL Standings": {
      "main": [
        [
          {
            "node": "Parse Bubble Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bubble Data": {
      "main": [
        [
          {
            "node": "Build Charts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Charts": {
      "main": [
        [
          {
            "node": "Fetch NHL Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Call Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Post Object": {
      "main": [
        [
          {
            "node": "Get posts.ts from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts.ts from GitHub": {
      "main": [
        [
          {
            "node": "Inject + Push to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject + Push to GitHub": {
      "main": [
        [
          {
            "node": "Push to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to GitHub": {
      "main": [
        [
          {
            "node": "Trigger Newsletter + Bluesky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Newsletter + Bluesky": {
      "main": [
        [
          {
            "node": "IndexNow Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Fetch NHL Standings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Groq": {
      "main": [
        [
          {
            "node": "Build Post Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IndexNow Ping": {
      "main": [
        [
          {
            "node": "Notify Telegram – Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NHL Schedule": {
      "main": [
        [
          {
            "node": "Parse Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Schedule": {
      "main": [
        [
          {
            "node": "Fetch NHL News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NHL News": {
      "main": [
        [
          {
            "node": "Fetch HockeyBuzz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HockeyBuzz": {
      "main": [
        [
          {
            "node": "Parse Bubble News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bubble News": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cron Daily 08:00": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "274c6ff0-bb85-4ecb-96c7-7ec8afb67e54",
  "activeVersionId": "274c6ff0-bb85-4ecb-96c7-7ec8afb67e54",
  "versionCounter": 115,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-22T09:50:05.801Z",
      "createdAt": "2026-03-22T09:50:05.801Z",
      "role": "workflow:owner",
      "workflowId": "amDvkYTucdcSRBWP",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T09:57:42.530Z",
    "createdAt": "2026-04-10T09:57:42.530Z",
    "versionId": "274c6ff0-bb85-4ecb-96c7-7ec8afb67e54",
    "workflowId": "amDvkYTucdcSRBWP",
    "nodes": [
      {
        "id": "c1",
        "name": "Cron Daily 08:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          100,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "c2",
        "name": "Fetch NHL Standings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api-web.nhle.com/v1/standings/now",
          "options": {
            "redirect": {
              "redirect": {
                "followRedirects": true,
                "maxRedirects": 3
              }
            }
          }
        }
      },
      {
        "id": "c3",
        "name": "Parse Bubble Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          300
        ],
        "parameters": {
          "jsCode": "\nconst standings = $input.item.json.standings || [];\nconst today = new Date().toISOString().split('T')[0];\n\nfunction abbrev(t) { return (t.teamAbbrev?.default || t.teamAbbrev || '???'); }\nfunction name(t)   { return (t.teamCommonName?.default || t.teamName?.default || abbrev(t)); }\nconst byPoints = (a, b) => (b.points - a.points) || ((b.regulationWins||0) - (a.regulationWins||0));\n\nfunction toTeamInfo(t, inPlayoffs) {\n  return {\n    abbrev: abbrev(t), name: name(t),\n    division: t.divisionAbbrev || '?',\n    points: t.points || 0, gp: t.gamesPlayed || 0,\n    wins: t.wins || 0, losses: t.losses || 0, otLosses: t.otLosses || 0,\n    row: t.regulationWins || 0, inPlayoffs: !!inPlayoffs\n  };\n}\n\n// Eastern teams only\nconst eastern = standings.filter(t => t.conferenceAbbrev === 'E');\n\n// Sort each division separately, then take top 3 — this is the key correctness fix\n// (prevents conference-wide sort from misidentifying division leaders)\nconst atlantic = [...eastern.filter(t => t.divisionAbbrev === 'A')].sort(byPoints);\nconst metro    = [...eastern.filter(t => t.divisionAbbrev === 'M')].sort(byPoints);\n\nconst divChamps = [...atlantic.slice(0, 3), ...metro.slice(0, 3)];\nconst divChampSet = new Set(divChamps.map(abbrev));\n\n// Wildcard pool: all eastern teams not in top-3 of their division, sorted by points\nconst wildcardPool = eastern\n  .filter(t => !divChampSet.has(abbrev(t)))\n  .sort(byPoints);\n\n// NHL wildcard: top 2 = in playoffs, rest = out\nconst wc1      = wildcardPool[0]; // 1st wildcard (safely in)\nconst wc2      = wildcardPool[1]; // 2nd wildcard = LAST IN\nconst firstOut = wildcardPool[2]; // FIRST OUT\n\n// Bubble display: wildcard pool top 6\nconst bubbleTeams = wildcardPool.slice(0, 6).map(t =>\n  toTeamInfo(t, abbrev(t) === abbrev(wc1) || abbrev(t) === abbrev(wc2))\n);\n\nconst teamColors = {\n  BOS:'#FCB514', BUF:'#003087', DET:'#CE1126', FLA:'#C8102E',\n  MTL:'#CF0A2C', OTT:'#C52032', TBL:'#002868', TOR:'#003E7E',\n  CAR:'#CE1126', CBJ:'#002654', NJD:'#CE1126', NYI:'#00539B',\n  NYR:'#0038A8', PHI:'#F74902', PIT:'#FCB514', WSH:'#041E42',\n  VGK:'#B4975A', EDM:'#FC4C02', CGY:'#C8102E', VAN:'#00843D',\n};\n\nreturn [{\n  json: {\n    today,\n    bubbleTeams,\n    lastIn:   toTeamInfo(wc2, true),\n    firstOut: toTeamInfo(firstOut, false),\n    pointsGap: (firstOut?.points || 0) - (wc2?.points || 0),\n    colors: bubbleTeams.map(t => teamColors[t.abbrev] || '#64748b'),\n    divChampions: divChamps.map(t => toTeamInfo(t, true))\n  }\n}];\n"
        }
      },
      {
        "id": "c4",
        "name": "Build Charts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          760,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://charts-api:8000/generate-and-publish",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({ teams: $json.bubbleTeams, today: $json.today, slug: 'eastern-playoff-bubble-' + $json.today, github_token: 'REDACTED_GITHUB_PAT', github_repo: 'emilingemarkarlsson/thb-site' }) }}",
          "options": {
            "timeout": 120000
          }
        }
      },
      {
        "id": "c5",
        "name": "Build Gemini Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1420,
          300
        ],
        "parameters": {
          "jsCode": "\nconst bubble = $('Parse Bubble Data').item.json;\nconst scheduleInfo = $('Parse Schedule').item.json;\nconst charts = $input.item.json;\nconst d = { ...bubble, ...charts };\nconst { bubbleTeams, lastIn, firstOut, pointsGap, today, chartUrl, chart2Url } = d;\nconst scheduleText = scheduleInfo.scheduleText || 'Schedule data unavailable';\nconst newsContext = $input.item.json.newsContext || '';\n\nconst bubbleStr = bubbleTeams.map((t, i) =>\n  `${i+1}. ${t.name} (${t.abbrev}) — ${t.points} pts, ${t.gp} GP, ROW: ${t.row}` +\n  (i === 0 ? ' [WC1 IN]' : i === 1 ? ' [WC2 LAST IN]' : i === 2 ? ' [FIRST OUT]' : '')\n).join('\\n');\n\nconst dateFormatted = new Date(today + 'T12:00:00Z').toLocaleDateString('en-US', {\n  month: 'long', day: 'numeric', year: 'numeric'\n});\nconst gap = Math.abs(pointsGap || 0);\n\nconst systemPrompt = `You are the lead writer for The Hockey Brain (thehockeybrain.com) — a smart hockey analytics publication.\n\nOUTPUT FORMAT — follow exactly, output ONLY the HTML below, nothing else:\n\n<div class=\"article-bottom-line\">\n<strong>The Call</strong>\n[1-2 sentences. Direct, opinionated prediction: who makes the playoffs and who doesn't. Back it with one key data point.]\n</div>\n\n<div class=\"article-quick-take\">\n<p><strong>Quick Take</strong></p>\n<ul>\n<li>[1-sentence fact about who currently holds the bubble lead]</li>\n<li>[1-sentence: exact points for last-in vs first-out, and the gap]</li>\n<li>[1-sentence: tiebreaker or schedule insight]</li>\n</ul>\n</div>\n\n<div class=\"article-key-stat\">\n<span class=\"stat-number\">[THE KEY NUMBER — e.g. 1 or 2]</span>\n<span class=\"stat-label\">[short label, e.g. \"point separates the last playoff spot from elimination\"]</span>\n</div>\n\n<p>[Paragraph 1: Hook — the human drama in 2-3 sentences. Name specific teams and players.]</p>\n\n<p>[Paragraph 2: The cutoff line — exactly who is in and who is out, with point totals.]</p>\n\n<p>[Paragraph 3: ROW tiebreaker — what happens if teams finish tied in points.]</p>\n\n<p>[Paragraph 4: Schedule and momentum — who has the tougher road, who is playing well.]</p>\n\nRULES:\n- Use <strong>Team Name (X pts)</strong> for teams, e.g. <strong>Detroit Red Wings (84 pts)</strong>\n- Each <p> is 2-3 sentences max — short, punchy\n- NO markdown, NO asterisks, NO h1/h2 tags\n- Start immediately with <div class=\"article-bottom-line\"> — zero preamble\n- In the Quick Take <li> bullets: do NOT wrap entire sentences in <strong>. Only bold the team name or number, not the whole sentence.`;\n\nconst userPrompt = `Write the playoff bubble article for ${dateFormatted}.\n\nEASTERN BUBBLE DATA:\n${bubbleStr}\n\nLast team IN:   ${lastIn?.name} (${lastIn?.abbrev}) — ${lastIn?.points} pts, ${lastIn?.gp} GP, ROW: ${lastIn?.row}\nFirst team OUT: ${firstOut?.name} (${firstOut?.abbrev}) — ${firstOut?.points} pts, ${firstOut?.gp} GP, ROW: ${firstOut?.row}\nGap: ${gap} point(s) between last-in and first-out\n\nUPCOMING GAMES (next 7 days for bubble teams): ${scheduleText}\n\n${newsContext ? newsContext + '\\n\\n' : ''}Output ONLY the HTML. Start immediately with <div class=\"article-bottom-line\">.`;\n\nreturn [{ json: { ...d, dateFormatted, systemPrompt, userPrompt } }];\n"
        }
      },
      {
        "id": "c6",
        "name": "Call Groq",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1640,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_API_KEY"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: \"llama-3.3-70b-versatile\", messages: [{ role: \"system\", content: $json.systemPrompt }, { role: \"user\", content: $json.userPrompt }], max_tokens: 1200, temperature: 0.85 }) }}",
          "options": {
            "timeout": 60000
          }
        }
      },
      {
        "id": "c7",
        "name": "Build Post Object",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1860,
          300
        ],
        "parameters": {
          "jsCode": "\nconst articleHtml = $input.item.json.choices?.[0]?.message?.content || '';\nconst d = $('Build Gemini Prompt').item.json;\nconst { today, chartUrl, chart2Url, bubbleTeams, lastIn, firstOut, dateFormatted } = d;\n\nconst slug        = 'eastern-playoff-bubble-' + today;\nconst readableDate = dateFormatted || today;\nconst gap         = Math.abs(d.pointsGap || 0);\n\nconst title    = 'Eastern Playoff Bubble: ' + (lastIn?.name || 'Last In') + ' vs ' + (firstOut?.name || 'First Out') + ' | ' + readableDate;\nconst metaTitle = 'NHL Eastern Playoff Race ' + readableDate + ' | The Hockey Brain';\nconst metaDesc  = (lastIn?.name || 'Last in') + ' (' + (lastIn?.points || 0) + ' pts) hold the final wildcard, ' + gap + ' point(s) ahead of ' + (firstOut?.name || 'First out') + '. Full bubble breakdown ' + readableDate + '.';\nconst year = (today || '2026').substring(0, 4);\nconst keywords = [\n  'nhl playoff race', 'eastern conference standings', 'nhl bubble teams',\n  (lastIn?.name || '').toLowerCase(), (firstOut?.name || '').toLowerCase(),\n  'nhl wildcard race ' + year, 'hockey analytics'\n].filter(Boolean);\n\n// Chart 2 appended at the end of the article (after paragraphs)\nconst chart2Html = '<div class=\"article-chart-secondary\"><img src=\"' + (chart2Url || '') +\n  '\" alt=\"Points vs Regulation Wins – Tiebreaker Context\" /></div>';\n\nconst content = articleHtml.trim() + '\\n' + chart2Html;\n\nconst safeContent = content.replace(/\\\\/g, '\\\\\\\\').replace(/`/g, '\\\\`').replace(/\\$\\{/g, '\\\\${');\nconst postObj = '  {\\n' +\n  '    slug: '            + JSON.stringify(slug)         + ',\\n' +\n  '    title: '           + JSON.stringify(title)        + ',\\n' +\n  '    metaTitle: '       + JSON.stringify(metaTitle)    + ',\\n' +\n  '    metaDescription: ' + JSON.stringify(metaDesc)     + ',\\n' +\n  '    keywords: '        + JSON.stringify(keywords)     + ',\\n' +\n  '    publishedAt: '     + JSON.stringify(today)        + ',\\n' +\n  '    chartUrl: '        + JSON.stringify(chartUrl||'') + ',\\n' +\n  '    content: `'        + safeContent + '`,\\n' +\n  '  },';\n\nreturn [{ json: { slug, title, metaDesc, chartUrl, chart2Url, postObj, articlePreview: content.substring(0, 600) } }];\n"
        }
      },
      {
        "id": "c8",
        "name": "Get posts.ts from GitHub",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2080,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.github.com/repos/emilingemarkarlsson/thb-site/contents/lib/posts.ts",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GITHUB_PAT"
              },
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "c9",
        "name": "Inject + Push to GitHub",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2300,
          300
        ],
        "parameters": {
          "jsCode": "\nconst ghData = $input.item.json;\nconst postObj = $('Build Post Object').item.json.postObj;\nconst sha = ghData.sha;\nconst currentContent = Buffer.from(ghData.content, 'base64').toString('utf8');\n\n// Insert new post at the start of the posts array (after 'posts: BlogPost[] = [')\nconst insertAfter = 'export const posts: BlogPost[] = [';\nconst insertIdx = currentContent.indexOf(insertAfter) + insertAfter.length;\nconst newContent = currentContent.slice(0, insertIdx) + '\\n' + postObj + '\\n' + currentContent.slice(insertIdx);\n\nconst newContentB64 = Buffer.from(newContent).toString('base64');\n\nreturn [{\n  json: {\n    slug: $('Build Post Object').item.json.slug,\n    title: $('Build Post Object').item.json.title,\n    chartUrl: $('Build Post Object').item.json.chartUrl,\n    metaDesc: $('Build Post Object').item.json.metaDesc,\n    sha,\n    newContentB64\n  }\n}];\n"
        }
      },
      {
        "id": "c10",
        "name": "Push to GitHub",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2520,
          300
        ],
        "parameters": {
          "method": "PUT",
          "url": "https://api.github.com/repos/emilingemarkarlsson/thb-site/contents/lib/posts.ts",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GITHUB_PAT"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"message\": \"feat: auto-publish NHL playoff bubble article – {{ $json.slug }}\", \"content\": \"{{ $json.newContentB64 }}\", \"sha\": \"{{ $json.sha }}\"}",
          "options": {
            "timeout": 30000
          }
        }
      },
      {
        "id": "c11",
        "name": "Trigger Newsletter + Bluesky",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2740,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://n8n.theunnamedroads.com/webhook/article-published",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"slug\": \"{{ $('Inject + Push to GitHub').item.json.slug }}\", \"url\": \"https://www.thehockeybrain.com/insights/{{ $('Inject + Push to GitHub').item.json.slug }}\", \"title\": \"{{ $('Inject + Push to GitHub').item.json.title }}\", \"description\": \"{{ $('Inject + Push to GitHub').item.json.metaDesc }}\", \"umamiName\": \"thehockeybrain\", \"projectName\": \"The Hockey Brain\", \"listUuid\": \"149f7d0c-5959-409f-9043-d26cf920df84\", \"chartUrl\": \"{{ $('Inject + Push to GitHub').item.json.chartUrl }}\"}",
          "options": {}
        }
      },
      {
        "id": "c12",
        "name": "Notify Telegram – Published",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2960,
          300
        ],
        "parameters": {
          "url": "https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({chat_id: '-1003919428238', text: '\\uD83C\\uDFD2 <b>Ny THB-artikel publicerad!</b>\\n\\n<b>Titel:</b> ' + $(\"Inject + Push to GitHub\").item.json.title + '\\n\\uD83D\\uDD17 https://www.thehockeybrain.com/insights/' + $(\"Inject + Push to GitHub\").item.json.slug, parse_mode: 'HTML', message_thread_id: 4}) }}"
        }
      },
      {
        "id": "tw1",
        "name": "Manual Test Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          100,
          500
        ],
        "webhookId": "thb-daily-test-trigger",
        "parameters": {
          "path": "thb-daily-test",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "thb-indexnow-01",
        "name": "IndexNow Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2300,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.indexnow.org/indexnow",
          "options": {},
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  host: 'thehockeybrain.com',\n  key: 'c9d5e1f7a3b6c8d4e2f9a5b7c3d8e6f2',\n  keyLocation: 'https://www.thehockeybrain.com/c9d5e1f7a3b6c8d4e2f9a5b7c3d8e6f2.txt',\n  urlList: ['https://www.thehockeybrain.com/insights/' + $('Inject + Push to GitHub').item.json.slug]\n}) }}"
        }
      },
      {
        "id": "thb-fetch-schedule",
        "name": "Fetch NHL Schedule",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          980,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://api-web.nhle.com/v1/schedule/now"
        }
      },
      {
        "id": "thb-parse-schedule",
        "name": "Parse Schedule",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "jsCode": "// Extract upcoming games for bubble teams\nlet scheduleGames = [];\ntry {\n  const scheduleData = $('Fetch NHL Schedule').item.json;\n  const gameWeek = scheduleData.gameWeek || [];\n  \n  // Get bubble team abbreviations from Parse Bubble Data\n  const bubbleData = $('Parse Bubble Data').item.json;\n  const bubbleTeams = (bubbleData.bubbleTeams || []).map(t => t.abbrev || t.teamAbbrev || '');\n  \n  // Find games involving bubble teams in next 7 days\n  for (const day of gameWeek.slice(0, 7)) {\n    for (const game of (day.games || [])) {\n      const home = game.homeTeam?.abbrev || '';\n      const away = game.awayTeam?.abbrev || '';\n      if (bubbleTeams.includes(home) || bubbleTeams.includes(away)) {\n        scheduleGames.push({\n          date: day.date,\n          home,\n          away,\n          venue: game.venue?.default || ''\n        });\n      }\n    }\n  }\n} catch(e) {\n  scheduleGames = [];\n}\n\nconst inputJson = $input.item.json;\nreturn [{\n  json: {\n    ...inputJson,\n    scheduleGames,\n    scheduleText: scheduleGames.length > 0 \n      ? scheduleGames.map(g => g.date + ': ' + g.away + ' @ ' + g.home).join(', ')\n      : 'Schedule data unavailable'\n  }\n}];"
        }
      },
      {
        "id": "thb-rss1",
        "name": "Fetch NHL News",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          480
        ],
        "continueOnFail": true,
        "parameters": {
          "url": "https://www.nhl.com/rss/news.xml",
          "method": "GET",
          "options": {}
        }
      },
      {
        "id": "thb-rss2",
        "name": "Fetch HockeyBuzz",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1420,
          480
        ],
        "continueOnFail": true,
        "parameters": {
          "url": "https://www.hockeybuzz.com/rss.php",
          "method": "GET",
          "options": {}
        }
      },
      {
        "id": "thb-rss3",
        "name": "Parse Bubble News",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1640,
          480
        ],
        "parameters": {
          "jsCode": "function parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) ||\n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    if (title.length > 10) items.push(title);\n  }\n  return items;\n}\n\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch NHL News').item.json.data || $('Fetch NHL News').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch HockeyBuzz').item.json.data || $('Fetch HockeyBuzz').item.json.body || ''); } catch(e) {}\n\nconst nhlNews = parseRSS(xml1, 4);\nconst buzzNews = parseRSS(xml2, 3);\nconst allNews = [...nhlNews, ...buzzNews].slice(0, 6);\n\nconst newsContext = allNews.length > 0\n  ? 'RECENT NHL NEWS (injuries/trades/lineup changes):\\n' + allNews.map(h => '• ' + h).join('\\n')\n  : '';\n\nconst prev = $('Parse Schedule').item.json;\nreturn { ...prev, newsContext };"
        }
      }
    ],
    "connections": {
      "Cron Daily 08:00": {
        "main": [
          [
            {
              "node": "Fetch NHL Standings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch NHL Standings": {
        "main": [
          [
            {
              "node": "Parse Bubble Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Bubble Data": {
        "main": [
          [
            {
              "node": "Build Charts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Charts": {
        "main": [
          [
            {
              "node": "Fetch NHL Schedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Gemini Prompt": {
        "main": [
          [
            {
              "node": "Call Groq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Post Object": {
        "main": [
          [
            {
              "node": "Get posts.ts from GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get posts.ts from GitHub": {
        "main": [
          [
            {
              "node": "Inject + Push to GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inject + Push to GitHub": {
        "main": [
          [
            {
              "node": "Push to GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push to GitHub": {
        "main": [
          [
            {
              "node": "Trigger Newsletter + Bluesky",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Newsletter + Bluesky": {
        "main": [
          [
            {
              "node": "IndexNow Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Test Trigger": {
        "main": [
          [
            {
              "node": "Fetch NHL Standings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Groq": {
        "main": [
          [
            {
              "node": "Build Post Object",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IndexNow Ping": {
        "main": [
          [
            {
              "node": "Notify Telegram – Published",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch NHL Schedule": {
        "main": [
          [
            {
              "node": "Parse Schedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Schedule": {
        "main": [
          [
            {
              "node": "Fetch NHL News",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch NHL News": {
        "main": [
          [
            {
              "node": "Fetch HockeyBuzz",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch HockeyBuzz": {
        "main": [
          [
            {
              "node": "Parse Bubble News",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Bubble News": {
        "main": [
          [
            {
              "node": "Build Gemini Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T09:57:42.574Z",
        "id": 671,
        "workflowId": "amDvkYTucdcSRBWP",
        "versionId": "274c6ff0-bb85-4ecb-96c7-7ec8afb67e54",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T09:57:42.592Z",
        "id": 672,
        "workflowId": "amDvkYTucdcSRBWP",
        "versionId": "274c6ff0-bb85-4ecb-96c7-7ec8afb67e54",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}