n8n/workflows/tpr-article-generator.json
{
  "updatedAt": "2026-04-10T09:50:53.056Z",
  "createdAt": "2026-03-24T15:22:04.028Z",
  "id": "xDuxJANXD3CsKsRq",
  "name": "tpr-article-generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "tpr-article-generator-sched",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 12 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "tpr-read-topics-minio",
      "name": "Read Topics from Minio",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "aws": {
          "id": "HdCw5lSb6jwOHLHd",
          "name": "Minio S3"
        }
      },
      "parameters": {
        "operation": "get",
        "bucketName": "seo-drafts",
        "fileKey": "tpr-topics.json"
      }
    },
    {
      "id": "tpr-article-generator-pick",
      "name": "Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"print procurement cost optimization\", \"sustainable print production practices 2026\", \"digital vs offset print decision guide\", \"print on demand vs bulk print economics\", \"supply chain transparency in print industry\", \"carbon footprint of commercial printing\", \"wide format print production workflow\", \"print quality control automation\", \"paper sourcing sustainability FSC certification\", \"print file preparation best practices\", \"variable data printing applications\", \"packaging print innovation 2026\", \"print industry consolidation trends\", \"digital print personalization at scale\", \"cross-media campaign print integration\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
      }
    },
    {
      "id": "tpr-article-generator-set",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst slug = $json.slug;\nconst date = $json.date;\nconst rssContext = $json.rssContext || '';\n\nconst systemPrompt = \"You are an industry analyst writing for The Print Route (theprintroute.com) \\u2014 a platform for modern print procurement and supply chain management. Write for procurement managers, print buyers, and operations leads. Be practical, data-driven, and industry-specific.\";\n\nconst rssBlock = rssContext ? rssContext + '\\n\\nUse the above context to make your article timely and grounded in current industry developments. Reference or expand on relevant trends where appropriate.\\n\\n' : '';\n\nconst userPrompt = \"Write a comprehensive article (1200-1800 words) about print production and procurement, specifically about: __TOPIC__\\n\\n\".replace('__TOPIC__', topic)\n  + rssBlock\n  + \"Include real industry data/benchmarks where relevant, practical guidance, and trade-offs. Structure with H2/H3 headers. End with actionable next steps. NO frontmatter. Start with a compelling intro.\";\n\nreturn {\n  systemPrompt,\n  userPrompt,\n  slug,\n  topic,\n  date\n};"
      }
    },
    {
      "id": "tpr-article-generator-groq",
      "name": "Generate with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://litellm-kkswc8gokk84c0o8oo84w44w.46.62.206.47.sslip.io/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7cFubmhrruWpKV7tvYqKnp6o4HqrDj7L"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'gemini-25-flash',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt+' Topic: '+$json.topic}],temperature:0.7,max_tokens:3000}) }}"
      }
    },
    {
      "id": "tpr-article-generator-fmt",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst description = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,5);\nconst safeTitle = title.replace(/\"/g, \"\");\nconst safeDesc = description.replace(/\"/g, \"\");\nconst frontmatter = `---\\ntitle: \"${safeTitle}\"\\ndescription: \"${safeDesc}\"\\npublishDate: ${date}\\ntags: [${tags.map(t=>`\"${t}\"`).join(', ')}]\\nauthor: \"The Print Route\"\\nauthorUrl: \"https://theprintroute.com\"\\ndisclosure: \"AI-assisted content\"\\ndraft: false\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
      }
    },
    {
      "id": "tpr-article-generator-pub",
      "name": "Publish via OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.0.2.1:9191/store-and-publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theprintroute', content: $json.fullContent}) }}"
      }
    },
    {
      "id": "wh-xDuxJANX",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        300
      ],
      "webhookId": "run-tpr-gen",
      "parameters": {
        "path": "run-tpr-gen",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "tpr-indexnow-01",
      "name": "IndexNow Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.indexnow.org/indexnow",
        "options": {},
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({host: 'theprintroute.com', key: 'eb640c5bef6ff7673a55792a64b0e212', keyLocation: 'https://theprintroute.com/eb640c5bef6ff7673a55792a64b0e212.txt', urlList: ['https://theprintroute.com/blog/' + $('Pick Topic').item.json.slug]}) }}"
      }
    },
    {
      "id": "tpr-save-used-slug",
      "name": "Save Used Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
      }
    },
    {
      "id": "tpr-rss-fetch-1",
      "name": "Fetch RSS 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://whattheythink.com/rss/articles.rss",
        "options": {}
      }
    },
    {
      "id": "tpr-rss-fetch-2",
      "name": "Fetch RSS 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://www.printingnews.com/rss/",
        "options": {}
      }
    },
    {
      "id": "tpr-rss-parse",
      "name": "Parse RSS Headlines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "// Parse RSS XML from both feeds and extract top headlines\nfunction parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const descMatch = item.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) ||\n                      item.match(/<summary[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/summary>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc = (descMatch?.[1] || '').replace(/<[^>]+>/g, '').replace(/\\s+/g,' ').trim().substring(0, 150);\n    if (title.length > 10) items.push(title + (desc ? ': ' + desc : ''));\n  }\n  return items;\n}\n\n// Get XML from both previous nodes\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch RSS 1').item.json.data || $('Fetch RSS 1').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch RSS 2').item.json.data || $('Fetch RSS 2').item.json.body || ''); } catch(e) {}\n\nconst headlines1 = parseRSS(xml1, 4);\nconst headlines2 = parseRSS(xml2, 3);\nconst allHeadlines = [...headlines1, ...headlines2].slice(0, 6);\n\nconst contextText = allHeadlines.length > 0\n  ? 'CURRENT INDUSTRY CONTEXT (recent headlines):\\n' + allHeadlines.map(h => '\\u2022 ' + h).join('\\n')\n  : '';\n\n// Pass through topic + add rssContext\nreturn {\n  topic: $('Pick Topic').item.json.topic,\n  slug: $('Pick Topic').item.json.slug,\n  date: $('Pick Topic').item.json.date,\n  rssContext: contextText,\n  rssCount: allHeadlines.length\n};"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topics from Minio": {
      "main": [
        [
          {
            "node": "Pick Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic": {
      "main": [
        [
          {
            "node": "Fetch RSS 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Groq": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Publish via OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish via OpenClaw": {
      "main": [
        [
          {
            "node": "IndexNow Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IndexNow Ping": {
      "main": [
        [
          {
            "node": "Save Used Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS 1": {
      "main": [
        [
          {
            "node": "Fetch RSS 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS 2": {
      "main": [
        [
          {
            "node": "Parse RSS Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Headlines": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "3a48cf64-0dc5-4ac4-83cd-dea57700fa67",
  "activeVersionId": "3a48cf64-0dc5-4ac4-83cd-dea57700fa67",
  "versionCounter": 72,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-24T15:22:04.028Z",
      "createdAt": "2026-03-24T15:22:04.028Z",
      "role": "workflow:owner",
      "workflowId": "xDuxJANXD3CsKsRq",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T09:50:53.057Z",
    "createdAt": "2026-04-10T09:50:53.057Z",
    "versionId": "3a48cf64-0dc5-4ac4-83cd-dea57700fa67",
    "workflowId": "xDuxJANXD3CsKsRq",
    "nodes": [
      {
        "id": "tpr-article-generator-sched",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "30 12 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "tpr-read-topics-minio",
        "name": "Read Topics from Minio",
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 2,
        "position": [
          -200,
          300
        ],
        "continueOnFail": true,
        "credentials": {
          "aws": {
            "id": "HdCw5lSb6jwOHLHd",
            "name": "Minio S3"
          }
        },
        "parameters": {
          "operation": "get",
          "bucketName": "seo-drafts",
          "fileKey": "tpr-topics.json"
        }
      },
      {
        "id": "tpr-article-generator-pick",
        "name": "Pick Topic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"print procurement cost optimization\", \"sustainable print production practices 2026\", \"digital vs offset print decision guide\", \"print on demand vs bulk print economics\", \"supply chain transparency in print industry\", \"carbon footprint of commercial printing\", \"wide format print production workflow\", \"print quality control automation\", \"paper sourcing sustainability FSC certification\", \"print file preparation best practices\", \"variable data printing applications\", \"packaging print innovation 2026\", \"print industry consolidation trends\", \"digital print personalization at scale\", \"cross-media campaign print integration\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
        }
      },
      {
        "id": "tpr-article-generator-set",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          300
        ],
        "parameters": {
          "jsCode": "const topic = $json.topic;\nconst slug = $json.slug;\nconst date = $json.date;\nconst rssContext = $json.rssContext || '';\n\nconst systemPrompt = \"You are an industry analyst writing for The Print Route (theprintroute.com) \\u2014 a platform for modern print procurement and supply chain management. Write for procurement managers, print buyers, and operations leads. Be practical, data-driven, and industry-specific.\";\n\nconst rssBlock = rssContext ? rssContext + '\\n\\nUse the above context to make your article timely and grounded in current industry developments. Reference or expand on relevant trends where appropriate.\\n\\n' : '';\n\nconst userPrompt = \"Write a comprehensive article (1200-1800 words) about print production and procurement, specifically about: __TOPIC__\\n\\n\".replace('__TOPIC__', topic)\n  + rssBlock\n  + \"Include real industry data/benchmarks where relevant, practical guidance, and trade-offs. Structure with H2/H3 headers. End with actionable next steps. NO frontmatter. Start with a compelling intro.\";\n\nreturn {\n  systemPrompt,\n  userPrompt,\n  slug,\n  topic,\n  date\n};"
        }
      },
      {
        "id": "tpr-article-generator-groq",
        "name": "Generate with Groq",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1000,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_API_KEY"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt+' Topic: '+$json.topic}],temperature:0.7,max_tokens:3000}) }}"
        }
      },
      {
        "id": "tpr-article-generator-fmt",
        "name": "Format Article",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst description = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,5);\nconst safeTitle = title.replace(/\"/g, \"\");\nconst safeDesc = description.replace(/\"/g, \"\");\nconst frontmatter = `---\\ntitle: \"${safeTitle}\"\\ndescription: \"${safeDesc}\"\\npublishDate: ${date}\\ntags: [${tags.map(t=>`\"${t}\"`).join(', ')}]\\nauthor: \"The Print Route\"\\nauthorUrl: \"https://theprintroute.com\"\\ndisclosure: \"AI-assisted content\"\\ndraft: false\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
        }
      },
      {
        "id": "tpr-article-generator-pub",
        "name": "Publish via OpenClaw",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1400,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://10.0.2.1:9191/store-and-publish",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theprintroute', content: $json.fullContent}) }}"
        }
      },
      {
        "id": "wh-xDuxJANX",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -680,
          300
        ],
        "webhookId": "run-tpr-gen",
        "parameters": {
          "path": "run-tpr-gen",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "tpr-indexnow-01",
        "name": "IndexNow Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1620,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "https://api.indexnow.org/indexnow",
          "options": {},
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({host: 'theprintroute.com', key: 'eb640c5bef6ff7673a55792a64b0e212', keyLocation: 'https://theprintroute.com/eb640c5bef6ff7673a55792a64b0e212.txt', urlList: ['https://theprintroute.com/blog/' + $('Pick Topic').item.json.slug]}) }}"
        }
      },
      {
        "id": "tpr-save-used-slug",
        "name": "Save Used Slug",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1860,
          300
        ],
        "parameters": {
          "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
        }
      },
      {
        "id": "tpr-rss-fetch-1",
        "name": "Fetch RSS 1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          200,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://whattheythink.com/rss/articles.rss",
          "options": {}
        }
      },
      {
        "id": "tpr-rss-fetch-2",
        "name": "Fetch RSS 2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://www.printingnews.com/rss/",
          "options": {}
        }
      },
      {
        "id": "tpr-rss-parse",
        "name": "Parse RSS Headlines",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          300
        ],
        "parameters": {
          "jsCode": "// Parse RSS XML from both feeds and extract top headlines\nfunction parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const descMatch = item.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) ||\n                      item.match(/<summary[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/summary>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc = (descMatch?.[1] || '').replace(/<[^>]+>/g, '').replace(/\\s+/g,' ').trim().substring(0, 150);\n    if (title.length > 10) items.push(title + (desc ? ': ' + desc : ''));\n  }\n  return items;\n}\n\n// Get XML from both previous nodes\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch RSS 1').item.json.data || $('Fetch RSS 1').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch RSS 2').item.json.data || $('Fetch RSS 2').item.json.body || ''); } catch(e) {}\n\nconst headlines1 = parseRSS(xml1, 4);\nconst headlines2 = parseRSS(xml2, 3);\nconst allHeadlines = [...headlines1, ...headlines2].slice(0, 6);\n\nconst contextText = allHeadlines.length > 0\n  ? 'CURRENT INDUSTRY CONTEXT (recent headlines):\\n' + allHeadlines.map(h => '\\u2022 ' + h).join('\\n')\n  : '';\n\n// Pass through topic + add rssContext\nreturn {\n  topic: $('Pick Topic').item.json.topic,\n  slug: $('Pick Topic').item.json.slug,\n  date: $('Pick Topic').item.json.date,\n  rssContext: contextText,\n  rssCount: allHeadlines.length\n};"
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Topics from Minio": {
        "main": [
          [
            {
              "node": "Pick Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Topic": {
        "main": [
          [
            {
              "node": "Fetch RSS 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Generate with Groq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate with Groq": {
        "main": [
          [
            {
              "node": "Format Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Article": {
        "main": [
          [
            {
              "node": "Publish via OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish via OpenClaw": {
        "main": [
          [
            {
              "node": "IndexNow Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IndexNow Ping": {
        "main": [
          [
            {
              "node": "Save Used Slug",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RSS 1": {
        "main": [
          [
            {
              "node": "Fetch RSS 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RSS 2": {
        "main": [
          [
            {
              "node": "Parse RSS Headlines",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse RSS Headlines": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T09:50:53.097Z",
        "id": 667,
        "workflowId": "xDuxJANXD3CsKsRq",
        "versionId": "3a48cf64-0dc5-4ac4-83cd-dea57700fa67",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T09:50:53.114Z",
        "id": 668,
        "workflowId": "xDuxJANXD3CsKsRq",
        "versionId": "3a48cf64-0dc5-4ac4-83cd-dea57700fa67",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}