n8n/workflows/tpr-article-generator.json
{
  "updatedAt": "2026-04-10T09:42:32.544Z",
  "createdAt": "2026-03-24T15:22:04.028Z",
  "id": "xDuxJANXD3CsKsRq",
  "name": "tpr-article-generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "tpr-article-generator-sched",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 12 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "tpr-read-topics-minio",
      "name": "Read Topics from Minio",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "aws": {
          "id": "HdCw5lSb6jwOHLHd",
          "name": "Minio S3"
        }
      },
      "parameters": {
        "operation": "get",
        "bucketName": "seo-drafts",
        "fileKey": "tpr-topics.json"
      }
    },
    {
      "id": "tpr-article-generator-pick",
      "name": "Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"print procurement cost optimization\", \"sustainable print production practices 2026\", \"digital vs offset print decision guide\", \"print on demand vs bulk print economics\", \"supply chain transparency in print industry\", \"carbon footprint of commercial printing\", \"wide format print production workflow\", \"print quality control automation\", \"paper sourcing sustainability FSC certification\", \"print file preparation best practices\", \"variable data printing applications\", \"packaging print innovation 2026\", \"print industry consolidation trends\", \"digital print personalization at scale\", \"cross-media campaign print integration\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
      }
    },
    {
      "id": "tpr-article-generator-set",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "systemPrompt",
              "value": "You are an industry analyst writing for The Print Route (theprintroute.com) \u2014 a platform for modern print procurement and supply chain management. Write for procurement managers, print buyers, and operations leads. Be practical, data-driven, and industry-specific.",
              "type": "string"
            },
            {
              "id": "2",
              "name": "userPrompt",
              "value": "Write a comprehensive article (1200-1800 words) about print production and procurement. Include real industry data/benchmarks where relevant, practical guidance, and trade-offs. Structure with H2/H3 headers. End with actionable next steps. NO frontmatter. Start with a compelling intro.",
              "type": "string"
            },
            {
              "id": "3",
              "name": "slug",
              "value": "={{ $json.slug }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "tpr-article-generator-groq",
      "name": "Generate with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt+' Topic: '+$json.topic}],temperature:0.7,max_tokens:3000}) }}"
      }
    },
    {
      "id": "tpr-article-generator-fmt",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst description = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,5);\nconst safeTitle = title.replace(/\"/g, \"\");\nconst safeDesc = description.replace(/\"/g, \"\");\nconst frontmatter = `---\\ntitle: \"${safeTitle}\"\\ndescription: \"${safeDesc}\"\\npublishDate: ${date}\\ntags: [${tags.map(t=>`\"${t}\"`).join(', ')}]\\nauthor: \"The Print Route\"\\nauthorUrl: \"https://theprintroute.com\"\\ndisclosure: \"AI-assisted content\"\\ndraft: false\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
      }
    },
    {
      "id": "tpr-article-generator-pub",
      "name": "Publish via OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.0.2.1:9191/store-and-publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theprintroute', content: $json.fullContent}) }}"
      }
    },
    {
      "id": "wh-xDuxJANX",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        300
      ],
      "webhookId": "run-tpr-gen",
      "parameters": {
        "path": "run-tpr-gen",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "tpr-indexnow-01",
      "name": "IndexNow Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.indexnow.org/indexnow",
        "options": {},
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({host: 'theprintroute.com', key: 'eb640c5bef6ff7673a55792a64b0e212', keyLocation: 'https://theprintroute.com/eb640c5bef6ff7673a55792a64b0e212.txt', urlList: ['https://theprintroute.com/blog/' + $('Pick Topic').item.json.slug]}) }}"
      }
    },
    {
      "id": "tpr-save-used-slug",
      "name": "Save Used Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        300
      ],
      "parameters": {
        "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topics from Minio": {
      "main": [
        [
          {
            "node": "Pick Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Groq": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Publish via OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish via OpenClaw": {
      "main": [
        [
          {
            "node": "IndexNow Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IndexNow Ping": {
      "main": [
        [
          {
            "node": "Save Used Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "ce54731e-b1f4-4dd4-8bf7-8a25631e7b3d",
  "activeVersionId": "ce54731e-b1f4-4dd4-8bf7-8a25631e7b3d",
  "versionCounter": 69,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-24T15:22:04.028Z",
      "createdAt": "2026-03-24T15:22:04.028Z",
      "role": "workflow:owner",
      "workflowId": "xDuxJANXD3CsKsRq",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T09:42:32.545Z",
    "createdAt": "2026-04-10T09:42:32.545Z",
    "versionId": "ce54731e-b1f4-4dd4-8bf7-8a25631e7b3d",
    "workflowId": "xDuxJANXD3CsKsRq",
    "nodes": [
      {
        "id": "tpr-article-generator-sched",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "30 12 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "tpr-read-topics-minio",
        "name": "Read Topics from Minio",
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 2,
        "position": [
          -200,
          300
        ],
        "continueOnFail": true,
        "credentials": {
          "aws": {
            "id": "HdCw5lSb6jwOHLHd",
            "name": "Minio S3"
          }
        },
        "parameters": {
          "operation": "get",
          "bucketName": "seo-drafts",
          "fileKey": "tpr-topics.json"
        }
      },
      {
        "id": "tpr-article-generator-pick",
        "name": "Pick Topic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"print procurement cost optimization\", \"sustainable print production practices 2026\", \"digital vs offset print decision guide\", \"print on demand vs bulk print economics\", \"supply chain transparency in print industry\", \"carbon footprint of commercial printing\", \"wide format print production workflow\", \"print quality control automation\", \"paper sourcing sustainability FSC certification\", \"print file preparation best practices\", \"variable data printing applications\", \"packaging print innovation 2026\", \"print industry consolidation trends\", \"digital print personalization at scale\", \"cross-media campaign print integration\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
        }
      },
      {
        "id": "tpr-article-generator-set",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          200,
          300
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "systemPrompt",
                "value": "You are an industry analyst writing for The Print Route (theprintroute.com) \u2014 a platform for modern print procurement and supply chain management. Write for procurement managers, print buyers, and operations leads. Be practical, data-driven, and industry-specific.",
                "type": "string"
              },
              {
                "id": "2",
                "name": "userPrompt",
                "value": "Write a comprehensive article (1200-1800 words) about print production and procurement. Include real industry data/benchmarks where relevant, practical guidance, and trade-offs. Structure with H2/H3 headers. End with actionable next steps. NO frontmatter. Start with a compelling intro.",
                "type": "string"
              },
              {
                "id": "3",
                "name": "slug",
                "value": "={{ $json.slug }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "topic",
                "value": "={{ $json.topic }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "date",
                "value": "={{ $json.date }}",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "tpr-article-generator-groq",
        "name": "Generate with Groq",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          400,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_API_KEY"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt+' Topic: '+$json.topic}],temperature:0.7,max_tokens:3000}) }}"
        }
      },
      {
        "id": "tpr-article-generator-fmt",
        "name": "Format Article",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          300
        ],
        "parameters": {
          "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst description = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,5);\nconst safeTitle = title.replace(/\"/g, \"\");\nconst safeDesc = description.replace(/\"/g, \"\");\nconst frontmatter = `---\\ntitle: \"${safeTitle}\"\\ndescription: \"${safeDesc}\"\\npublishDate: ${date}\\ntags: [${tags.map(t=>`\"${t}\"`).join(', ')}]\\nauthor: \"The Print Route\"\\nauthorUrl: \"https://theprintroute.com\"\\ndisclosure: \"AI-assisted content\"\\ndraft: false\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
        }
      },
      {
        "id": "tpr-article-generator-pub",
        "name": "Publish via OpenClaw",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          800,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://10.0.2.1:9191/store-and-publish",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theprintroute', content: $json.fullContent}) }}"
        }
      },
      {
        "id": "wh-xDuxJANX",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -680,
          300
        ],
        "webhookId": "run-tpr-gen",
        "parameters": {
          "path": "run-tpr-gen",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "tpr-indexnow-01",
        "name": "IndexNow Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1020,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "https://api.indexnow.org/indexnow",
          "options": {},
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({host: 'theprintroute.com', key: 'eb640c5bef6ff7673a55792a64b0e212', keyLocation: 'https://theprintroute.com/eb640c5bef6ff7673a55792a64b0e212.txt', urlList: ['https://theprintroute.com/blog/' + $('Pick Topic').item.json.slug]}) }}"
        }
      },
      {
        "id": "tpr-save-used-slug",
        "name": "Save Used Slug",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1260,
          300
        ],
        "parameters": {
          "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Topics from Minio": {
        "main": [
          [
            {
              "node": "Pick Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Topic": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Generate with Groq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate with Groq": {
        "main": [
          [
            {
              "node": "Format Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Article": {
        "main": [
          [
            {
              "node": "Publish via OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish via OpenClaw": {
        "main": [
          [
            {
              "node": "IndexNow Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IndexNow Ping": {
        "main": [
          [
            {
              "node": "Save Used Slug",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T09:42:32.579Z",
        "id": 657,
        "workflowId": "xDuxJANXD3CsKsRq",
        "versionId": "ce54731e-b1f4-4dd4-8bf7-8a25631e7b3d",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T09:42:32.594Z",
        "id": 658,
        "workflowId": "xDuxJANXD3CsKsRq",
        "versionId": "ce54731e-b1f4-4dd4-8bf7-8a25631e7b3d",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}