n8n/workflows/tur-article-generator.json
{
  "updatedAt": "2026-04-10T09:50:52.225Z",
  "createdAt": "2026-03-24T15:13:28.454Z",
  "id": "ZG4Jv9RD7liDpcmM",
  "name": "tur-article-generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "tur-article-generator-sched",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "tur-read-topics-minio",
      "name": "Read Topics from Minio",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "aws": {
          "id": "HdCw5lSb6jwOHLHd",
          "name": "Minio S3"
        }
      },
      "parameters": {
        "operation": "get",
        "bucketName": "seo-drafts",
        "fileKey": "tur-topics.json"
      }
    },
    {
      "id": "tur-article-generator-pick",
      "name": "Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"AI-native company building playbook\", \"12-week product experiment framework\", \"remote-first team culture 2026\", \"bootstrapping vs venture funding decision\", \"building in public strategy\", \"personal brand for founders\", \"async-first communication systems\", \"solo founder mental health practices\", \"product-led growth for small teams\", \"side project to profitable product\", \"AI tools for indie hackers\", \"digital nomad infrastructure setup\", \"building audience before product\", \"micro-SaaS niche validation\", \"founder-led sales tactics\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
      }
    },
    {
      "id": "tur-article-generator-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst slug = $json.slug;\nconst date = $json.date;\nconst rssContext = $json.rssContext || '';\n\nconst systemPrompt = \"You are a writer for The Unnamed Roads (theunnamedroads.com) \\u2014 a publication about the unconventional path: building companies, experiments, and adventures without a map. Write in a thoughtful, direct, slightly poetic tone. The audience is indie hackers, founders, and curious builders.\";\n\nconst rssBlock = rssContext ? rssContext + '\\n\\nUse the above context to make your article timely and grounded in current industry developments. Reference or expand on relevant trends where appropriate.\\n\\n' : '';\n\nconst userPrompt = \"Write a comprehensive, well-structured article about: __TOPIC__\\n\\n\".replace('__TOPIC__', topic)\n  + rssBlock\n  + \"Requirements:\\n- 1200-1800 words\\n- Practical and honest, avoid hype\\n- Include real examples and actionable insights\\n- Use H2 and H3 headers for structure\\n- End with key takeaways\\n- NO frontmatter, just the article body starting with a compelling intro paragraph\";\n\nreturn {\n  systemPrompt,\n  userPrompt,\n  slug,\n  topic,\n  date\n};"
      }
    },
    {
      "id": "tur-article-generator-groq",
      "name": "Generate with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://litellm-kkswc8gokk84c0o8oo84w44w.46.62.206.47.sslip.io/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7cFubmhrruWpKV7tvYqKnp6o4HqrDj7L"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'gemini-25-flash',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt}],temperature:0.7,max_tokens:3000}) }}"
      }
    },
    {
      "id": "tur-article-generator-fmt",
      "name": "Format Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst firstPara = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,200).split('.').slice(0,2).join('.')+'.'; \nconst description = firstPara.slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,4);\nconst frontmatter = `---\\ntitle: \"${title.replace(/\"/g, \"'\")}\"\\ndescription: \"${description.replace(/\"/g, \"'\")}\"\\npublishedDate: ${date}\\ndateModified: ${date}\\nauthor: \"The Unnamed Roads\"\\nauthorUrl: \"https://theunnamedroads.com\"\\ndisclosure: \"AI-assisted content\"\\ntags: [${tags.map(t=>`'${t}'`).join(', ')}]\\ndraft: false\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
      }
    },
    {
      "id": "tur-article-generator-pub",
      "name": "Publish via OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.0.2.1:9191/store-and-publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theunnamedroads', content: $json.fullContent}) }}"
      }
    },
    {
      "id": "wh-ZG4Jv9RD",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        300
      ],
      "webhookId": "run-tur-gen",
      "parameters": {
        "path": "run-tur-gen",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "tur-indexnow-01",
      "name": "IndexNow Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.indexnow.org/indexnow",
        "options": {},
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({host: 'theunnamedroads.com', key: '6edbaf3226b0a1af8fb89f0b6c3a7232', keyLocation: 'https://theunnamedroads.com/6edbaf3226b0a1af8fb89f0b6c3a7232.txt', urlList: ['https://theunnamedroads.com/posts/' + $('Pick Topic').item.json.slug]}) }}"
      }
    },
    {
      "id": "tur-save-used-slug",
      "name": "Save Used Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
      }
    },
    {
      "id": "tur-rss-fetch-1",
      "name": "Fetch RSS 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://hnrss.org/frontpage",
        "options": {}
      }
    },
    {
      "id": "tur-rss-fetch-2",
      "name": "Fetch RSS 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://www.indiehackers.com/feed.rss",
        "options": {}
      }
    },
    {
      "id": "tur-rss-parse",
      "name": "Parse RSS Headlines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "// Parse RSS XML from both feeds and extract top headlines\nfunction parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const descMatch = item.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) ||\n                      item.match(/<summary[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/summary>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc = (descMatch?.[1] || '').replace(/<[^>]+>/g, '').replace(/\\s+/g,' ').trim().substring(0, 150);\n    if (title.length > 10) items.push(title + (desc ? ': ' + desc : ''));\n  }\n  return items;\n}\n\n// Get XML from both previous nodes\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch RSS 1').item.json.data || $('Fetch RSS 1').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch RSS 2').item.json.data || $('Fetch RSS 2').item.json.body || ''); } catch(e) {}\n\nconst headlines1 = parseRSS(xml1, 4);\nconst headlines2 = parseRSS(xml2, 3);\nconst allHeadlines = [...headlines1, ...headlines2].slice(0, 6);\n\nconst contextText = allHeadlines.length > 0\n  ? 'CURRENT INDUSTRY CONTEXT (recent headlines):\\n' + allHeadlines.map(h => '\\u2022 ' + h).join('\\n')\n  : '';\n\n// Pass through topic + add rssContext\nreturn {\n  topic: $('Pick Topic').item.json.topic,\n  slug: $('Pick Topic').item.json.slug,\n  date: $('Pick Topic').item.json.date,\n  rssContext: contextText,\n  rssCount: allHeadlines.length\n};"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topics from Minio": {
      "main": [
        [
          {
            "node": "Pick Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic": {
      "main": [
        [
          {
            "node": "Fetch RSS 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Groq": {
      "main": [
        [
          {
            "node": "Format Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Article": {
      "main": [
        [
          {
            "node": "Publish via OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Topics from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish via OpenClaw": {
      "main": [
        [
          {
            "node": "IndexNow Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IndexNow Ping": {
      "main": [
        [
          {
            "node": "Save Used Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS 1": {
      "main": [
        [
          {
            "node": "Fetch RSS 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS 2": {
      "main": [
        [
          {
            "node": "Parse RSS Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Headlines": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "74e9b49f-72cd-4c85-a48e-85f1c985c620",
  "activeVersionId": "74e9b49f-72cd-4c85-a48e-85f1c985c620",
  "versionCounter": 43,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-24T15:13:28.454Z",
      "createdAt": "2026-03-24T15:13:28.454Z",
      "role": "workflow:owner",
      "workflowId": "ZG4Jv9RD7liDpcmM",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T09:50:52.226Z",
    "createdAt": "2026-04-10T09:50:52.226Z",
    "versionId": "74e9b49f-72cd-4c85-a48e-85f1c985c620",
    "workflowId": "ZG4Jv9RD7liDpcmM",
    "nodes": [
      {
        "id": "tur-article-generator-sched",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 11 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "tur-read-topics-minio",
        "name": "Read Topics from Minio",
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 2,
        "position": [
          -200,
          300
        ],
        "continueOnFail": true,
        "credentials": {
          "aws": {
            "id": "HdCw5lSb6jwOHLHd",
            "name": "Minio S3"
          }
        },
        "parameters": {
          "operation": "get",
          "bucketName": "seo-drafts",
          "fileKey": "tur-topics.json"
        }
      },
      {
        "id": "tur-article-generator-pick",
        "name": "Pick Topic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "jsCode": "// Read topics from Minio, fall back to hardcoded list\nlet topics = [];\ntry {\n  const raw = $('Read Topics from Minio').item.json.Body;\n  topics = JSON.parse(raw || '[]');\n} catch(e) { topics = []; }\n\n// Fallback topics if Minio empty\nif (topics.length === 0) {\n  topics = [\"AI-native company building playbook\", \"12-week product experiment framework\", \"remote-first team culture 2026\", \"bootstrapping vs venture funding decision\", \"building in public strategy\", \"personal brand for founders\", \"async-first communication systems\", \"solo founder mental health practices\", \"product-led growth for small teams\", \"side project to profitable product\", \"AI tools for indie hackers\", \"digital nomad infrastructure setup\", \"building audience before product\", \"micro-SaaS niche validation\", \"founder-led sales tactics\"];\n}\n\n// Pick random topic\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
        }
      },
      {
        "id": "tur-article-generator-prompt",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          300
        ],
        "parameters": {
          "jsCode": "const topic = $json.topic;\nconst slug = $json.slug;\nconst date = $json.date;\nconst rssContext = $json.rssContext || '';\n\nconst systemPrompt = \"You are a writer for The Unnamed Roads (theunnamedroads.com) \\u2014 a publication about the unconventional path: building companies, experiments, and adventures without a map. Write in a thoughtful, direct, slightly poetic tone. The audience is indie hackers, founders, and curious builders.\";\n\nconst rssBlock = rssContext ? rssContext + '\\n\\nUse the above context to make your article timely and grounded in current industry developments. Reference or expand on relevant trends where appropriate.\\n\\n' : '';\n\nconst userPrompt = \"Write a comprehensive, well-structured article about: __TOPIC__\\n\\n\".replace('__TOPIC__', topic)\n  + rssBlock\n  + \"Requirements:\\n- 1200-1800 words\\n- Practical and honest, avoid hype\\n- Include real examples and actionable insights\\n- Use H2 and H3 headers for structure\\n- End with key takeaways\\n- NO frontmatter, just the article body starting with a compelling intro paragraph\";\n\nreturn {\n  systemPrompt,\n  userPrompt,\n  slug,\n  topic,\n  date\n};"
        }
      },
      {
        "id": "tur-article-generator-groq",
        "name": "Generate with Groq",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1000,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_API_KEY"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',messages:[{role:'system',content:$json.systemPrompt},{role:'user',content:$json.userPrompt}],temperature:0.7,max_tokens:3000}) }}"
        }
      },
      {
        "id": "tur-article-generator-fmt",
        "name": "Format Article",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "jsCode": "const body = $input.item.json;\nconst slug = $('Pick Topic').item.json.slug;\nconst topic = $('Pick Topic').item.json.topic;\nconst date = $('Pick Topic').item.json.date;\nconst articleText = body.choices?.[0]?.message?.content || '';\nlet title = topic.split(' ').map(w=>w[0].toUpperCase()+w.slice(1)).join(' ');\nlet bodyText = articleText;\nconst firstLine = articleText.split('\\n')[0];\nif (firstLine.startsWith('# ')) { title = firstLine.slice(2).trim(); bodyText = articleText.split('\\n').slice(1).join('\\n').trim(); }\nconst firstPara = bodyText.replace(/^#+.*$/gm,'').replace(/\\n+/g,' ').trim().slice(0,200).split('.').slice(0,2).join('.')+'.'; \nconst description = firstPara.slice(0,160);\nconst tags = topic.toLowerCase().split(' ').filter(w=>w.length>3).slice(0,4);\nconst frontmatter = `---\\ntitle: \"${title.replace(/\"/g, \"'\")}\"\\ndescription: \"${description.replace(/\"/g, \"'\")}\"\\npublishedDate: ${date}\\ndateModified: ${date}\\nauthor: \"The Unnamed Roads\"\\nauthorUrl: \"https://theunnamedroads.com\"\\ndisclosure: \"AI-assisted content\"\\ntags: [${tags.map(t=>`'${t}'`).join(', ')}]\\ndraft: false\\n---`;\nconst fullContent = frontmatter + '\\n\\n' + bodyText;\nreturn [{ json: { fullContent, title, slug } }];"
        }
      },
      {
        "id": "tur-article-generator-pub",
        "name": "Publish via OpenClaw",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1400,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://10.0.2.1:9191/store-and-publish",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({slug: $('Pick Topic').item.json.slug, umamiName: 'theunnamedroads', content: $json.fullContent}) }}"
        }
      },
      {
        "id": "wh-ZG4Jv9RD",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -680,
          300
        ],
        "webhookId": "run-tur-gen",
        "parameters": {
          "path": "run-tur-gen",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "tur-indexnow-01",
        "name": "IndexNow Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1620,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "https://api.indexnow.org/indexnow",
          "options": {},
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({host: 'theunnamedroads.com', key: '6edbaf3226b0a1af8fb89f0b6c3a7232', keyLocation: 'https://theunnamedroads.com/6edbaf3226b0a1af8fb89f0b6c3a7232.txt', urlList: ['https://theunnamedroads.com/posts/' + $('Pick Topic').item.json.slug]}) }}"
        }
      },
      {
        "id": "tur-save-used-slug",
        "name": "Save Used Slug",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1860,
          300
        ],
        "parameters": {
          "jsCode": "// Append published slug to used-slugs list in workflow static data\nconst slug = $('Format Article').item.json.slug || $json.slug || '';\nif (slug) {\n  const data = $getWorkflowStaticData('global');\n  if (!data.usedSlugs) data.usedSlugs = [];\n  if (!data.usedSlugs.includes(slug)) {\n    data.usedSlugs.push(slug);\n  }\n  // Keep max 500 slugs\n  if (data.usedSlugs.length > 500) {\n    data.usedSlugs = data.usedSlugs.slice(-500);\n  }\n}\nreturn $input.all();"
        }
      },
      {
        "id": "tur-rss-fetch-1",
        "name": "Fetch RSS 1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          200,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://hnrss.org/frontpage",
          "options": {}
        }
      },
      {
        "id": "tur-rss-fetch-2",
        "name": "Fetch RSS 2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          300
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "GET",
          "url": "https://www.indiehackers.com/feed.rss",
          "options": {}
        }
      },
      {
        "id": "tur-rss-parse",
        "name": "Parse RSS Headlines",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          300
        ],
        "parameters": {
          "jsCode": "// Parse RSS XML from both feeds and extract top headlines\nfunction parseRSS(xml, maxItems) {\n  if (!xml || typeof xml !== 'string') return [];\n  const items = [];\n  const matches = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                  xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  for (const item of matches.slice(0, maxItems)) {\n    const titleMatch = item.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i);\n    const descMatch = item.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) ||\n                      item.match(/<summary[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/summary>/i);\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc = (descMatch?.[1] || '').replace(/<[^>]+>/g, '').replace(/\\s+/g,' ').trim().substring(0, 150);\n    if (title.length > 10) items.push(title + (desc ? ': ' + desc : ''));\n  }\n  return items;\n}\n\n// Get XML from both previous nodes\nlet xml1 = '', xml2 = '';\ntry { xml1 = String($('Fetch RSS 1').item.json.data || $('Fetch RSS 1').item.json.body || ''); } catch(e) {}\ntry { xml2 = String($('Fetch RSS 2').item.json.data || $('Fetch RSS 2').item.json.body || ''); } catch(e) {}\n\nconst headlines1 = parseRSS(xml1, 4);\nconst headlines2 = parseRSS(xml2, 3);\nconst allHeadlines = [...headlines1, ...headlines2].slice(0, 6);\n\nconst contextText = allHeadlines.length > 0\n  ? 'CURRENT INDUSTRY CONTEXT (recent headlines):\\n' + allHeadlines.map(h => '\\u2022 ' + h).join('\\n')\n  : '';\n\n// Pass through topic + add rssContext\nreturn {\n  topic: $('Pick Topic').item.json.topic,\n  slug: $('Pick Topic').item.json.slug,\n  date: $('Pick Topic').item.json.date,\n  rssContext: contextText,\n  rssCount: allHeadlines.length\n};"
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Topics from Minio": {
        "main": [
          [
            {
              "node": "Pick Topic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Topic": {
        "main": [
          [
            {
              "node": "Fetch RSS 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Generate with Groq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate with Groq": {
        "main": [
          [
            {
              "node": "Format Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Article": {
        "main": [
          [
            {
              "node": "Publish via OpenClaw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Read Topics from Minio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish via OpenClaw": {
        "main": [
          [
            {
              "node": "IndexNow Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IndexNow Ping": {
        "main": [
          [
            {
              "node": "Save Used Slug",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RSS 1": {
        "main": [
          [
            {
              "node": "Fetch RSS 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RSS 2": {
        "main": [
          [
            {
              "node": "Parse RSS Headlines",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse RSS Headlines": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin null",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T09:50:52.277Z",
        "id": 661,
        "workflowId": "ZG4Jv9RD7liDpcmM",
        "versionId": "74e9b49f-72cd-4c85-a48e-85f1c985c620",
        "event": "deactivated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      },
      {
        "createdAt": "2026-04-10T09:50:52.295Z",
        "id": 662,
        "workflowId": "ZG4Jv9RD7liDpcmM",
        "versionId": "74e9b49f-72cd-4c85-a48e-85f1c985c620",
        "event": "activated",
        "userId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    ]
  }
}