product/workflows/geo-aeo-intelligence.json
{"updatedAt":"2026-03-30T09:07:06.757Z","createdAt":"2026-03-30T09:07:06.452Z","id":"VkQ1Roh0KMNkQYKx","name":"geo-aeo-intelligence","description":null,"active":true,"isArchived":false,"nodes":[{"id":"schedule-geo","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"hours","triggerAtHour":7,"triggerAtMinute":0}]}}},{"id":"webhook-geo","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,160],"webhookId":"run-geo-aeo","parameters":{"path":"run-geo-aeo","httpMethod":"POST","responseMode":"lastNode","options":{}}},{"id":"rss-sel","name":"Fetch SEL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,300],"parameters":{"method":"GET","url":"https://searchengineland.com/feed","options":{}}},{"id":"rss-sej","name":"Fetch SEJ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300],"parameters":{"method":"GET","url":"https://www.searchenginejournal.com/feed/","options":{}}},{"id":"rss-semrush","name":"Fetch Semrush","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,300],"parameters":{"method":"GET","url":"https://www.semrush.com/blog/feed/","options":{}}},{"id":"parse-rss","name":"Parse & Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,300],"parameters":{"jsCode":"const parseRSS = (xml) => {\n  const items = [];\n  const itemRe = /<item[\\s\\S]*?<\\/item>/gi;\n  const titleRe = /<title><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/title>|<title>([^<]*)<\\/title>/;\n  const descRe = /<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>|<description>([^<]*)<\\/description>/;\n  const linkRe = /<link>([^<]*)<\\/link>/;\n  const dateRe = /<pubDate>([^<]*)<\\/pubDate>/;\n  let m;\n  while ((m = itemRe.exec(xml)) !== null) {\n    const chunk = m[0];\n    const t = titleRe.exec(chunk); const d = descRe.exec(chunk);\n    const l = linkRe.exec(chunk); const dt = dateRe.exec(chunk);\n    items.push({\n      title: (t && (t[1]||t[2]) || '').trim(),\n      description: (d && (d[1]||d[2]) || '').replace(/<[^>]+>/g,'').trim().slice(0,300),\n      link: l ? l[1].trim() : '',\n      date: dt ? dt[1].trim() : ''\n    });\n  }\n  return items;\n};\n\nconst GEO_TERMS = /geo|aeo|answer engine|generative engine|ai search|llm seo|chatgpt traffic|perplexity|ai overview|sgе|search generative|cited by ai|llm referral|answer box|featured snippet|zero.click|voice search|conversational search/i;\n\nconst sources = [\n  { name: 'SearchEngineLand', body: $('Fetch SEL').first().json.data || $('Fetch SEL').first().json.body || '' },\n  { name: 'SEJ', body: $('Fetch SEJ').first().json.data || $('Fetch SEJ').first().json.body || '' },\n  { name: 'Semrush', body: $('Fetch Semrush').first().json.data || $('Fetch Semrush').first().json.body || '' }\n];\n\nconst allItems = [];\nfor (const src of sources) {\n  const xml = typeof src.body === 'string' ? src.body : JSON.stringify(src.body);\n  const items = parseRSS(xml);\n  for (const item of items) {\n    const text = item.title + ' ' + item.description;\n    if (GEO_TERMS.test(text)) {\n      allItems.push({ source: src.name, ...item });\n    }\n  }\n}\n\nconst summary = allItems.slice(0, 8).map(i => `[${i.source}] ${i.title}\\n${i.description}`).join('\\n\\n');\nconst count = allItems.length;\n\nreturn [{ json: { items: allItems.slice(0, 8), summary, count } }];"}},{"id":"groq-geo","name":"Groq Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,300],"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer REDACTED"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.3, max_tokens: 1200, messages: [{ role: 'system', content: 'You are a GEO/AEO expert. Analyze SEO news and extract concrete, actionable optimizations for AI-driven search. Return JSON: { insights: [{title, action, priority: high|medium, applies_to: [eik|tha|all]}], summary: string }' }, { role: 'user', content: $json.count + ' GEO/AEO articles found today:\\n\\n' + $json.summary + '\\n\\nExtract top 3 actionable insights. Be specific — e.g. \"Add FAQ schema to top articles\", \"Use direct answer format in H2s\", \"Add author bio with credentials\". If no relevant articles found, return general best-practice insights for the week.' }] }) }}"}},{"id":"build-insights","name":"Build Insights","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300],"parameters":{"jsCode":"const groqResp = $input.first().json;\nconst raw = groqResp.choices[0].message.content;\nlet parsed = {};\ntry { const m = raw.match(/\\{[\\s\\S]*\\}/); parsed = m ? JSON.parse(m[0]) : {}; } catch(e) { parsed = { insights: [], summary: raw }; }\n\nconst output = {\n  date: new Date().toISOString().slice(0,10),\n  insights: parsed.insights || [],\n  summary: parsed.summary || '',\n  article_count: $('Parse & Filter').first().json.count\n};\nreturn [{ json: output }];"}},{"id":"save-insights","name":"Save to Minio","type":"n8n-nodes-base.s3","typeVersion":1,"position":[1680,300],"parameters":{"operation":"upload","bucketName":"seo-drafts","fileName":"geo-aeo-insights.json","binaryData":false,"fileContent":"={{ JSON.stringify($json) }}","additionalFields":{}},"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}}},{"id":"format-tg-geo","name":"Format Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,300],"parameters":{"jsCode":"const d = $('Build Insights').first().json;\nconst insights = d.insights || [];\n\nconst lines = insights.map((i, idx) => {\n  const prio = i.priority === 'high' ? '🔴' : '🟡';\n  const sites = (i.applies_to || ['all']).join(', ');\n  return `${prio} <b>${i.title}</b>\\n   Action: ${i.action}\\n   Sites: ${sites}`;\n});\n\nconst text = '<b>GEO/AEO daglig intelligens</b>\\n' +\n  (d.article_count > 0 ? `${d.article_count} relevanta artiklar hittade\\n` : 'Inga nya artiklar – generella insikter\\n') +\n  '\\n' + (lines.length ? lines.join('\\n\\n') : d.summary);\n\nreturn [{ json: { text } }];"}},{"id":"telegram-geo","name":"Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,300],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: '-1003767033253', text: $json.text, parse_mode: 'HTML', disable_web_page_preview: true }) }}","options":{}}}],"connections":{"Schedule":{"main":[[{"node":"Fetch SEL","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Fetch SEL","type":"main","index":0}]]},"Fetch SEL":{"main":[[{"node":"Fetch SEJ","type":"main","index":0}]]},"Fetch SEJ":{"main":[[{"node":"Fetch Semrush","type":"main","index":0}]]},"Fetch Semrush":{"main":[[{"node":"Parse & Filter","type":"main","index":0}]]},"Parse & Filter":{"main":[[{"node":"Groq Analysis","type":"main","index":0}]]},"Groq Analysis":{"main":[[{"node":"Build Insights","type":"main","index":0}]]},"Build Insights":{"main":[[{"node":"Save to Minio","type":"main","index":0}]]},"Save to Minio":{"main":[[{"node":"Format Telegram","type":"main","index":0}]]},"Format Telegram":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"de86eadc-c864-488b-92f7-cea765d77c49","activeVersionId":"de86eadc-c864-488b-92f7-cea765d77c49","versionCounter":8,"triggerCount":2,"shared":[{"updatedAt":"2026-03-30T09:07:06.452Z","createdAt":"2026-03-30T09:07:06.452Z","role":"workflow:owner","workflowId":"VkQ1Roh0KMNkQYKx","projectId":"RHmvhzmrGVxfYtJl","project":{"updatedAt":"2026-03-24T07:55:26.263Z","createdAt":"2025-09-13T05:33:40.796Z","id":"RHmvhzmrGVxfYtJl","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-30T09:07:06.462Z","createdAt":"2026-03-30T09:07:06.462Z","versionId":"de86eadc-c864-488b-92f7-cea765d77c49","workflowId":"VkQ1Roh0KMNkQYKx","nodes":[{"id":"schedule-geo","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"hours","triggerAtHour":7,"triggerAtMinute":0}]}}},{"id":"webhook-geo","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,160],"webhookId":"run-geo-aeo","parameters":{"path":"run-geo-aeo","httpMethod":"POST","responseMode":"lastNode","options":{}}},{"id":"rss-sel","name":"Fetch SEL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,300],"parameters":{"method":"GET","url":"https://searchengineland.com/feed","options":{}}},{"id":"rss-sej","name":"Fetch SEJ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300],"parameters":{"method":"GET","url":"https://www.searchenginejournal.com/feed/","options":{}}},{"id":"rss-semrush","name":"Fetch Semrush","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,300],"parameters":{"method":"GET","url":"https://www.semrush.com/blog/feed/","options":{}}},{"id":"parse-rss","name":"Parse & Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,300],"parameters":{"jsCode":"const parseRSS = (xml) => {\n  const items = [];\n  const itemRe = /<item[\\s\\S]*?<\\/item>/gi;\n  const titleRe = /<title><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/title>|<title>([^<]*)<\\/title>/;\n  const descRe = /<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>|<description>([^<]*)<\\/description>/;\n  const linkRe = /<link>([^<]*)<\\/link>/;\n  const dateRe = /<pubDate>([^<]*)<\\/pubDate>/;\n  let m;\n  while ((m = itemRe.exec(xml)) !== null) {\n    const chunk = m[0];\n    const t = titleRe.exec(chunk); const d = descRe.exec(chunk);\n    const l = linkRe.exec(chunk); const dt = dateRe.exec(chunk);\n    items.push({\n      title: (t && (t[1]||t[2]) || '').trim(),\n      description: (d && (d[1]||d[2]) || '').replace(/<[^>]+>/g,'').trim().slice(0,300),\n      link: l ? l[1].trim() : '',\n      date: dt ? dt[1].trim() : ''\n    });\n  }\n  return items;\n};\n\nconst GEO_TERMS = /geo|aeo|answer engine|generative engine|ai search|llm seo|chatgpt traffic|perplexity|ai overview|sgе|search generative|cited by ai|llm referral|answer box|featured snippet|zero.click|voice search|conversational search/i;\n\nconst sources = [\n  { name: 'SearchEngineLand', body: $('Fetch SEL').first().json.data || $('Fetch SEL').first().json.body || '' },\n  { name: 'SEJ', body: $('Fetch SEJ').first().json.data || $('Fetch SEJ').first().json.body || '' },\n  { name: 'Semrush', body: $('Fetch Semrush').first().json.data || $('Fetch Semrush').first().json.body || '' }\n];\n\nconst allItems = [];\nfor (const src of sources) {\n  const xml = typeof src.body === 'string' ? src.body : JSON.stringify(src.body);\n  const items = parseRSS(xml);\n  for (const item of items) {\n    const text = item.title + ' ' + item.description;\n    if (GEO_TERMS.test(text)) {\n      allItems.push({ source: src.name, ...item });\n    }\n  }\n}\n\nconst summary = allItems.slice(0, 8).map(i => `[${i.source}] ${i.title}\\n${i.description}`).join('\\n\\n');\nconst count = allItems.length;\n\nreturn [{ json: { items: allItems.slice(0, 8), summary, count } }];"}},{"id":"groq-geo","name":"Groq Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,300],"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer REDACTED"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.3, max_tokens: 1200, messages: [{ role: 'system', content: 'You are a GEO/AEO expert. Analyze SEO news and extract concrete, actionable optimizations for AI-driven search. Return JSON: { insights: [{title, action, priority: high|medium, applies_to: [eik|tha|all]}], summary: string }' }, { role: 'user', content: $json.count + ' GEO/AEO articles found today:\\n\\n' + $json.summary + '\\n\\nExtract top 3 actionable insights. Be specific — e.g. \"Add FAQ schema to top articles\", \"Use direct answer format in H2s\", \"Add author bio with credentials\". If no relevant articles found, return general best-practice insights for the week.' }] }) }}"}},{"id":"build-insights","name":"Build Insights","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300],"parameters":{"jsCode":"const groqResp = $input.first().json;\nconst raw = groqResp.choices[0].message.content;\nlet parsed = {};\ntry { const m = raw.match(/\\{[\\s\\S]*\\}/); parsed = m ? JSON.parse(m[0]) : {}; } catch(e) { parsed = { insights: [], summary: raw }; }\n\nconst output = {\n  date: new Date().toISOString().slice(0,10),\n  insights: parsed.insights || [],\n  summary: parsed.summary || '',\n  article_count: $('Parse & Filter').first().json.count\n};\nreturn [{ json: output }];"}},{"id":"save-insights","name":"Save to Minio","type":"n8n-nodes-base.s3","typeVersion":1,"position":[1680,300],"parameters":{"operation":"upload","bucketName":"seo-drafts","fileName":"geo-aeo-insights.json","binaryData":false,"fileContent":"={{ JSON.stringify($json) }}","additionalFields":{}},"credentials":{"s3":{"id":"HdCw5lSb6jwOHLHd","name":"THA Minio"}}},{"id":"format-tg-geo","name":"Format Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,300],"parameters":{"jsCode":"const d = $('Build Insights').first().json;\nconst insights = d.insights || [];\n\nconst lines = insights.map((i, idx) => {\n  const prio = i.priority === 'high' ? '🔴' : '🟡';\n  const sites = (i.applies_to || ['all']).join(', ');\n  return `${prio} <b>${i.title}</b>\\n   Action: ${i.action}\\n   Sites: ${sites}`;\n});\n\nconst text = '<b>GEO/AEO daglig intelligens</b>\\n' +\n  (d.article_count > 0 ? `${d.article_count} relevanta artiklar hittade\\n` : 'Inga nya artiklar – generella insikter\\n') +\n  '\\n' + (lines.length ? lines.join('\\n\\n') : d.summary);\n\nreturn [{ json: { text } }];"}},{"id":"telegram-geo","name":"Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,300],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: '-1003767033253', text: $json.text, parse_mode: 'HTML', disable_web_page_preview: true }) }}","options":{}}}],"connections":{"Schedule":{"main":[[{"node":"Fetch SEL","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Fetch SEL","type":"main","index":0}]]},"Fetch SEL":{"main":[[{"node":"Fetch SEJ","type":"main","index":0}]]},"Fetch SEJ":{"main":[[{"node":"Fetch Semrush","type":"main","index":0}]]},"Fetch Semrush":{"main":[[{"node":"Parse & Filter","type":"main","index":0}]]},"Parse & Filter":{"main":[[{"node":"Groq Analysis","type":"main","index":0}]]},"Groq Analysis":{"main":[[{"node":"Build Insights","type":"main","index":0}]]},"Build Insights":{"main":[[{"node":"Save to Minio","type":"main","index":0}]]},"Save to Minio":{"main":[[{"node":"Format Telegram","type":"main","index":0}]]},"Format Telegram":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-30T09:07:06.885Z","id":460,"workflowId":"VkQ1Roh0KMNkQYKx","versionId":"de86eadc-c864-488b-92f7-cea765d77c49","event":"activated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"},{"createdAt":"2026-03-30T09:07:36.478Z","id":463,"workflowId":"VkQ1Roh0KMNkQYKx","versionId":"de86eadc-c864-488b-92f7-cea765d77c49","event":"deactivated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"},{"createdAt":"2026-03-30T09:07:38.915Z","id":466,"workflowId":"VkQ1Roh0KMNkQYKx","versionId":"de86eadc-c864-488b-92f7-cea765d77c49","event":"activated","userId":"8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"}]}}