openclaw/n8n/tpr-earlyaccess-telegram-workflow.json
{
  "updatedAt": "2026-04-09T15:16:33.966Z",
  "createdAt": "2025-12-17T08:46:17.555Z",
  "id": "mDGp19PK7pRrbsfE",
  "name": "tpr-earlyaccess-telegram",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "early-access",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4b230738-1062-44c7-9db7-8f708bd50f92",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "early-access"
    },
    {
      "parameters": {
        "jsCode": "// Dedup check - prevent duplicate notifications within 10 minutes\nconst email = $input.first().json.body?.email || $input.first().json.email || 'unknown';\nconst eventType = 'early-access';\nconst key = 'dedup_' + eventType + '_' + email.toLowerCase().replace(/[^a-z0-9]/g,'');\nconst now = Date.now();\nconst ttl = 10 * 60 * 1000; // 10 minutes\n\nconst stored = $getWorkflowStaticData('global');\nif (!stored.dedup) stored.dedup = {};\n\n// Clean expired entries\nfor (const k of Object.keys(stored.dedup)) {\n  if (now - stored.dedup[k] > ttl) {\n    delete stored.dedup[k];\n  }\n}\n\nif (stored.dedup[key]) {\n  // Duplicate within TTL - stop execution\n  return [];\n}\n\n// Mark as seen\nstored.dedup[key] = now;\nreturn $input.all();"
      },
      "id": "a1b2c3d4",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you for your interest! We'll be in touch soon.\" } }}",
        "options": {}
      },
      "id": "454945dc-5847-456b-b8d0-f1b153feb25d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawData = $input.item.json;\nconst data = rawData.body || rawData;\n\nconst name = data.name || 'N/A';\nconst email = data.email || 'N/A';\nconst message = data.message || '';\nconst source = data.source || 'The Print Route';\nconst ts = new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Stockholm' });\n\nconst text = `\\u{1F3AF} <b>Ny kontaktförfrågan – ${source}</b>\\n\\n<b>Namn:</b> ${name}\\n<b>E-post:</b> ${email}` + (message ? `\\n<b>Meddelande:</b> ${message}` : '') + `\\n<b>Källa:</b> ${source}\\n<b>Tid:</b> ${ts}`;\n\nconst token = '8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc';\nconst chatId = '-1003767033253';\n\ntry {\n  const response = await fetch(`https://api.telegram.org/bot${token}/sendMessage`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: chatId, text, parse_mode: 'HTML' })\n  });\n  return [{ json: { success: response.ok } }];\n} catch (e) {\n  return [{ json: { success: false } }];\n}"
      },
      "id": "d5f10f8d-b1fb-40e1-8531-101c9102e43c",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "global": {
      "dedup": {
        "dedup_early-access_testdeduptest": 1775747835109
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e9c87b45-296a-4746-b40d-ef85f7552fd1",
  "activeVersionId": null,
  "versionCounter": 36,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-17T08:46:17.555Z",
      "createdAt": "2025-12-17T08:46:17.555Z",
      "role": "workflow:owner",
      "workflowId": "mDGp19PK7pRrbsfE",
      "projectId": "RHmvhzmrGVxfYtJl",
      "project": {
        "updatedAt": "2026-03-24T07:55:26.263Z",
        "createdAt": "2025-09-13T05:33:40.796Z",
        "id": "RHmvhzmrGVxfYtJl",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d8941e8-6bf2-42a2-99ae-5c08da3c2d1a"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}