openclaw/n8n/tpr-earlyaccess-telegram-workflow.json
{
  "name": "tpr-earlyaccess-telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "early-access",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4b230738-1062-44c7-9db7-8f708bd50f92",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "early-access"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $input.item.json;\nconst data = rawData.body || rawData;\n\nconst name = data.name || 'N/A';\nconst email = data.email || 'N/A';\nconst message = data.message || '';\nconst ts = new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Stockholm' });\n\nconst text = `\\u{1F3AF} <b>New Early Access \\u2013 The Print Route</b>\\n\\n<b>Name:</b> ${name}\\n<b>Email:</b> ${email}` + (message ? `\\n<b>Message:</b> ${message}` : '') + `\\n<b>Time:</b> ${ts}`;\n\nconst token = $env.TELEGRAM_BOT_TOKEN || '8683132686:AAF5yJ206OcLKsSBx0n4Nm4uBAxcQlRbwyc';\nconst chatId = '-1003767033253';\n\ntry {\n  const response = await fetch(`https://api.telegram.org/bot${token}/sendMessage`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: chatId, text, parse_mode: 'HTML' })\n  });\n  return [{ json: { success: response.ok } }];\n} catch (e) {\n  return [{ json: { success: false } }];\n}"
      },
      "id": "d5f10f8d-b1fb-40e1-8531-101c9102e43c",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you for your interest! We'll be in touch soon.\" } }}",
        "options": {}
      },
      "id": "454945dc-5847-456b-b8d0-f1b153feb25d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Send Telegram", "type": "main", "index": 0}]]
    },
    "Send Telegram": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
